/* Tooltip Registration Form Password */

body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand';
}

.myDIV:hover+.hide {
    width: 13em;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 1em;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.add_gln_btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.grid-container-days {
    display: grid;
    grid-template-columns: auto;
    row-gap: 15px;
}

.grid-container-hours {
    display: grid;
    grid-template-columns: 95px 160px 160px 160px 160px;
}

.grid-container-vormittag {
    font-weight: bold;
    display: flex;
    grid-column: 2/4;
    justify-self: center;
}

.grid-container-nachmittag {
    font-weight: bold;
    display: flex;
    justify-self: center;
    grid-column: 4/6;
}

.weekdays-displayed {
    font-weight: bold;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

[id^=id_form-] {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    width: 110px;
    height: 35px;
}

input[type='time'] {
    padding: 15px;
}

.grid-container-hours p {
    padding-right: 10px;
}

.grid-item-card {
    padding: 15px;
    background-color: azure;
    border: 1px solid darkgray;
    border-radius: 6px;
    box-shadow: 10px 20px 15px silver;
}

header {
    background-color: rgba(54, 86, 61, 0.06);
}

.grid-btn:hover {
    box-shadow: 5px 10px 18px rgba(136, 136, 136, 0.3);
}

.grid-btn {
    display: grid;
    grid-template-columns: 20vw 3vw;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    font-family: 'Quicksand';
    border: 0.5px solid lightgray;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 6px;
    -webkit-transition: box-shadow 1s ease-out;
    -moz-transition: box-shadow 1s ease-out;
    -ms-transition: box-shadow 1s ease-out;
    -o-transition: box-shadow 1s ease-out;
    transition: box-shadow 1s ease-out;
}

.grid-btn-item-left1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
}

.grid-btn-item-left2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    color: #8692A6;
    align-self: center;
}

.grid-btn-arrow {
    justify-self: center;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.btn-arrow-color {
    filter: invert(13%) sepia(91%) saturate(3864%) hue-rotate(243deg) brightness(115%) contrast(117%);
}

.info-text {
    color: #8692A6;
}

.btn-gln-place-color {
    filter: invert(8%) sepia(97%) saturate(6814%) hue-rotate(0deg) brightness(112%) contrast(114%);
}

.gln-location-profile-btn {
    width: 100%;
}

.grid-btn-gln-location-profile:hover {
    box-shadow: 5px 10px 18px rgba(136, 136, 136, 0.3);
}

#map {
    border: 0.5px solid lightgray;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 6px;
}

.grid-btn-gln-location-profile {
    display: grid;
    width: 500px;
    grid-template-columns: 90% 10%;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    border: 0.5px solid lightgray;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 6px;
    -webkit-transition: box-shadow 1s ease-out;
    -moz-transition: box-shadow 1s ease-out;
    -ms-transition: box-shadow 1s ease-out;
    -o-transition: box-shadow 1s ease-out;
    transition: box-shadow 1s ease-out;
}

.grid-btn-gln-location-profile-item-left1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 30px 1fr;
}

.grid-btn-gln-location-profile-item-left2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: start;
    align-self: center;
    color: #8692A6;
}

.grid-btn-gln-location-profile-arrow {
    justify-self: center;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.main-sidebar {
    width: 250px;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.47);
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

.wrapper {
    display: inline-grid;
    grid-template-columns: 250px 1fr;
    position: absolute;
    height: 100%;
}

.sidebar {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
}

.profil-username {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: url('../images/brush-stroke-banner-5.png');
    background: linear-gradient(to left, white, rgba(196, 196, 196, 0.30));
}

.sidebar a {
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user_profile_btn_align {
    margin-left: -25px;
}

.select2-dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.4)!important;
    box-shadow: 5px 10px 18px #888888d3;
    color: white !important;
    padding: 15px 0 15px 20px;
    border-radius: 5px;
    margin: 0 -15px;
    /* Hide horizontal scrollbar */
}

.ui-helper-hidden-accessible {
    display: none;
}

.select2-dropdown {
    color: #929292;
    border: 2px solid #929292;
    background-color: #fff;
    border-radius: 5px;
    position: relative !important;
    max-width: 97%;
    margin-left: 1.8% !important;
    margin-right: -5px;
}

.select2-results__option--highlighted {
    background-color: white !important;
    color: #929292 !important;
}

.select2-results__options {
    overflow-x: hidden;
}

.select2-results__options::-webkit-scrollbar {
    width: 10px !important;
}

.select2-results__options::-webkit-scrollbar-track {
    border-radius: 0 0 3px 0 !important;
    box-shadow: inset 0 0 5px grey;
}

.select2-results__options::-webkit-scrollbar-thumb {
    border-radius: 6px !important;
    background-color: #868686;
}