body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand';
}

#fh5co-page {
    overflow: hidden;
}


/*----------------------------landing---------------------*/

.container-landing-1 {
    padding: 100px 0 100px 0;
}

.container-landing-1 .card-img-top {
    display: flex;
    justify-content: center;
}

.container-landing-1 .box-1 {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 350px;
    margin: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container-landing-1 .card-text {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.intro-section input[type="text"] {
    padding-left: 2.8rem;
}

#fh5co-intro-section {
    width: 100%;
    color: white !important;
    background: rgb(25, 0, 0) !important;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 31%, rgba(0, 4, 28, 0.7511379551820728) 73%), url('../images/blog5_head.jpg') !important;
    background-size: cover !important;
    border-radius: 0px 0px 50px 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.landing-header-grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #505050;
    font-family: 'Quicksand';
}

.landing-header-grid-container a {
    color: #505050;
}

.landing-header-grid-container nav {
    justify-self: end;
}
.navbar-background-responsive{
    background-color: transparent;
}
.landing-icon-section {
    display: grid;
}

.landing-icon-section-item img {
    width: 100px;
    height: auto;
}

#we-compare-for-u-svg {
    width: 400px;
}

.homepage-top {
    width: 5rem;
}
.navbar-element-login{
    border: 1px solid #999; 
    border-radius: 30px;
}

.header-logo{
    width: 100%;
}
#headline-landing{
    font-size: 3.5rem
}

@media only screen and (max-width: 576px) {
    .navbar-background-responsive{
        background-color: white;
        
    }
    .navbar-container{
        margin-top:1px;
        border-radius: 8px;
        border: 2px solid #999;
        background-color: white;
        position: absolute;
        min-width: 15rem;
        right: 2vw;
        text-align: end;
        font-size: 25px;
    }
    .navbar-element-login{
        
        border-radius: 0;
        background-color: #999;
    }
    .navbar-element-login a{
        color:white;
    }
    .header-logo{
        min-width: 15rem;
    }
    #headline-landing{
        font-size: 45px !important;
    }
}
@media only screen and (max-width: 330px) {
    .header-logo{
        min-width: 13rem;
    }
}


/*----------------------------end landing---------------------*/


/*----------------------------footer---------------------*/

.footer-main-text {
    height: 240px;
}

.footer-container {
    background-color: #505050;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 101vw;
}

@media only screen and (max-width: 576px) {
    .footer-main-text {
        height: 100%;
    }
}
.footer-container {
    height: 100%;
}

/*----------------------------end footer ---------------------*/
/*----------------------------partner werden---------------------*/
.partner-werden-first-textblock{
    font-weight:normal; 
    line-height: 1.7; 
    position: relative; 
    bottom: 1.4em; 
    left: 11em
}
.partner-werden-first-textblock-headline{
    margin-top: -4.3em;
    margin-left: -15em;
}

.partner-werden-svg-register-container{
    position: relative; 
    margin-top: -24.25em; 
    margin-left: -15em;
}
.partner-werden-be-part{
    font-size: 48px; 
    position: relative; 
    left: 25rem; 
    z-index: 1;
}
.partner-werden-register-button-top{
    position: relative; 
    z-index: 100; 
    margin-left:-11rem; 
    height:45px; 
	font-size: 20px; 
    border-radius: 30px; 
    width: 250px; 
    font-weight: normal;
}
@media only screen and (max-width: 576px) {
    .partner-werden-first-textblock-headline{
        margin-top: 0;
        margin-left: 0;
    }
    .partner-werden-be-part{
        font-size: 35px; 
        position: static; 
        left: 0; 
        z-index: 1;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .partner-werden-be-part b{
        font-size: 50px !important;
    }
    .partner-werden-first-textblock-container{
        flex-direction: column-reverse;
    }
    .partner-werden-first-textblock{         
       
        position: static; 
        bottom: 0; 
        left: 0;
    }
    .partner-werden-svg-register-container{
        margin-top: 0; 
        margin-left: 0;
        padding-top: 14em;
    }
    .partner-werden-svg-register-container svg{
        width: 300px !important;
        top: -17em;
        left: -9em;
        position:absolute;
    }
    .partner-werden-register-button-top{
        position: relative; 
        z-index: 100; 
        margin-left:0; 
        height:45px; 
        font-size: 20px; 
        border-radius: 30px; 
        width: 250px; 
        font-weight: normal;
    }
}
/*----------------------------end partner werden---------------------*/

/*----------------------------vision---------------------*/


/*----------------------------end vision---------------------*/


/*----------------------------blog---------------------*/

.revi-favi {
    padding: 15px 20% 10px 20%;
    width: 100px;
    height: auto;
}

.knopf {
    padding: 10px 15px;
    border-color: #2e6da4;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 6px;
    -webkit-transition: box-shadow 1s ease-out;
    -moz-transition: box-shadow 1s ease-out;
    -ms-transition: box-shadow 1s ease-out;
    -o-transition: box-shadow 1s ease-out;
    transition: box-shadow 1s ease-out;
    text-decoration: none;
    background-color: #337ab7;
}

.knopf:hover {
    box-shadow: 5px 10px 18px rgba(136, 136, 136, 0.3);
    color: white;
}

.card-title {
    font-weight: bold;
}

.blog .card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


/*----------------------------end Blog---------------------*/


/*----------------------------registration---------------------*/

.registration-container {
    min-height: 64vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20vh;
    
}

#abfallbehandler_radio, #bauunternehmer_radio{
    visibility: hidden;
}
#abfallbehandler_radio:checked+label{
    border: 3px solid rgba(12, 110, 253, 0.61);
    background-color: rgba(12, 110, 253, 0.26);
    color: black;
}

.registration-radio-label{
    cursor: pointer;
}



/*----------------------------END registration---------------------*/


/*----------------------------nearby search-site---------------------*/

.nearby-container {
    min-height: 64vh;
}

#ui-id-1 li:hover {
    background-color: #1963D1!important;
    box-shadow: 5px 10px 18px #888888d3;
    color: white !important;
    padding: 15px 0 15px 20px;
    border-radius: 5px;
    margin: 0 -15px;
    /* Hide horizontal scrollbar */
}

.ui-helper-hidden-accessible {
    display: none;
}

#ui-id-1 {
    list-style: none;
    line-height: 2;
    color: #929292;
    border: 2px solid #929292;
    background-color: #fff;
    border-radius: 5px;
    position: relative !important;
    padding: 0.5em 1.5em 0.5em 1.5em;
    max-width: 700px;
}

.select2-results__option--highlighted {
    background-color: white !important;
    color: #929292 !important;
}

.select2-results__options {
    overflow-x: hidden;
}

.select2-results__options::-webkit-scrollbar {
    width: 10px !important;
}

.select2-results__options::-webkit-scrollbar-track {
    border-radius: 0 0 3px 0 !important;
    box-shadow: inset 0 0 5px grey;
}

.select2-results__options::-webkit-scrollbar-thumb {
    border-radius: 6px !important;
    background-color: #868686;
}


/*----------------------------END nearby search-site---------------------*/