{% extends "admin/base_site.html" %}
{% block content %}
<div class="py-5">
    <a href="{% url 'Dash:import_material_AT'%}">
        <button type="submit" class="btn btn-primary" >
         Österreichische Abfallmaterialien laden
    </button></a>
    
<a class="px-3" href="{% url 'Dash:import_material_EU'%}">
    <button type="submit" class="btn btn-primary" >
    Europäische Abfallmaterialien laden
</button></a>
</div>
{% endblock %}