{% extends "dash/base.html" %}{%load static%}{% block body_block %}
   
        <!---------------------- context ------------------->
        <div id="fh5co-services-section" >
            <div class="container py-5" style="">
                <div class="row pt-5">

            <div class="" col blog-article-body fett p-0 ">
                
                <div class=" row pb-4">
                    <h3 class="text-bold pb-4">Baustoffrecycling: der harte Weg zur Akzeptanz

                    </h3>
                    <div class="pb-2 row">

                        <div class="col">

                            <figure class="float-start p-0 m-0"><img style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;max-height: 600px; margin: 5px 15px 0 0; padding: 0"
                                    class="float" src="{% static '/images/blog/blog4_bagger.jpg' %}">
                                <figcaption class="text-muted text-end" style="font-size: small; margin: 5px 15px 0 0">
                                    Foto von Ringler und WKO-Tirol
                                </figcaption>
                            </figure><p>Mineralische Abfälle stellen mengenmäßig einen der größten Abfallströme in Europa dar.
                                Allein in Deutschland fallen jedes Jahr über 200 Mio. Tonnen an. Häufig werden
                                Aushubmaterialien kilometerweit quer durchs Land transportiert. Das verursacht nicht nur
                                enorme Kosten für die Unternehmen, sondern auch einen zunehmenden logistischen Aufwand.
                                Entsprechend groß ist das Potenzial, Bauschutt und Bodenmaterial vor Ort
                                wiederzuverwenden. Bislang mangelt es den Sekundärrohstoffen vielfach an Akzeptanz durch
                                die Bauwirtschaft. Der Mangel seitens der Bauindustrie wird häufig durch die Interessen
                                der Rohstofflobby bestärk. Unsere Nachbarländer Niederlande und die Schweiz, Vorreiter
                                im Bereich Baustoffrecycling, würden die großen Mengen an Bauschutt gerne annehmen. Hier
                                werden bereits Recycling-Materialien für öffentliche Projekte zwingend vorgeschrieben.
                            </p>
                            <p>
                            <h5>Basis einer nachhaltigen Bauwirtschaft</h5>
                            In puncto Rohstoffeffizienz sprechen die Fakten ebenfalls für sich. Der Einsatz von
                            Recyclingbaustoffen schont einerseits die natürlichen Vorräte an Primärrohstoffen und spart
                            zugleich Deponierraum ein, den Materialabfälle ansonsten benötigen würden. Von der Gewinnung
                            bis zur Entsorgung trägt recyceltes Baumaterial so zum umweltpolitischen Ziel des sparsamen
                            Umgangs mit Grund und Boden bei. Auch beim Thema Kreislaufwirtschaft sind Recyclingbaustoffe
                            nicht wegzudenken. Reste aus dem Hoch- und Tiefbau wie beispielsweise Asphalt, Beton oder
                            Ziegel lassen sich schon jetzt problemlos als Straßenbaumaterial oder Verfüllbaustoff
                            einsetzen. Um einen ganzheitlichen Kreislaufgedanken in der Baubranchen durchsetzen zu
                            können, müssen Sekundärmaterialien aber als gleichwertig angesehen werden. Das bedeutet,
                            Rahmenbedingungen müssen sich insofern ändern, dass die Materialien zu einem Großteil im
                            Hochbau eingesetzt werden müssen. Hierbei sind öffentliche Institutionen als größter
                            Auftraggeber der Industrie gefordert, bereits bei Ausschreibungen für neue Projekte den
                            Einsatz von Recycling-Materialien verbindlich zu fordern. Produktneutrale, funktionsbezogene
                            Spezifikationen wären ein wichtiger Schritt, den Markt für Recyclingbaustoffe zu öffnen und
                            eine Maßnahme mit Vorbildfunktion für die Privatwirtschaft. Aktuell besteht noch
                            Handlungsbedarf bei den rechtlichen Rahmenbedingungen. Um Recycling und Ressourceneffizienz
                            im Bereich Baustoffe flächendeckend auszubauen, sind einheitliche Regulierung und
                            Harmonisierung der Verordnungen notwendig.</p>
                            <p>
                            
                            Nehmen wir als Beispiel die Zementproduktion. Sie ist ein CO2-Fresser und die Rohstoffe
                            werden immer knapper. Der Abbau von Sand und Kies bleibt nicht ohne Folgen. Der
                            Kiesabbau
                            wird immer näher an Naturschutzgebiete wie Moore und Quellen herangeführt. Trotzdem
                            landen
                            Millionen von Tonnen Bauschutt auf der Deponie. Bauschutt als Rohstoffquelle ist immer
                            noch
                            verpönt, die Vorbehalte sind groß. Zu Unrecht sagen immer mehr Experten. Die Schweiz
                            macht
                            es vor: In Zürich wird seit 2002 Recyclingbeton für den Bau von öffentlichen Gebäuden
                            verwendet. Auch die Niederlande sind Vorreiter. Ihr Kreislaufwirtschaftsgesetz zielt auf
                            ein
                            vollständig nachhaltiges Bauen bis 2050. Nachhaltigkeitsforscher fordern einen
                            Kurswechsel
                            in der Bauwirtschaft. Die Widerstände sind aber groß sind und die Bauwirtschaft ist
                            träge.
                            Welche ökonomischen Leitplanken sind notwendig, um endlich für die Zukunft zu bauen?</p>


                            <p>Wir sind der Meinung es gibt Alternativen. Als junges Start-up fordern wir Wirtschaft und
                                Politik dazu auf, die rechtlichen Rahmenbedingungen anzupassen. Die qualitätsgesicherten
                                Recyclingbaustoffe können mit den Primärbaustoffen mithalten und sind häufig sogar
                                besser.
                                Vorbehalte gegen Recyclingbaustoffe existieren dennoch vielfach, wenn es um
                                Qualitätsfragen
                                und Leistungsmerkmale geht. Neben den vielfältigen Einsatzmöglichkeiten im Straßen-,
                                Tief-
                                oder Landschaftsbau besitzen Recyclingbaustoffe einige Vorteile gegenüber vergleichbar
                                eingesetzten Baustoffen aus Naturstein. Zunächst kann durch die geringere Dichte der
                                Recyclingbaustoffe im Vergleich zu Naturprodukten eine bessere Transportauslastung
                                gewährleistet werden. Die vollwertige Tauglichkeit der Rohstoffe wird durch eine Reihe
                                von
                                Qualitätsnachweisen und Zertifikaten bestätigt. Wird Material direkt beim Abriss
                                aufbereitet
                                und auf umliegenden Baustellen wieder verbaut, sparen sich die Unternehmen hohe
                                Transportkosten und weniger CO2 wird verbraucht. Ein netter Nebeneffekt: durch die
                                eingesparten Transportwege verringert sich der Straßenverschleiß und öffentliche Gelder
                                können dort investiert werden, wo sie dringender benötigt werden. Für Projekte zum
                                Klimaschutz beispielsweise.</p>



                            <p class="text-muted" style="font-size: small"> ~David Plaseller~ <br> CEO
                                Revitalyze</p>
                            </p>

                            </p>

                        </div>
                        <div class="row d-flex justify-content-end">
                            <div class="col d-flex justify-content-start pb-3 px-5">
                                <a href="{%url 'Dash:blog_overview'%}"" target="" class="knopf">zurück zur Artikelübersicht</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        {% endblock %}