{% extends "dash/base.html" %}{%load static%}{% block body_block %}
   
        <!---------------------- context ------------------->
        <div id="fh5co-services-section" >
            <div class="container py-5" style="">
                <div class="row pt-5">

            <div class="col blog-article-body fett p-0 ">
                <div class="text-center">
                    <img class="w-75 die-geilsten" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;" src="{% static '/images/blog/blog_post2.jpg' %}">
                    <p class="text-muted text-end py-1 pt-2" style="position: relative; right: 15em;font-size: small">Foto von Yury Kim von Pexels
                    </p>
                </div>
                <div class="row pb-4">
                    <h3 class="text-bold py-1">Von wegen Kreislaufwirtschaft: das dreckige Geschäft mit dem
                        Handel von CO2-Zertifikaten
                    </h3>
                    <div class=" pb-2 row">
                        <div class="col">
                            <p>Beton, er wird überall gebraucht. Für den Bau von Straßen und Brücken, Wohnungen und
                                Fabriken. Doch gleichzeitig ist er einer der größten Klimakiller. Allein bei seiner
                                Herstellung entstehen jedes Jahr mehr als 50 Millionen Tonnen CO-2. Diese Emissionen
                                müssen schnell gesenkt werden, wenn wir unsere Klimaziele erreichen wollen. Bislang hat
                                die Betonindustrie aber viel zu wenig für den Klimaschutz getan. Die Emissionen haben in
                                den letzten 10 Jahren stagniert. Das macht deutlich, dass es in der Branche so nicht
                                weitergehen kann.
                                Der CO-2-Ausstoß hätte dank des sogenannten Emissionshandels der EU längst sinken
                                müssen. Dieser ist seit 2005 in Kraft und funktioniert folgendermaßen: Ein Unternehmen
                                muss für jede ausgestoßene Tonne CO-2 Zertifikate von der Europäischen Union kaufen. Das
                                kostet Geld und um Geld zu sparen, reduzieren Unternehmen ihre Emissionen - so die
                                Theorie. In der Praxis hat die Europäische Union jedoch die überwiegende Mehrheit der
                                CO-2-Zertifikate verschenkt. Es wurden zu viele Emissionszertifikate im System
                                ausgegeben, das dazu führte, dass nun zu viele Zertifikate im Umlauf sind. Das wiederum
                                führt dazu, dass die Preise keine Lenkungswirkung haben und entsprechend auch kein Druck
                                hin zur Emissionsreduktion für die Industrie ausgeübt wird. Im Gegenteil! Statt Druck
                                für mehr Klimaschutz erhält die Industrie viele wertvolle Gratis-Zertifikate.

                                Die Zahlen der Union
                                Im Handelszeitraum von 2013 bis 2020 wurden ganze 43% der Zertifikate kostenlos
                                vergeben.Die übrigen 57 % wurden versteigert. Von den 100 größten Klimasündern in der
                                Europäische Union haben 40 Unternehmen mehr Zertifikate erhalten, als sie eigentlich für
                                ihre CO-2-Emissionen benötigen. Rund 820 Millionen Zertifikate zu viel
                        </div>
                        <div class="col">
                            . Beim heutigen
                            CO-2-Preis entspricht das einem Gewinn von rund 41 Milliarden Euro. Einer der größten
                            Gewinner des Systems, ein deutscher Zementhersteller, hat seit 2008 gut 45 Millionen
                            Zertifikate mehr erhalten, als er benötigt. Beim heutigen CO-2-Preis entspricht das
                            einem Geschenk aus Brüssel im Wert von über 2 Milliarden Euro.

                            Die CO-2-Emissionen der deutschen Zementindustrie sind seit der
                            Einführung des Emissionshandels im Jahr 2005 nicht gesunken. Im Jahr
                            2020 liegen sie bei 20,1 Millionen Tonnen und damit genau so hoch wie
                            vor 16 Jahren. Dabei ist die Technik für mehr Klimaschutz längst
                            anwendbar, wie Recyclingpioniere immer wieder beweisen.
                            In modernen Recyclinganlagen wird Beton mit deutlich weniger Emissionen
                            hergestellt. Von allen CO-2-Emissionen weltweit entfallen allein bis zu
                            9 % auf die herkömmliche Herstellung von Beton. Wenn wir also mit
                            Recyclingbeton einen Großteil an CO-2 einsparen, haben wir einen großen Schritt für die
                            Umwelt getan. Aber recycelte Materialien haben es trotz des Emissionshandels - oder
                            gerade deswegen schwer. Konkurrenten können klimaschädlichen Beton billiger anbieten,
                            weil sie für ihre CO-2-Emissionen sogar belohnt werden.

                            Es wird noch absurder
                            Viele Unternehmen stellen ihren Kunden die kostenlosen Zertifikate in Rechnung, indem
                            sie ihre Preise erhöhen. Wissenschaftler aus den Niederlanden haben dies für einzelne
                            Unternehmen berechnet. Im Fall des oben genannten Unternehmens kommen sie auf einen
                            Gewinn von 285 Millionen Euro zusätzlich. Ein Riesengeschäft für die deutsche Industrie
                            mit Zusatzgewinnen von rund 10 Milliarden Euro, so die Berechnungen der niederländischen
                            Wissenschaftler.
                        </div>



                        <div class="col">
                            In der Vergangenheit hat die Industrie immer wieder für die
                            Gratis-Zertifikate gekämpft. Bei jeder Reform des Emissionshandels gingen Arbeiter der
                            Konzerne auf die Straße. Ohne gratis Zertifikate seien hunderttausende Arbeitsplätze in
                            Gefahr, so die Drohung. Das Erstaunliche dabei ist, dass Regierungen ebenso wie die
                            Union weiter CO2-Zertifikate verschenken wollen. Erst kürzlich kam von Brüssel der
                            Vorschlag, die gratis Vergabe der Zertifikate sollen erst einmal bis 2025 andauert.

                            Mit Revitalyze möchten wir unseren Beitrag dazu leisten, den enormen Ressourcenverbrauch
                            der Baubranche zu reduzieren. Um die Materialeffizienz zu steigern und die
                            Klimaauswirkungen zu verringern, bringen wir eine umfassend neue Plattform auf den Weg,
                            die auf bisherigen Erfahrungen beruht. Durch eine vernetzte, intelligente
                            Plattformlösung von Entsorger und Erzeuger von Abfällen liefern wir die Grundlage der
                            Digital Circual Economy, um mit Daten zur Ressourceneffizienz zu gelangen.

                            <div class="text-muted" style="font-size: 11px">
                                <br><br>Quellen<br>

                                <a href="https://www.eea.europa.eu/">https://www.eea.europa.eu/</a><br>

                                <a
                                    href="https://ec.europa.eu/clima/eu-action/eu-emissions-trading-system-eu-ets/free-allocation_de">
                                    https://ec.europa.eu/clima/eu-action/eu-emissions-trading-system-eu-ets/free-allocation_de></a><br>

                                <a
                                    href="https://www.groene.nl/artikel/hoe-groen-kan-beton-zijn">https://www.groene.nl/artikel/hoe-groen-kan-beton-zijn</a>
                                <br>

                                <a
                                    href="https://www.youtube.com/watch?v=MWVKcGfTgrA">https://www.youtube.com/watch?v=MWVKcGfTgrA</a><br><br>
                            </div>
                            <p class="text-end text-muted" style="font-size: small"> ~David Plaseller~ <br> CEO
                                Revitalyze</p>
                            </p>
                        </div>

                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col d-flex justify-content-end pb-3 px-5">
                            <a href="{%url 'Dash:blog_overview'%}"" target="" class="knopf">zurück zur Artikelübersicht</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    {% endblock %}