{% extends "dash/base.html" %}{%load static%}{% block body_block %}
   
        <!---------------------- context ------------------->
        <div id="fh5co-services-section" >
            <div class="container py-5" style="">
                <div class="row pt-5">

                <div class="col pb-4">
                    <h3 class="text-bold py-4">Kreislaufwirtschaft in der Baubranche: <br>so
                        können
                        wir den Wandel
                        mitgestalten
                    </h3>
                    <div class="pb-2 row">
                        <div class="col-sm-7">
                            <p>Da natürliche Ressourcen endlich sind und sich
                                das Klima verändert, müssen wir uns vom derzeitigen Gesellschaftsmodell
                                <b>Ausbeuten - Produzieren - Wegwerfen</b> lösen und zu einer kreislauffähigen
                                Wirtschaft
                                übergehen. Gerade jetzt wird die Unsicherheit der Ressourcen und die Anfälligkeit von
                                Lieferketten sichtbar. Im März 2020 legte die Europäische Kommission einen Aktionsplan
                                für
                                die
                                Kreislaufwirtschaft vor, der sich vor allem auf Abfallvermeidung und -management
                                konzentriert
                                und darauf abzielt, das Wirtschaftswachstum und die Wettbewerbsfähigkeit zu steigern.
                            </p>
                            <p> Im Aktionsplan wird die nachhaltige Transformation des Bausektors hervorgehoben. Der
                                Sektor
                                ist
                                ein wesentlicher Bestandteil, um unsere Klimaziele zu erreichen. Er beansprucht große
                                Mengen
                                an
                                Ressourcen, etwa 50 % aller gewonnenen Rohstoffe. Gleichzeitig ist die Branche für über
                                35 %
                                des
                                gesamten Abfallaufkommens in der Europäischen Union verantwortlich. Die
                                Treibhausgasemissionen
                                aus der Materialgewinnung, der Herstellung von Bauprodukten sowie dem Bau und der
                                Renovierung
                                von Gebäuden werden auf 5 bis 12% der gesamten nationalen Treibhausgasemissionen
                                geschätzt.
                                Durch eine höhere Materialeffizienz könnten bis zu 80 % dieser Emissionen eingespart
                                werden.
                            </p>

                            <p> Um die Materialeffizienz zu steigern und die Klimaauswirkungen zu verringern, entwickeln
                                wir
                                mit
                                Revitalyze eine umfassend neue Plattform, die auf bisherige Erfahrungen aus der Branche
                                beruht.
                                Die Plattform sorgt für Kohärenz in allen relevanten Bereichen wie Ressourceneffizienz,
                                Management von Bau- und Abbruchabfällen, Zugänglichkeit und Digitalisierung. Wir werden
                                Initiativen im Einklang mit den Grundsätzen der Kreislaufwirtschaft umsetzen,
                                insbesondere
                                im
                                Hinblick auf eine optimierte Materiallogistik, Beschaffung- und Verwertung. Für Nutzer
                                unserer
                                Plattform wird die neue Überarbeitung der in den EU-Rechtsvorschriften für Bau- und
                                Abbruchabfälle festgelegten Ziele für die Materialverwertung durch eine sichere,
                                nachhaltige
                                und
                                zirkuläre Nutzung mehrere Vorteile haben.
                            <p class="text-end text-muted" style="position: relative; right: 10em; font-size: small"> ~David Plaseller~ <br> CEO
                                Revitalyze</p>
                            </p>
<div class="row d-flex justify-content-start">
                        <div class="col d-flex justify-content-start pb-3 px-5">
                            <a href="{%url 'Dash:blog_overview'%}"" target="" class="knopf">zurück zur Artikelübersicht</a>
                        </div>
                    </div>
                        </div>
                        <div class="col-sm-5 text-center"><img class="" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                        height: 65%" src="{% static '/images/blog/blog_post1.jpg' %}">
                            <p class="text-muted pt-2 text-center" style="position:relative; left: 4em; font-size: small">Foto von Francesco Ungaro von Pexels
                            </p>
                        </div>

                    </div>
                    

                </div>
            </div>

        </div>
    </div>

        {% endblock %}
