{% extends "dash/base.html" %}{%load static%}{% block body_block %}
   
        <!---------------------- context ------------------->
        <div id="fh5co-services-section" >
            <div class="container py-5" style="">
                <div class="row">
            <div class="col blog-article-body fett p-0 ">

                <div class="row pb-4">
                    <h3 class=" text-bold py-4">Wie funktioniert der Handel mit CO-2-Zertifikate?

                    </h3>
                    <div class="pb-2 row">

                        <div class="col">

                            <figure class="float-start"><img style="max-height: 500px; box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; margin: 5px 15px 0 0; padding: 0"
                                    class="float" src="{% static '/images/blog/blog_post3.jpg' %}">
                                <figcaption class="text-muted" style="font-size: small">Foto von Chris
                                    LeBoutillier
                                    von
                                    Pexels</figcaption>
                            </figure>

                            <p>Weltweit existieren unzählige Emissionshandelssysteme und damit je nach Region auch
                                unterschiedliche CO2-Preise. Das mit Abstand größte Handelssystem ist das der
                                Europäischen Union, welches 2003 in Brüssel beschlossen wurde und seit 2005 in Kraft
                                ist. Neben den 27 Mitgliedstaaten der EU nehmen auch Liechtenstein, die Schweiz, Island
                                und Norwegen am Emissionshandel teil.</p>

                            <p>
                                Neben dem europäischen Modell haben beispielsweise auch die USA und Kanada sowie
                                einzelne Bundesstaaten ihre individuellen Handelssysteme. Im Januar 2021 hat auch die
                                deutsche Regierung ihr eigenes System für den Handel mit Emissionszertifikaten
                                eingeführt und hat als Teil des Klimaschutzprogramms einen nationalen CO2-Preis
                                festgelegt, der den europäischen Zertifikatehandel ergänzen soll. Seit Anfang des Jahres
                                müssen deutsche Unternehmen, die fossile Brennstoffe wie Erdgas und Heizöl in den
                                Verkehr bringen, für jede Tonne ausgestoßenes CO2 ein Zertifikat kaufen. Betroffen sind
                                beispielsweise Raffinerien oder Öl-Importeure, aber auch die Autoindustrie. Letztlich
                                verfolgen alle nationalen wie internationalen Handelssysteme ähnliche Ziele: Es soll
                                sich finanziell lohnen, weniger Treibhausgase auszustoßen und stattdessen auf
                                umweltfreundlichere Prozesse und Lösungen zu setzen. Auf Solar- und Windenergie
                                beispielsweise. Das funktioniert aber nur, wenn der Ausstoß immer teurer wird. Das
                                Problem dabei ist, Verbraucher:innen müssen zwar keine Zertifikate kaufen, jedoch geben
                                viele Unternehmen die zusätzlichen Kosten für den Erwerb der Zertifikate auf an
                                Kund:innen weiter.</p>
                            <p>
                            <h5>Wodurch steigt der CO2-Preis?</h5>
                            Viele Zertifikate-Systeme sind marktbasiert und funktionieren nach dem sogenannten “Cap
                            and Trade” System. Zu deutsch: Begrenzung und Handel. Zunächst werden CO2-Zertifikate
                            kostenlos in begrenzter Anzahl von staatlicher Stelle ausgegeben oder zu einem
                            festgelegten Preis verkauft, wie es aktuell bei den deutschen Emissionsrechten der Fall
                            ist. Nach einer Einführungsphase soll dann der Markt bestimmen, wie viel Wirtschaft und
                            Industrie für die Tonne CO2 hinblättern müssen. Denn die Papiere werden anschließend an
                            Klima- und Strombörsen wie der European Climate Exchange (ECX) in London oder der
                            European Energy Exchange (EEX) in Leipzig versteigert und gehandelt. Unternehmen können
                            überschüssige Zertifikate dort verkaufen, falls sie weniger benötigen – und wer
                            Nachschub braucht, muss ebenfalls über die Börse gehen.
                            </p>
                            <p>
                                Der Preis für CO2 ist also ähnlich eines Aktienkurses dem Spiel aus Angebot und
                                Nachfrage ausgeliefert. Mit dem Unterschied, dass die Politik in das System eingreift:
                                Sie verknappt das Angebot an Zertifikaten (Cap), indem sie die erlaubte Obergrenze für
                                Treibhausgasemissionen Jahr für Jahr herabsetzt. Bis 2030 soll zum Beispiel die
                                Maximalgrenze für europäische Emissionsrechte um 2,2% pro Jahr sinken. Konkret bedeutet
                                das: Jedes Jahr werden rund 48 Mio. Zertifikate weniger ausgegeben als ein Jahr zuvor.
                                Das Angebot soll sukzessive sinken und der Preis dadurch stetig steigen.


                            <p class="text-muted" style="font-size: small"> ~David Plaseller~ <br> CEO
                                Revitalyze</p>
                            </p>
                            </p>
                        </div>
                        <div class="row d-flex justify-content-end">
                            <div class="col d-flex justify-content-end pb-3 px-5">
                                <a href="{%url 'Dash:blog_overview'%}"" target="" class="knopf">zurück zur Artikelübersicht</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        {% endblock %}