{% extends "dash/base.html" %}{%load static%}{% block body_block %}
   
        <!---------------------- context ------------------->
        <div id="fh5co-services-section" >
            <div class="container py-5" style="">
                <div class="row pt-5">

            <div class="col blog-article-body fett p-0 ">
              
                <div class="row pb-4">
                    <h3 class="text-bold pb-4">Digitale Transformation von Recyclingdeponien: So kann es
                        gelingen

                    </h3>
                    <div class=" pb-2 row">

                        <div class="col">

                            <p>Würde man Deutschland mit einem Unternehmen beschreiben, dann vielleicht Nokia, Kodak
                                oder Quelle. Unternehmen, die einmal erfolgreich waren und lange Zeit den Markt
                                dominierten. Heute sind sie nur noch halb so groß oder aufgelöst. Beide wurden Opfer
                                eines Managementfehlers – dem Innovationsdilemma.
                            </p>
                            <p>

                                Die meisten Ressourcen eines Unternehmens werden in das bestehende Geschäft gesteckt,
                                was das Kerngeschäft stören könnte, wird eliminiert, der aktuelle Ertrag optimiert. Es
                                gibt weder Zeit noch Energie für Innovationen, die für zukünftige Einnahmen sorgen
                                können, wenn das Kerngeschäft langsam stirbt. Aber, so die unbequeme Frage in fast allen
                                Unternehmen, sollte man wirklich mutwillig das aktuelle Geschäft gefährden, indem man
                                ihm Ressourcen entzieht, um sie in unsichere, fehleranfällige und margenlose
                                Neuentwicklungen zu stecken? In Innovationsprojekte mit völlig offenem Ausgang?
                            </p>
                            <p>
                            <figure class="float-end"><img style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;max-height: 600px; margin: 5px 0 0 15px; padding: 0"
                                    class="float" src="{% static '/images/blog/blog4_can.jpg' %}">
                                <figcaption class="text-muted text-end" style="font-size: small; margin: 5px 0 0 15px">
                                    Foto von
                                    Lara Jameson von Pexels
                                </figcaption>
                            </figure>
                            Eigentlich müsste die Antwort klar sein. Ja! In der Praxis entscheiden wir uns stattdessen
                            für den Ausbau der Teams, die den besten Umsatz machen, oder für die kontinuierliche
                            Verbesserung bestehender Produkte durch minimale Weiterentwicklungen. Selbst wenn das
                            Kerngeschäft bereits ins Stocken gerät, suchen wir reflexartig nach Möglichkeiten, es mit
                            noch mehr Geld und Zeit zu stützen. Warum tun wir das? Weil wir auf jene so wichtige Person
                            verzichten, die vehement eine andere Meinung vertritt als die Mehrheit im Unternehmen. Beim
                            Thema Transformation kommen solche professionellen Störerinnen und Störer oft als
                            Digitalministerin oder Chief Digital Officer, als Innovationsmanagerin oder Change Director
                            ins Unternehmen. Dennoch reicht es nicht, eine solche Person im Unternehmen zu haben. Diese
                            Person kann nur dann erfolgreich sein, wenn sie mit genug Macht und Ressourcen ausgestattet
                            wird.
                            </p>


                            <p>Im Unternehmen Deutschland hat Volker Wissing das Ministerium für Verkehr und
                                Infrastruktur in "Bundesministerium für Digitales und Verkehr BMDV" umbenannt - was
                                bedeutet, dass das Digitale zumindest im Namen noch vor dem Verkehr angekommen ist. Doch
                                der Minister dürfte so oft mit den unterschiedlichen Rollen in Konflikt geraten, dass
                                das notwendige Tempo des Wandels kaum zu erreichen ist. Sind baufällige Autobahnbrücken
                                wichtiger oder Funklöcher? Stehen 12,5 Milliarden Euro für Fernstraßen im richtigen
                                Verhältnis zu 1,2 Milliarden Euro für die digitale Infrastruktur, wenn wir durch
                                digitale Plattformen wie Revitalyze den Verschleiß drastisch reduzieren können?
                            </p>
                            <p>Die digitale Transformation innerhalb eines bestehenden Systems ist schmerzhaft und
                                erfordert Opfer. Um den Prozess erfolgreich zu meistern braucht es engagierte Akteure,
                                die Kompromisslosigkeit einfordern und zu permanenten Kämpfen mit dem Etablierten bereit
                                sind. Es braucht Konflikt und nicht Konsens. Denn Transformation bedeutet auch, gegen
                                die bisher gut funktionierenden Strukturen, die bisher erzielten Erfolge und ja, auch
                                gegen den Umsatz zu arbeiten. Wer das Neue stärken will, muss sich zunächst von
                                Bewährtem trennen. Es wird dich nicht überraschen, dass die Gewinner oft diejenigen
                                sind, die mutig Geld und Zeit in die Ungewissheit der Zukunft investieren, statt in die
                                Sicherheit der Gegenwart.</p>


                            <p class="text-muted" style="font-size: small"> ~David Plaseller~ <br> CEO
                                Revitalyze</p>
                            </p>

                           

                        </div>
                        
                   
                    </div>
                    <div class="row d-flex justify-content-start">
                            <div class="col d-flex justify-content-start pb-3 px-5">
                                <a href="{%url 'Dash:blog_overview'%}"" target="" class="knopf">zurück zur Artikelübersicht</a>
                            </div>
                        </div>

                </div>
            </div>

        </div>
    </div>
</div>




            {% endblock %}