{% extends "dash/base.html" %}{%load static%}{% block body_block %}
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


    <div class="container blog">
        
        <div class="py-4">

            <h1 style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Willkommen im Blog</h1>

        </div>
        <!---------------------- context ------------------->
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
            integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
            async></script>
        <div class="row" data-masonry='{"percentPosition": true }'
            style="position: relative; height: 81vw; width: 100%;">
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                <div class="card text-justify fett p-0">

                    <svg class="card-img-top revi-favi w-100" xmlns="http://www.w3.org/2000/svg"
                        enable-background="new 0 0 20 20" height="48px" viewBox="0 0 20 20" width="48px" fill="#228c22">
                        <rect fill="none" height="20" width="20" />
                        <path
                            d="M13,14h3.83l-1.09,2.17C15.49,16.68,14.97,17,14.4,17H13 M7.62,7.72l1.8-3L8.52,3.23c-0.39-0.65-1.33-0.65-1.72,0L5.05,6.17 L7.62,7.72z M16.34,8.49L13.72,10l1.83,3h0.85c0.57,0,1.09-0.32,1.34-0.83c0.23-0.46,0.21-1-0.06-1.44L16.34,8.49z M4.37,15.08 c-0.22,0.37-0.24,0.83-0.05,1.22C4.54,16.73,4.98,17,5.46,17H8.5v-3H5.02L4.37,15.08z M13,14v-1.54l-3,3l3,3V17 M14.01,4.6 l-1.13-1.88C12.62,2.28,12.13,2,11.6,2H8.95l2.49,4.15l-1.29,0.77l4.12,1.03l1.03-4.12L14.01,4.6z M5.3,11.58l1.28,0.77L5.56,8.23 L1.44,9.26l1.29,0.77l-0.42,0.69c-0.26,0.44-0.28,0.98-0.06,1.44l1.22,2.44L5.3,11.58z" />
                    </svg>
                    <div class="card-body justify-content-start contact-body">
                        <h5 class="card-title">Kreislaufwirtschaft in der Baubranche: so können wir den Wandel
                            mitgestalten
                        </h5>
                        <p class="card-text pb-2">Da natürliche Ressourcen endlich sind und sich das Klima verändert,
                            müssen
                            wir uns vom derzeitigen Gesellschaftsmodell Ausbeuten - Produzieren - Wegwerfen lösen und zu
                            einer kreislauffähigen Wirtschaft übergehen. </p>
                        <p></p>
                        <a href="{%url 'Dash:blog_post01'%}" target="_blank" class="knopf mb-2">Hier weiter lesen</a>
                       
                    </div>
                </div>
            </div>
            <!-- The Modal -->
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; top:0px; left: 66.6%;">
                <div class="card col text-justify fett p-0 ">
                    <img class="card-img-top" src="{% static '/images/blog/thumbnail_2_small.jpg' %}">
                    <p class="text-muted text-end py-1 px-2" style="font-size: small">Foto von El Bravo von Pexels</p>
                    <div class="card-body pb-4">
                        <h5 class="card-title">Von wegen Kreislaufwirtschaft: das dreckige Geschäft mit dem Handel von
                            CO2-Zertifikaten </h5>
                        <p class="card-text pb-2">Beton, er wird überall gebraucht. Für den Bau von Straßen und Brücken,
                            Wohnungen und Fabriken. Doch gleichzeitig ist er einer der größten Klimakiller. Allein bei
                            seiner Herstellung entstehen jedes Jahr mehr als 50 Millionen Tonnen CO-2. Diese Emissionen
                            müssen schnell gesenkt werden, wenn wir unsere Klimaziele erreichen wollen.
                        </p>
                        <a href="{%url 'Dash:blog_post02'%}" target="_blank" class="knopf">Mehr gibts
                            hier!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; top: 600px;">
                <div class="card col text-justify fett px-0 pt-3">
                    <div class="card-body pb-4">
                        <h5 class="card-title">Wie funktioniert der Handel mit CO-2-Zertifikate?</h5>
                        <p class="card-text pb-2">Weltweit existieren unzählige Emissionshandelssysteme und damit je
                            nach Region auch unterschiedliche CO2-Preise. Das mit Abstand größte Handelssystem ist das
                            der Europäischen Union, welches 2003 in Brüssel beschlossen wurde und seit 2005 in Kraft
                            ist.
                        </p>
                        <a href="{%url 'Dash:blog_post03'%}" target="_blank" class="knopf">Lesen Sie weiter</a>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3333%; ">
                <div class="card col text-justify fett px-0 pt-3">
                    <div class="card-body pb-4">
                        <h5 class="card-title">Baustoffrecycling: der harte Weg zur Akzeptanz</h5>
                        <p class="card-text pb-2">Mineralische Abfälle stellen mengenmäßig einen der größten
                            Abfallströme in Europa dar. Allein in Deutschland fallen jedes Jahr über 200 Mio. Tonnen an.
                            Häufig werden Aushubmaterialien kilometerweit quer durchs Land transportiert. Das verursacht
                            nicht nur enorme Kosten für die Unternehmen, sondern auch einen zunehmenden logistischen
                            Aufwand.
                        </p>
                        <a href="{%url 'Dash:blog_post04'%}" target="_blank" class="knopf">Lesen Sie weiter</a>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3333%;top: 525px;">
                <div class=" card col text-justify fett p-0 ">
                    <img class=" card-img-top" src="{% static '/images/blog/thumbnail3.jpg' %}">

                    <div class="card-body pb-4">
                        <h5 class="card-title">Digitale Transformation von Recyclingdeponien: So kann es gelingen</h5>
                        <p class="card-text pb-2">Würde man Deutschland mit einem Unternehmen beschreiben, dann
                            vielleicht
                            Nokia, Kodak oder Quelle. Unternehmen, die einmal erfolgreich waren und lange Zeit den Markt
                            dominierten. Heute sind sie nur noch halb so groß oder aufgelöst. Beide wurden Opfer eines
                            Managementfehlers – dem Innovationsdilemma.
                        </p>
                        <a href="{%url 'Dash:blog_post05'%}" target="_blank" class="knopf">Mehr gibts
                            hier!</a>
                    </div>
                </div>
            </div>

        </div>
 
        </div>

    </div>
    {% endblock %}