<!DOCTYPE html> {% load static%}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Revitalyze - Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="md-input-wrapper">
                        <input type="email" class="md-form-control" required="required" />
                        <label>Email</label>
                    </div>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td id="hi">{{ form.username.label_tag }}</td>
                                <td>{{ form.username }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.password.label_tag }}</td>
                                <td>{{ form.password }}</td>
                            </tr>
                        </table>
                        <input type="submit" value="login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
            </div>
            <div class="col-md-12">
                <div class="md-input-wrapper">
                    <div class="md-form-control">{{ form.password.label_tag }} {{ form.password }}</div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="rkmd-checkbox checkbox-rotate checkbox-ripple m-b-25">
                    <label class="input-checkbox checkbox-primary">
                <input type="checkbox" id="checkbox">
                <span class="checkbox"></span>
            </label>
                    <div class="captions">Remember Me</div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 forgot-phone text-right">
                <a href="forgot-password.html" class="text-right f-w-600"> Forget Password?</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 offset-xs-1">
                <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN</button>
            </div>
        </div>
        <!-- <div class="card-footer"> -->
        <div class="col-sm-12 col-xs-12 text-center">
            <span class="text-muted">Don't have an account?</span>
            <a href="register2.html" class="f-w-600 p-l-5">Sign up Now</a>
        </div>

        <!-- </div> -->
    </form>
    <script src="" async defer></script>
</body>

</html>