<!DOCTYPE html> {%load static%}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Revitalyze</title>
    {% comment %} <link rel="icon" type="image/x-icon" href="{% static '/images/icons/revi-favi.png' %}"> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Revitalyze" />
    <meta name="keywords" content="revitalyze rethink rebuild recycle landfill deponie construction waste bauschutt umwelt enviroment umweltschutz digitalisierung wastehandling" />
    <meta name="author" content="Revitalyze" />
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
 
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100;400;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300&family=Sacramento&family=Ubuntu:wght@300;400;500;700&display=swap"
        rel="stylesheet">

    <!-- Animate.css 
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">-->
    <!-- Icomoon Icon Fonts
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">-->
    <!-- Simple Line Icons 
    <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">-->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!--<link rel="stylesheet" href="{% static 'css/style.css' %}">-->

    <!--bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

    <!-- Modernizr JS -->

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles-website.css' %}">
    </head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div id="fh5co-page" style="">
        <header style="height: 100px; display: flex; position: relative; z-index: 10000000;">
            <div class="container navbar navbar-expand-sm justify-content-between">
                <div class="header-inner px-3 px-sm-0 w-100 landing-header-grid-container">
                    <a href="/" class="d-flex align-items-center" style="font-size: 0;"><img class="header-logo" src="{% static '/images/logos/2021_10_08_REVITALYZE_Logo_RZ.png' %}"></a>
                   {% comment %} <a href="/" style="font-size: 0;"><svg viewBox="35 25 150 100"> <image href="{% static '/images/logos/standard.svg' %}"></svg></a> {% endcomment %}
                    <nav role="navigation" class="navbar navbar-background-responsive navbar-expand-sm bg-transparent justify-content-between">
                        <div class="container-fluid justify-content-end">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="nav navbar-container navbar-nav d-flex">
                                    <li class="px-2"><a class="nav-item nav-link" href="{%url 'Dash:nearby'%}">Suche</a></li>
                                    <li class="px-2"><a class="nav-item nav-link" href="{%url 'Dash:partner_werden'%}">Partner Werden</a></li>
                                    <li class="px-2"><a class="nav-item nav-link" href="{%url 'Dash:vision'%}">Über uns</a></li>
                                    <li class="px-2"><a class="nav-item nav-link" href="{%url 'Dash:blog_overview'%}">Blog</a></li>

                                    <li class="px-2"><a class="nav-item nav-link" href="{%url 'Dash:register'%}">Register</a></li>
                                    {% if user.is_authenticated %}
                                    <li class="px-2"> <a class="nav-item nav-link" href="{%url 'logout'%}">Logout</a></li>
                                    <li class="px-2"> <a class="nav-item nav-link" href="{%url 'Dash:dashboard'%}">Dashboard</a></li>
                                    {%else%}
                                    <li class="px-2 navbar-element-login"><a class="nav-item nav-link" href="{% url 'Dash:user_login'%}">Login</a></li>
                                    {%endif%}


                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
            {% block body_block %} {% endblock %}
            {% include 'dash/script-block.html'  %}
        <footer id="fh5co-footer" role="contentinfo">
            {% block footer_block %}
            {% include 'dash/footer.html'  %}
            {% endblock %}
        </footer>


</body>

</html>