{% extends 'dash/base.html' %} {% load crispy_forms_tags %} {% block body_block %}
    <style>
        p {
            color: #404F5E;
            font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
            font-size:20px;
            margin: 0;
        }
        i {
            color: #9ABC66;
            font-size: 100px;
            line-height: 200px;
            margin-left:-15px;
        }
        .card {
            background: white;
            padding: 60px;
            border-radius: 4px;
            box-shadow: 0 2px 3px #C8D0D8;
            display: inline-block;
            margin: 0 auto;
        }
    </style>
    <body>
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <em class="checkmark">✓</em>
        </div>
        <h1>Vielen Dank!</h1>
        <p>Ihre NAchricht wurde erfolgreich an die Deponie weitergeleitet!</p>
    </div>
    </body>
{% endblock %}