
{%load static%}
<div class="footer-container flex-column">
    <div class="row d-flex align-items-center footer-main-text w-100" style="font-weight:100">
        <div style="font-weight:100" class="col-sm-3  col-12 d-flex justify-content-sm-center justify-content-start pt-4 pb-4 pt-sm-1 pb-sm-1">
            <div>
                <h5 style="font-weight:100">David Plaseller</h5>
                <h5 style="font-weight:100"><svg xmlns="http://www.w3.org/2000/svg"
                    height="18px" viewBox="0 0 24 24" width="18px" fill="#FFFFFF">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51m9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19M7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1z" />
                </svg>+39 339 451 8098</h5>
                <h5 style="font-weight:100"><svg
                    xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px"
                    fill="#FFFFFF">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z" />
                </svg> david@revitalyze.io</h5>
            </div>
        </div>
        <div class="col-sm-2 pb-3 pb-sm-1  col-5" style="text-decoration: none; color: white;">
            <div class="row">
                <a style="text-decoration: none; color: white;" href="#">Blog</a>
            </div>
            <div class="row py-2">
                <a style="text-decoration: none; color: white;" href="#">About us</a>
            </div>
            <div class="row">
                <a style="text-decoration: none; color: white;" href="#">Impressum</a>
            </div>
            <div class="row py-2">
                <a style="text-decoration: none; color: white;" href="#">Sitemap</a>
            </div>
            <div class="row">
                <a style="text-decoration: none; color: white;" href="#">Kontakt</a>
            </div>
        </div>

        <div class="col-sm-3 col-6" style="text-decoration: none; max-width: 18rem; color: white;">
            <div class="row pb-2">
                Subscribe to our Newsletter!
            </div>
            <div class="row">
                <input type="text" placeholder="mail@domain.com">
            </div>
            <div class="row py-2">
                <button class="btn btn-danger" style="max-width: 120px">Subscribe</button>
            </div>
            <div class="row d-flex" style="max-width: 120px;">
                <div class="col">
                    <a style="text-decoration: none; color: white;" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                      </svg>
                    </a>
                </div>
                <div class="col">
                    <a style="text-decoration: none; color: white;" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                        </svg>
                    </a>
                </div>
                <div class="col">
                    <a style="text-decoration: none; color: white;" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                          </svg>
                    </a>
                </div>
            </div>
            
        </div>
        <div class="col-12 col-sm d-flex w-100 justify-content-start justify-content-sm-end pb-4 pb-sm-0">
            <div>
                <img class="logo" style="width: 300px; position: relative; left:-0.7rem" src="{% static 'images/logos/2021_10_08_REVITALYZE_Logo_RZ_neg2.png' %}" width="100%">
                <div style="position: relative; margin-top: -1.5rem;">
                    <h2 class="homepage-top"><strong>RE</strong>THINK</h2>
                    <h2 class="homepage-top"><strong>RE</strong>BUILD</h2>
                    <h2 class="homepage-top"><strong>RE</strong>VITALYZE</h2>
                </div>
            </div>
        </div>    
    </div>
    <div class="row w-100 d-flex justify-content-end align-items-end">
        <div class="col d-flex justify-content-center justify-content-sm-start" style="position: relative; margin-top: -2rem;">
        <div class="p-2">
            <a href="https://www.iubenda.com/privacy-policy/78782849"
                class="iubenda-white p-2 iubenda-noiframe iubenda-embed iubenda-noiframe "
                title="Datenschutzerklärung ">Datenschutzerklärung</a>
            <script
                type="text/javascript">(function (w, d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag);}; if (w.addEventListener) {w.addEventListener("load", loader, false);} else if (w.attachEvent) {w.attachEvent("onload", loader);} else {w.onload = loader;} })(window, document);</script>
        </div>
        <div class="p-2">
            <a href="https://www.iubenda.com/nutzungsbedingungen/78782849"
                class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe " title="AGBs ">AGBs</a>
            <script
                type="text/javascript">(function (w, d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag);}; if (w.addEventListener) {w.addEventListener("load", loader, false);} else if (w.attachEvent) {w.attachEvent("onload", loader);} else {w.onload = loader;} })(window, document);</script>
        </div>
    </div>
    </div>
</div>