{% extends "dash/base.html" %} {%load static%}{% block body_block %}

<div id="fh5co-intro-section" >
    <div id="header-overlay">
        <div class="container">
            <div class="row pt-4">
                <div class="col pt-5 col-md text-center">
                    <h1 id="headline-landing">
                        Der One-Stop-Shop für alles <br>
                        rund um die Entsorgung von<br>
                        Bauschutt
                    </h1>
                    
                </div>
            </div>
            <div class="intro-section row d-flex flex-column text-center justify-content-center">
                
                <div class="col d-flex align-items-center justify-content-center">
                <h3 class="pt-4" style="line-height:1.5;">the revolution in handling construction waste</h3>
                </div>
                {% comment %} <div class="row">
                    <div class="col">
                        <svg style="position: relative; margin-right: -2.2rem; color:#777; height: 100%" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        <input type="text" placeholder="Materialname oder Kodifizierung" style="height: 50px; width: 325px; border-radius: 6px" class="">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <svg style="position: relative; margin-right: -2.2rem; color:#777; height: 100%" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
                            <path d="M14 3a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2zM3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5c-1.954 0-3.69-.311-4.785-.793z"/>
                        </svg>
                        <input placeholder="Menge in Tonnen" type="text" style="height: 50px; width: 325px; border-radius: 6px" class="my-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <svg style="position: relative; margin-right: -2.2rem; color:#777; height: 100%" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        <input placeholder="Standort" type="text" style="height: 50px; width: 325px; border-radius: 6px" class="">
                    </div>
                </div> {% endcomment %}
                <div class="row">
                    <div class="col">
                        <a href="{%url 'Dash:nearby'%}">
                            <button type="button" style="position: relative; top: 2.8rem; height:45px; 
                            font-size: 20px; border-radius: 30px; width: 250px; font-weight: normal;" 
                            class="btn btn-danger">Suche starten</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>T
</div>


<div>
    <div class="container px-4 px-sm-0 p-sm-0">
        <div class="row d-flex align-items-center container-landing-1">
            <div class="col-sm-5 col text-left" >
                <h3> Die erste digitale Plattform, die Bauunternehmen dabei unterstützt, die Entsorgung von Bauschutt schneller, transparenter und einfacher zu gestalten.
                </h3>
            <div class="row pt-3">
                <div class="col">
                    Von der Anfrage bis zur endgültigen Bezahlung ist die Auftragsabwicklung auf einer zentralen Plattform und benötigt nur noch einen Bruchteil der ursprünglichen Zeit Damit machst du jeden Auftrag profitabler.
                </div>
            </div>
        </div>            
        <div class="col py-3 d-flex justify-content-center">
            <div class="box-1 w-100">
               <div class="card-img-top">
                <svg xmlns="http://www.w3.org/2000/svg" width="220" height="240" viewBox="0 0 552.81023 515.45882" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M372.63287,365.4151H174.32491c-16.66894,0-30.22987-13.56093-30.22987-30.22987V136.87726c0-16.66894,13.56093-30.22987,30.22987-30.22987h198.30797c16.66894,0,30.22987,13.56093,30.22987,30.22987v198.30797c0,16.66894-13.56093,30.22987-30.22987,30.22987ZM174.32491,111.48416c-14.02422,0-25.39309,11.36888-25.39309,25.39309v198.30797c0,14.02422,11.36888,25.39309,25.39309,25.39309h138.90984c46.8289,0,84.79122-37.96232,84.79122-84.79122V136.87726c0-14.02422-11.36888-25.39309-25.39309-25.39309H174.32491Z" fill="#f2f2f2"/><path d="M195.70439,132.1061c-9.38575,0-17.02112,7.63537-17.02112,17.02112v26.64175c0,9.38575,7.63537,17.02112,17.02112,17.02112h26.64175c9.38575,0,17.02112-7.63537,17.02112-17.02112v-26.64175c0-9.38575-7.63537-17.02112-17.02112-17.02112h-26.64175Z" fill="#f2f2f2"/><path d="M195.70439,207.1061c-9.38575,0-17.02112,7.63537-17.02112,17.02112v26.64175c0,9.38575,7.63537,17.02112,17.02112,17.02112h26.64175c9.38575,0,17.02112-7.63537,17.02112-17.02112v-26.64175c0-9.38575-7.63537-17.02112-17.02112-17.02112h-26.64175Z" fill="#f2f2f2"/><path d="M195.70439,282.1061c-9.38575,0-17.02112,7.63537-17.02112,17.02112v26.64175c0,9.38575,7.63537,17.02112,17.02112,17.02112h26.64175c9.38575,0,17.02112-7.63537,17.02112-17.02112v-26.64175c0-9.38575-7.63537-17.02112-17.02112-17.02112h-26.64175Z" fill="#f2f2f2"/><g><path d="M213.3715,67.1061c-11.82633,0-21.44711,9.62079-21.44711,21.44711v33.56939c0,11.82633,9.62079,21.44711,21.44711,21.44711h33.56939c11.82633,0,21.44711-9.62079,21.44711-21.44711v-33.56939c0-11.82633-9.62079-21.44711-21.44711-21.44711h-33.56939Z" fill="#6c63ff"/><path d="M323.89034,160.9186c-11.82633,0-21.44711,9.62079-21.44711,21.44711v33.56939c0,11.82633,9.62079,21.44711,21.44711,21.44711h33.56939c11.82633,0,21.44711-9.62079,21.44711-21.44711v-33.56939c0-11.82633-9.62079-21.44711-21.44711-21.44711h-33.56939Z" fill="#6c63ff"/><g><polygon points="275.84229 498.80796 269.02267 498.75047 266.00379 471.83263 276.06892 471.91748 275.84229 498.80796" fill="#a0616a"/><path d="M253.99807,509.65233c-.01481,1.6785,1.33828,3.06028,3.0229,3.07572l13.55914,.11314,2.37372-4.81149,.8718,4.83603,5.11615,.0464-1.2919-17.24842-1.77998-.11842-7.26029-.50048-2.34232-.15686-.0411,4.88024-10.89209,7.38777c-.82869,.56298-1.32776,1.49545-1.33604,2.49637Z" fill="#2f2e41"/></g><g><polygon points="310.54007 498.80796 303.72044 498.75047 300.70157 471.83263 310.76669 471.91748 310.54007 498.80796" fill="#a0616a"/><path d="M288.69584,509.65233c-.01481,1.6785,1.33828,3.06028,3.0229,3.07572l13.55914,.11314,2.37372-4.81149,.8718,4.83603,5.11615,.0464-1.2919-17.24842-1.77998-.11842-7.26029-.50048-2.34232-.15686-.0411,4.88024-10.89209,7.38777c-.82869,.56298-1.32776,1.49545-1.33604,2.49637Z" fill="#2f2e41"/></g><path d="M249.08109,281.17831l27.64346,.87295,26.18854,5.81968s-2.61885,3.20082,6.11066,11.93033c0,0,11.63935,20.36886,3.49181,40.15576l-3.49181,79.14758s10.18085,55.79388,2.40219,73.5511l-10.28082,.64255-17.39634-73.54982-8.47914-79.20944-4.07377,77.98365s15.58482,53.52659,5.74359,74.77562l-11.13465-.64255-19.05157-74.13307s-8.14755-85.54922-6.98361-101.84432c1.16394-16.29509,9.31148-35.50002,9.31148-35.50002Z" fill="#2f2e41"/><g><path d="M341.91407,156.11273c-3.77892,.97845-6.04918,4.83514-5.07069,8.61407,.44834,1.73156,1.50489,3.14028,2.87746,4.07089l-.00041,.00966-.53609,12.98479,9.93665,4.59846,.7932-19.98146-.06921,.00211c.86159-1.53494,1.15931-3.38933,.68324-5.22793-.97848-3.77893-4.83517-6.04911-8.61416-5.0706Z" fill="#a0616a"/><path d="M286.37793,202.45483c-2.08746-2.06912-3.29844-4.87434-3.34374-7.92486-.06088-4.09228,1.98991-7.80651,5.48559-9.93539,4.02563-2.45174,9.05967-2.20364,12.82498,.63119l31.20286,23.4935,5.55989-33.84423,11.93675,3.84257-2.84806,44.07c-.19948,3.08263-1.94154,5.7983-4.6607,7.26426-2.71916,1.46596-5.94507,1.42927-8.63009-.09817l-45.0929-25.65511c-.90583-.51546-1.7216-1.13691-2.43458-1.84377Z" fill="#3f3d56"/></g><g><path d="M238.79919,137.1819c1.9947,3.35541,.89159,7.69261-2.46385,9.68729-1.5375,.914-3.27962,1.17053-4.90955,.86503l-.00651,.00715-8.76131,9.59852-10.29404-3.73037,13.50476-14.7482,.04766,.05023c.46883-1.69663,1.563-3.22314,3.19555-4.19363,3.35544-1.99468,7.69258-.89152,9.68729,2.46398Z" fill="#a0616a"/><path d="M242.58351,208.7873l-50.08512-13.52903c-2.98215-.8057-5.29885-3.05086-6.19773-6.00635-.89888-2.95549-.22401-6.11051,1.80467-8.44008l29.00517-33.30129,11.18221,5.67535-19.87987,27.94879,38.69929,5.28473c4.66979,.63785,8.41937,4.00591,9.55199,8.58126,.98359,3.97296-.17507,8.05448-3.09949,10.91773-2.17991,2.13441-5.01491,3.27394-7.95408,3.27362-1.00399,0-2.02084-.13303-3.02702-.40473Z" fill="#3f3d56"/></g><path d="M313.98891,292.82223l-70.0381,3.21276c-1.92358-2.92109-1.40264-7.31347,1.29122-12.81367,10.17125-20.76721,2.44654-60.05462-2.74985-80.51179-1.45798-5.73976,2.4559-11.44589,8.34855-12.03515l6.60367-.66037,6.10424-18.63399h21.37875l8.86923,10.13266,15.05189,9.14389c-2.73972,28.22064-14.41356,68.0706,2.2172,88.05507,3.63737,4.37087,4.66873,9.09743,2.92321,14.1106Z" fill="#3f3d56"/><circle cx="271.51868" cy="150.9868" r="20.82357" fill="#a0616a"/><path d="M295.08231,137.65762c2.8972-10.56287-28.67928-19.62073-34.81549-11.11444-.85326-1.20934-4.00655-1.9439-5.45336-1.57293-1.44681,.37097-2.66357,1.29841-3.85072,2.19619-1.6323,1.2539-3.32392,2.55231-4.32553,4.35524-1.00909,1.79551-1.16487,4.24398,.19287,5.80205,1.07584,1.23904,2.9663,7.82332,4.58375,8.14978,1.12773,.23,2.07745,.41549,2.89358,.54904,.72714-1.06098,2.58132-2.39375,2.44778-3.67731,1.09807,.7271,.69691,2.00635,.47552,3.31376-.73718,4.35363-17.34626,38.05525-7.83345,28.12415,.9423,.55647,2.10715,1.07583,3.45008,1.55065,2.27775-3.43523,4.14747-7.48625,5.37914-11.7228l.00872,.07826c.42405,3.68168,3.11456,6.70263,6.67421,7.73388,14.27942,4.13681,25.82989-1.93337,29.80326-12.87997-1.45451-2.95297-2.08826-2.63223-1.95797-2.72004,1.81577-1.2238,4.31135-.42345,5.09179,1.62242,.2301,.60321,.43924,1.1182,.62043,1.50569,2.07002-7.40469,4.53201-6.33593-3.38458-21.29362Z" fill="#2f2e41"/><path d="M285.23139,129.99395l-1.4586-7.45697c-.12261-.62684-.23896-1.30695,.04369-1.87973,.36317-.73595,1.29668-1.04096,2.10893-.92366,.81225,.11729,1.41978,.85923,2.22791,1.0021,2.80975,.49673,6.52379-2.27858,7.53053,4.7424,.41975,2.92732,5.09082,3.23652,6.65079,5.74883,1.55997,2.51232,1.75148,6.13862-.37749,8.19111-1.70031,1.63923-4.43095,1.82843-6.63933,.99107-2.20838-.83736-3.98071-2.52874-5.52887-4.31237s-2.9501-3.71374-4.73583-5.25948" fill="#2f2e41"/><path d="M296.19459,141.33592c-5.69794-.79597-9.5818-2.86826-11.54365-6.15883-2.5677-4.30742-.84774-9.05031-.77338-9.25017l1.20447,.44772c-.016,.04361-1.57626,4.38523,.67957,8.15551,1.75478,2.9329,5.32489,4.79466,10.61057,5.53322l-.17758,1.27255Z" fill="#6c63ff"/></g><path d="M322.93382,60.76232c-16.75117,0-30.38116-13.62998-30.38116-30.38116S306.18264,0,322.93382,0s30.38116,13.62998,30.38116,30.38116-13.62998,30.38116-30.38116,30.38116Zm0-48.60985c-10.05189,0-18.22869,8.1768-18.22869,18.22869s8.1768,18.22869,18.22869,18.22869,18.22869-8.1768,18.22869-18.22869-8.1768-18.22869-18.22869-18.22869Z" fill="#6c63ff"/><path d="M369.67748,81.40904c-1.48939,0-2.98174-.54294-4.15367-1.64367l-28.51497-26.72296c-2.45067-2.29342-2.57528-6.13854-.27889-8.58624,2.29045-2.4566,6.13557-2.57824,8.58624-.27889l28.51497,26.72296c2.45067,2.29342,2.57528,6.13854,.27889,8.58624-1.19566,1.27874-2.81263,1.92256-4.43256,1.92256Z" fill="#6c63ff"/><g><path d="M498.55135,498.12587c2.06592,.12937,3.20768-2.43737,1.64468-3.93333l-.1555-.61819c.02047-.04951,.04105-.09897,.06178-.14839,2.08924-4.9818,9.16992-4.94742,11.24139,.04177,1.83859,4.42817,4.17942,8.86389,4.75579,13.54594,.25838,2.0668,.14213,4.17236-.31648,6.20047,4.30807-9.41059,6.57515-19.68661,6.57515-30.02077,0-2.59652-.14213-5.19301-.43275-7.78295-.239-2.11854-.56839-4.2241-.99471-6.31034-2.30575-11.2772-7.29852-22.01825-14.50012-30.98962-3.46197-1.89248-6.34906-4.85065-8.09295-8.39652-.62649-1.27891-1.11739-2.65462-1.34991-4.05618,.39398,.05168,1.48556-5.94866,1.18841-6.3168,.54906-.83317,1.53178-1.24733,2.13144-2.06034,2.98232-4.04341,7.0912-3.33741,9.23621,2.15727,4.58224,2.31266,4.62659,6.14806,1.81495,9.83683-1.78878,2.34682-2.03456,5.52233-3.60408,8.03478,.16151,.20671,.32944,.40695,.4909,.61366,2.96106,3.79788,5.52208,7.88002,7.68104,12.16859-.61017-4.76621,.29067-10.50822,1.82641-14.20959,1.74819-4.21732,5.02491-7.76915,7.91045-11.41501,3.46601-4.37924,10.57337-2.46806,11.18401,3.08332,.00591,.05375,.01166,.10745,.01731,.1612-.4286,.24178-.84849,.49867-1.25864,.76992-2.33949,1.54723-1.53096,5.17386,1.24107,5.60174l.06277,.00967c-.15503,1.54366-.41984,3.07444-.80734,4.57937,3.70179,14.31579-4.29011,19.5299-15.70147,19.76412-.25191,.12916-.49738,.25832-.74929,.38109,1.15617,3.25525,2.07982,6.59447,2.76441,9.97891,.61359,2.99043,1.03991,6.01317,1.27885,9.04888,.29715,3.83006,.27129,7.67959-.05168,11.50323l.01939-.13562c.82024-4.21115,3.10671-8.14462,6.4266-10.87028,4.94561-4.06264,11.93282-5.55869,17.26826-8.82425,2.56833-1.57196,5.85945,.45945,5.41121,3.43708l-.02182,.14261c-.79443,.32289-1.56947,.69755-2.31871,1.11733-.4286,.24184-.84848,.49867-1.25864,.76992-2.33949,1.54729-1.53096,5.17392,1.24107,5.6018l.06282,.00965c.0452,.00646,.08397,.01295,.12911,.01944-1.36282,3.23581-3.26168,6.23922-5.63854,8.82922-2.31463,12.49713-12.25603,13.68282-22.89022,10.04354h-.00648c-1.16259,5.06378-2.86128,10.01127-5.0444,14.72621h-18.02019c-.06463-.20022-.12274-.40692-.18089-.60717,1.6664,.10341,3.34571,.00649,4.98629-.29702-1.33701-1.64059-2.67396-3.29409-4.01097-4.93462-.03229-.0323-.05816-.0646-.08397-.09689-.67817-.8396-1.36282-1.67283-2.04099-2.51246l-.00036-.00102c-.04245-2.57755,.26652-5.14662,.87876-7.63984l.00057-.00035Z" fill="#f2f2f2"/>
                    </g></svg>
               </div>
               <div class="card-text">
                Entsorger in der <br>Nähe finden
               </div>
            </div>
        </div>
        <div class="col py-3 d-flex justify-content-center">
            <div class="box-1 w-100">
               <div class="card-img-top">
                <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="220" height="240" viewBox="0 0 687.41943 631.17578" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M868.11393,728.66644a110.58287,110.58287,0,0,1-4.78906,34.601c-.11984.407-.26351.81406-.40717,1.22123H792.42276a63.26721,63.26721,0,0,1,4.76523-14.36717c5.86648-12.45158,15.4446-23.10727,24.903-33.691,13.02624-14.58275,25.74119-29.04565,27.75265-48.01028a108.91144,108.91144,0,0,1,12.26,25.31019,29.74832,29.74832,0,0,0-9.84148,6.03411c-.79023.7423-1.62841,1.81987-1.22123,2.8495.38306.862,1.43666,1.14947,2.37056,1.34093,2.25086.431,4.50173.862,6.75259,1.26917,1.77193.35909,3.56782.69436,5.36372,1.02963A117.57937,117.57937,0,0,1,868.11393,728.66644Z" transform="translate(-256.29028 -134.41211)" fill="#f2f2f2"/><path d="M927.33059,720.90819c-11.30226,6.87229-18.48584,17.504-24.35232,29.40474a30.07765,30.07765,0,0,0-13.67281,7.18359c-.81421.74244-1.65224,1.81987-1.22124,2.8495.35924.86214,1.43681,1.14947,2.37056,1.34093,2.2269.43114,4.50173.86214,6.72862,1.26917-.21542.5029-.431,1.02963-.64642,1.53253H821.82765A105.64062,105.64062,0,0,1,833.058,751.654c.886-.88611,1.7959-1.72414,2.7298-2.58613a111.73991,111.73991,0,0,1,32.32614-20.40144A113.72224,113.72224,0,0,1,927.33059,720.90819Z" transform="translate(-256.29028 -134.41211)" fill="#f2f2f2"/><path d="M834.27923,764.48865H767.75914a108.05808,108.05808,0,0,1,.09587-15.99544,114.38378,114.38378,0,0,1,47.53135-83.16209c-3.44813,12.28395-1.6762,24.49613,1.91559,36.75611-.50276.16763-1.00566.3113-1.46063.50276a29.751,29.751,0,0,0-9.84148,6.03426c-.79023.7423-1.62826,1.81986-1.22123,2.84949.35909.862,1.43666,1.14933,2.37056,1.34093,2.25086.431,4.50173.862,6.72862,1.26917,1.7959.3591,3.59179.69436,5.38769,1.0536.838.14367,1.6762.31116,2.51423.47879.1197.28733.1916.55084.3113.81421,4.21439,11.6134,8.81185,23.32268,10.967,35.22357a82.22012,82.22012,0,0,1,1.10154,9.02728C834.23129,761.95046,834.27923,763.21948,834.27923,764.48865Z" transform="translate(-256.29028 -134.41211)" fill="#f2f2f2"/><circle cx="68.96917" cy="22.51356" r="22.51356" fill="#fd6584"/><path d="M375.65,146.26638a11.17014,11.17014,0,0,0-9.42609-7.8338c-.04889-.0069-.09531.00221-.144-.00093a1.40431,1.40431,0,0,0-.19217-.04425c-10.29582-1.33065-22.18063,3.59355-26.47157,13.35441a10.90634,10.90634,0,0,0-9.13439-4.4512,11.12429,11.12429,0,0,0-9.94978,8.01979,1.30511,1.30511,0,0,0,.58123,1.42832,5.70473,5.70473,0,0,0,2.3522,1.194q2.80467.59418,5.6293,1.08861,5.51176.96456,11.08106,1.55966a164.77536,164.77536,0,0,0,22.69671.8579c2.52337-.07864,4.95677-.16237,7.26873-1.276a10.81544,10.81544,0,0,0,4.16979-3.63879A12.26953,12.26953,0,0,0,375.65,146.26638Z" transform="translate(-256.29028 -134.41211)" fill="#f0f0f0"/><path d="M328.85719,176.28442a11.17041,11.17041,0,0,0-9.42608-7.83375c-.049-.00689-.09542.00221-.1441-.00093a1.403,1.403,0,0,0-.19206-.04425c-10.29583-1.33065-22.18064,3.5935-26.47168,13.35436a10.90589,10.90589,0,0,0-9.13439-4.45115,11.12428,11.12428,0,0,0-9.94978,8.01979,1.30534,1.30534,0,0,0,.58133,1.42832,5.70507,5.70507,0,0,0,2.3521,1.194q2.80467.5941,5.6293,1.08861,5.51177.96448,11.08116,1.55966a164.782,164.782,0,0,0,22.69671.8579c2.52326-.07864,4.95667-.16242,7.26873-1.27609a10.81674,10.81674,0,0,0,4.16979-3.63874A12.26994,12.26994,0,0,0,328.85719,176.28442Z" transform="translate(-256.29028 -134.41211)" fill="#f0f0f0"/><path d="M545.439,525.72047c-.56982.83546-2.06819,1.83005-2.65225,2.65225l.62307-1.88938-.21238-.43756-1.32613-2.65225-33.76317-68.04347-.01295-.01325L450.8594,340.0435v-.01325l-1.31317-2.639V337.378l-28.32585-57.06315-1.33908-2.7053q1.51132.03979,3.02328.11935l1.35268,2.71856L452.50411,337.378l.01295.01325,1.31317,2.639v.01325l55.77625,112.36256v.01326l1.31317,2.639v.01326L544.68282,523.062l.45068.915Z" transform="translate(-256.29028 -134.41211)" fill="#3f3d56"/><path d="M541.67249,340.04344H288.9926c.67666-.8885,1.36562-1.777,2.08178-2.65225H539.59071C540.30687,338.2664,540.99583,339.155,541.67249,340.04344Z" transform="translate(-256.29028 -134.41211)" fill="#3f3d56"/><path d="M573.68533,452.41926c-.07965.8885-.17224,1.777-.292,2.65225H508.66506v-2.65225Z" transform="translate(-256.29028 -134.41211)" fill="#3f3d56"/><path d="M298.607,328.652v213.4c-.915-.96809-1.7904-1.94941-2.65225-2.93073V331.58272C296.8166,330.60144,297.692,329.62012,298.607,328.652Z" transform="translate(-256.29028 -134.41211)" fill="#3f3d56"/><rect x="40.99104" y="388.97982" width="246.74163" height="2.65225" fill="#3f3d56"/><path d="M543.80778,525.72047h.305v-.43761A4.353,4.353,0,0,1,543.80778,525.72047Zm-2.0422-186.00228c-.67667-.8885-1.36563-1.777-2.08179-2.65225a158.8465,158.8465,0,0,0-116.686-59.66237q-1.51132-.07963-3.02328-.11934c-1.512-.03979-3.02393-.06631-4.54884-.06631a158.65348,158.65348,0,0,0-116.72554,51.10884c-.91495.96807-1.7904,1.94941-2.65225,2.93075q-2.52632,2.84452-4.88038,5.80843c-.71608.87525-1.40512,1.76375-2.08178,2.65225a158.77807,158.77807,0,0,0,6.96216,201.7301c.86185.98132,1.7373,1.96268,2.65225,2.93072A158.923,158.923,0,0,0,544.842,528.8501c.58407-.82219,1.16748-1.64438,1.7373-2.47985a157.86007,157.86007,0,0,0,26.90705-71.624c.11979-.87524.21239-1.76374.292-2.65225q.77508-7.75781.78221-15.74109a158.23133,158.23133,0,0,0-32.795-96.63474Zm29.0556,115.02808a155.09013,155.09013,0,0,1-25.5946,68.90544q-.53712.81558-1.11374,1.63115a4.353,4.353,0,0,1-.305.43761c-.0926.14585-.19879.29175-.305.43756a156.29915,156.29915,0,0,1-244.80279,14.29562c-.91495-1.00786-1.80335-2.01569-2.65225-3.05007a156.16725,156.16725,0,0,1-3.6203-197.68545c.70321-.8885,1.40577-1.777,2.13488-2.65225.47787-.59675.96805-1.18025,1.48542-1.76375.8489-1.03437,1.7373-2.04222,2.65225-3.05009a156.03867,156.03867,0,0,1,116.72554-52.38193q2.96434,0,5.88791.11934c1.02115.02652,2.02934.07957,3.0368.13261a156.28251,156.28251,0,0,1,111.93841,56.9438c.72911.87525,1.43232,1.76375,2.13488,2.65225a156.50872,156.50872,0,0,1,32.70245,112.37583c-.09324.88853-.18584,1.77709-.305,2.65229Zm-27.01332,70.9742h.305v-.43761a4.36691,4.36691,0,0,1-.30506.43761Z" transform="translate(-256.29028 -134.41211)" fill="#ccc"/><path d="M395.36964,226.75624q0,1.09384-.07086,2.16948a32.8639,32.8639,0,0,1-3.07925,11.931c-.01372.032-.02983.06172-.04343.09151-.08239.17374-.167.34743-.25383.519a32.46892,32.46892,0,0,1-1.74879,3.08621A33.0251,33.0251,0,0,1,363.06979,259.806l.327,18.80068,4.26348-2.24492.76129,1.44709-4.99276,2.629.61037,34.91746.0068.46637-3.2965.73381.0068-.46865,1.0379-56.27851a32.95945,32.95945,0,0,1-23.31795-10.14562c-.208-.21482-.41375-.43663-.615-.6561l-.02288-.02522a33.09448,33.09448,0,0,1-6.02149-9.318c.032.03655.0663.07086.09835.1074-13.62233-34.233-5.697-50.10274,15.6778-42.60783.11429-.05715.23094-.112.34524-.16916a33.09138,33.09138,0,0,1,42.87069,13.01458c.20126.33833.3956.68354.583,1.031A32.88572,32.88572,0,0,1,395.36964,226.75624Z" transform="translate(-256.29028 -134.41211)" fill="#e5e5e5"/><path d="M434.24342,197.63713a49.681,49.681,0,0,1-4.99951,18.89728c-5.583,11.29861-15.383,19.86532-27.59666,23.06133a.11956.11956,0,0,1-.06629.01327,41.88285,41.88285,0,0,1-9.40226,1.3394h-.26524c-.33153.01319-.66306.01319-.9946.01319-.22541,0-.45083,0-.67633-.01319a43.31614,43.31614,0,0,1-42.64814-43.31128v-.47739a30.02892,30.02892,0,0,1,1.19354-8.169c0-.0132.01319-.02647.01319-.03975a28.30774,28.30774,0,0,1,7.54566-12.10752c8.68618-8.59327,22.43809-13.9906,34.57208-22.53085C417.49446,135.61424,437.015,154.21981,434.24342,197.63713Z" transform="translate(-256.29028 -134.41211)" fill="#e5e5e5"/><path d="M429.24391,216.53441c-5.583,11.29861-15.383,19.86532-27.59666,23.06133a.11956.11956,0,0,1-.06629.01327,42.65319,42.65319,0,0,1-9.36244,1.24656h-.30506q-.83542.01992-1.67093,0a43.38834,43.38834,0,0,1-42.30334-43.86823,44.38726,44.38726,0,0,1,.84874-7.99657c0-.0132.01319-.02647.01319-.03975a28.30774,28.30774,0,0,1,7.54566-12.10752A43.32366,43.32366,0,0,0,390.468,228.25739c.41109.07956.82219.15912,1.23328.22541,1.19347.199,2.387.34481,3.59383.43765A43.26744,43.26744,0,0,0,429.24391,216.53441Z" transform="translate(-256.29028 -134.41211)" opacity="0.2" style="isolation:isolate"/><polygon points="136.097 133.582 142.638 130.139 141.64 128.243 136.053 131.184 135.633 107.056 135.633 107.053 135.623 106.542 135.623 106.451 135.406 94.073 135.102 76.628 134.869 63.224 134.747 63.224 134.519 75.596 134.519 75.599 134.183 93.85 133.951 106.443 133.95 106.548 133.883 110.141 132.557 182.216 132.548 182.692 136.973 183.934 136.965 183.454 136.097 133.582" fill="#3f3d56"/><path d="M550.21394,353.34571c-27.50187-5.51053-55.09147-10.50942-83.01607-13.56861a453.24159,453.24159,0,0,0-79.79247-2.30732c-24.03512,1.62123-48.27614,5.42291-70.85537,14.08947-17.39924,6.67838-35.94594,16.78247-45.34432,33.63318-9.05962,16.24333-5.52607,34.97505,4.33872,49.96174,11.86938,18.03211,30.378,30.38869,49.62086,39.42,21.90972,10.283,45.3442,16.9484,68.80866,22.61705,11.90048,2.87508,23.86539,5.47383,35.83135,8.05955,2.49628.53938,3.56287-3.29492,1.05761-3.83625-24.13043-5.21417-48.33063-10.44542-71.8618-17.99342-21.77558-6.9849-44.06-15.93252-61.89226-30.59946-14.42634-11.86555-28.14282-29.19684-27.29131-48.902.8584-19.86459,17.52525-33.73427,33.861-42.27136,20.41515-10.66894,43.60961-15.86591,66.33749-18.58206a403.05565,403.05565,0,0,1,78.36137-1.06574c34.87278,2.65344,69.22978,8.80879,103.45534,15.70328" transform="translate(-256.29028 -134.41211)"/><path d="M421.101,384.98207c11.57332,5.78455,18.61933,13.42434,18.61933,21.80388,0,18.05121-32.66408,32.6846-72.95678,32.6846-17.5181,0-33.58976-2.76836-46.16621-7.37875,13.35789,6.67668,32.74842,10.88067,54.33737,10.88067,40.29262,0,72.95678-14.63339,72.95678-32.6846C447.89152,400.08475,437.45128,390.97589,421.101,384.98207Z" transform="translate(-256.29028 -134.41211)" fill="#f1f1f1"/><path d="M446.84423,397.38134c13.05915,6.52719,21.00983,15.14785,21.00983,24.60312,0,20.3687-36.8576,36.88075-82.32311,36.88075-19.76723,0-37.90205-3.12377-52.09314-8.326,15.07285,7.53384,36.95278,12.27754,61.31329,12.27754,45.46551,0,82.3231-16.512,82.3231-36.88074C477.0742,414.423,465.29367,404.14475,446.84423,397.38134Z" transform="translate(-256.29028 -134.41211)" fill="#f1f1f1"/><path d="M411.24906,390.44363c8.15368,4.07542,13.11783,9.45783,13.11783,15.36141,0,12.71753-23.01269,23.02717-51.39989,23.02717a96.54421,96.54421,0,0,1-32.52531-5.19851c9.411,4.70389,23.07214,7.66573,38.2821,7.66573,28.3872,0,51.4-10.3096,51.4-23.02717C430.12368,401.08387,422.76824,394.66644,411.24906,390.44363Z" transform="translate(-256.29028 -134.41211)" fill="#f1f1f1"/><path d="M367.83059,414.79822c-16.7666,0-24.92041-4.59961-28.80811-8.458a5.06423,5.06423,0,0,1,3.5835-8.648h58.49267a3.82915,3.82915,0,0,1,2.37061,6.83838C397.51076,409.21472,386.49123,414.79822,367.83059,414.79822Z" transform="translate(-256.29028 -134.41211)" fill="#3f3d56"/><path d="M379.97616,355.93377a22.17266,22.17266,0,0,0-15.9718-4.36892c10.09866,2.49341,2.12957,16.44977,11.32623,30.9238,5.0119,7.88791-4.7352,11.755-14.02049,12.81366a22.25477,22.25477,0,0,0,18.66606-39.36856Z" transform="translate(-256.29028 -134.41211)" fill="#3f3d56"/><rect x="111.18158" y="214.24603" width="2.15365" height="51.26414" fill="#3f3d56"/><path d="M576.88326,363.04607a53.27525,53.27525,0,0,0-74.233,12.88289c-16.94135,24.05638-33.94069,87.13823-21.94086,123.682,35.79257-37.80686,90.78065-41.73546,109.05672-62.33188C609.29475,415.27105,600.93963,379.98744,576.88326,363.04607Z" transform="translate(-256.29028 -134.41211)" fill="#6c63ff"/><circle id="af3c8991-f89c-43e0-a050-89c81726f2a6" data-name="b262ea8c-1946-46c9-a449-3a1996c39394" cx="289.19324" cy="265.73329" r="17.37481" fill="#fff"/><circle id="a49e5b2e-c339-415c-b240-8977b61bd9a6" data-name="bcc29a3a-8123-4529-80aa-6f70df2823cf" cx="209.73137" cy="372.74086" r="11.38013" fill="#6c63ff"/><path d="M564.07253,396.1363a17.37448,17.37448,0,1,1-30.00827,17.52125A17.37227,17.37227,0,0,0,560.51613,391.827,17.37446,17.37446,0,0,1,564.07253,396.1363Z" transform="translate(-256.29028 -134.41211)" fill="#231f20" opacity="0.2" style="isolation:isolate"/><path d="M589.79882,437.361c-18.276,20.59642-73.26415,24.525-109.05672,62.33189a73.694,73.694,0,0,1-2.57267-10.57762c35.77477-34.36992,87.70166-38.71351,105.35965-58.61332,15.8042-17.81077,13.344-44.31482-.91911-62.75651C602.17163,385.87839,607.69493,417.19276,589.79882,437.361Z" transform="translate(-256.29028 -134.41211)" fill="#231f20" opacity="0.2" style="isolation:isolate"/><polygon points="520.879 617.234 507.91 617.234 501.74 567.209 520.882 567.209 520.879 617.234" fill="#ffb6b6"/><path d="M780.47719,764.21822l-41.81888-.00155v-.52894a16.27795,16.27795,0,0,1,16.27707-16.27681h.001l7.63877-5.79517,14.25224,5.796,3.65053.00015Z" transform="translate(-256.29028 -134.41211)" fill="#2f2e41"/><polygon points="470.62 609.061 457.969 611.918 440.931 564.48 459.603 560.265 470.62 609.061" fill="#ffb6b6"/><path d="M732.90606,755.008l-40.792,9.21027-.11651-.51595a16.278,16.278,0,0,1,12.29183-19.46249l.001-.00022,6.17459-7.33548,15.17891,2.51423,3.5609-.804Z" transform="translate(-256.29028 -134.41211)" fill="#2f2e41"/><path d="M793.59594,445.81943c6.0807,18.33937,5.43783,38.24623-1.46158,59.6117L789.185,625.72425c4.87591,5.366,7.93567,27.24566.42474,42.91278-10.02978,20.9212-3.12024,49.85264-10.2101,63.73231H758.83512l-5.05369-56.50849-4.45084-6.3722-.67725-50.96857c-2.73126-6.46673-5.89587-12.87988-.34088-20.37182l-.14812-8.85323-.78958-47.19124L716.36092,587.455c-.8811,10.26416-6.12787,15.64239-13.07428,19.11841l9.60517,42.392c16.79895,14.3789,12.69049,36.63189,12.96783,57.23321l5.508,24.30944-25.31,2.26263L694.8884,699.80368l-12.55781-20.315-21.841-81.21589,15.23134-35.35069,6.22527-14.44833,34.76528-80.68732Z" transform="translate(-256.29028 -134.41211)" fill="#2f2e41"/><path d="M578.73434,380.41348a9.80023,9.80023,0,0,0,14.96785-1.3373l33.52732,9.42438-5.50305-17.24083L590.732,364.95338a9.85334,9.85334,0,0,0-11.99769,15.4601Z" transform="translate(-256.29028 -134.41211)" fill="#ffb8b8"/><path d="M606.15534,366.48865l32.72479-.24h0a54.70856,54.70856,0,0,1,27.05733-.61281l1.73658.40167,13.65654-1.54889c8.14227-16.27512,23.24994-30.9895,43.53113-44.54471a27.81717,27.81717,0,0,1,41.01027,6.86068h0a27.8471,27.8471,0,0,1-7.46767,37.48492l-61.8,36.33465a36.23053,36.23053,0,0,1-17.87066,4.99482h0l-.14993.078-35.25314-13.20837-18.135-2.30768-24.59046-7.14665Z" transform="translate(-256.29028 -134.41211)" fill="#6c63ff"/><circle cx="481.15814" cy="124.83496" r="30.87556" fill="#ffb8b8"/><path d="M766.28322,278.8289c2.28842-3.26534,3.91147-8.49494,4.87032-12.31736a37.07488,37.07488,0,0,0-5.07682-29.71919,11.30429,11.30429,0,0,0-4.40651-4.15875c-1.86814-.83408-4.33132-.63537-5.63357.94253a10.13227,10.13227,0,0,0-3.219-7.37847,17.85692,17.85692,0,0,0-7.157-4.02341,29.7376,29.7376,0,0,0-29.60347,7.31938c-1.48984,1.51612-.95832-6.05946-2.61289-4.72505A8.22972,8.22972,0,0,1,707.593,226.856c-2.11367-.22511-6.00142,7.30707-6.02384,5.18157-2.22369,2.2283-3.20338,11.62534-2.50777,14.69556s11.0438,1.71326,14.01076,2.76552c1.96535.697,4.10018.72055,6.13552,1.17429a15.29688,15.29688,0,0,1,11.33691,16.8241,20.2661,20.2661,0,0,1,4.66818-4.52813,6.8594,6.8594,0,0,1,6.23048-.77781,7.70641,7.70641,0,0,1,3.79731,4.78446c.67384,1.98515.935,4.0926,1.6213,6.07347,2.01388,5.81233,3.05292,11.91369,8.66663,13.29183C759.95858,287.42839,763.1587,283.28728,766.28322,278.8289Z" transform="translate(-256.29028 -134.41211)" fill="#2f2e41"/><path d="M796.23061,439.69861l-3.39-6.78c-4.15-25.71-8.25-49.69-2.68-71.26.35-18.83-5.47-36.52-21.63-46.18l-7.29-4.36-3.69-9.36005-33.98.83-.1,12.27-12.17,19.41v.08l.76,105.62,3.36,10.9-5.07,12.68,2.69,8.09,66.99-10.71,7.79-1.25a13.91763,13.91763,0,0,0,2.59-1.13,14.23178,14.23178,0,0,0,6.22-6.95c.07-.17.13-.33.19-.5a13.93382,13.93382,0,0,0,.9-4.3A14.3033,14.3033,0,0,0,796.23061,439.69861Z" transform="translate(-256.29028 -134.41211)" fill="#6c63ff"/><path d="M797.7206,446.79865a13.93382,13.93382,0,0,1-.9,4.3l-6.41,7.45a13.91763,13.91763,0,0,1-2.59,1.13l-7.79,1.25,11.27-21.19-24.77-54.23Z" transform="translate(-256.29028 -134.41211)" opacity="0.2"/><path d="M824.68088,509.52283a10.29646,10.29646,0,0,1-1.55552-15.71161L806.8217,461.054l18.87477,2.2984L838.285,494.10684a10.35228,10.35228,0,0,1-13.60412,15.416Z" transform="translate(-256.29028 -134.41211)" fill="#ffb8b8"/><path d="M758.587,396.81378l12.368-1.70824s1.19418,18.64689,7.11025,21.47291,3.92171,3.29111,4.61933,6.28265,3.85468,7.51238,8.541,9.57376,26.00274,53.89582,26.00274,53.89582l17.94928-4.18573a57.74664,57.74664,0,0,1-3.25557-13.96054c-.6306-7.21282-8.805-24.23193-11.497-26.75839s-1.62778-6.98027-3.023-12.96336-.42666-.43528-2.75207-10.40709-28.4688-69.73306-29.56449-78.94023-13.925-14.62669-13.925-14.62669l-9.97182,2.3254Z" transform="translate(-256.29028 -134.41211)" fill="#6c63ff"/></svg>
               </div>
               <div class="card-text">
                Synchronisiere Be- und Entladeorte mit allen Beteiligten
               </div>
            </div>
        </div>
        <div class="col py-3 d-flex">
            <div class="box-1 w-100">
               <div class="card-img-top " style="padding-top:10px;">
                <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="220" height="230" viewBox="0 0 437.37008 777.68742" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M720.54168,790.67639H488.45428a64.40159,64.40159,0,0,1-64.40186-64.40186V125.30041a64.47489,64.47489,0,0,1,64.40186-64.40185H720.5407a64.47493,64.47493,0,0,1,64.4021,64.40185V233.84582h3.99878V313.8219H784.9428V726.27453a64.402,64.402,0,0,1-64.40112,64.40186ZM488.45428,62.89856a62.47244,62.47244,0,0,0-62.40186,62.40185V726.27453A62.4011,62.4011,0,0,0,488.454,788.67639H720.5407A62.40192,62.40192,0,0,0,782.9428,726.275V311.8219h3.99878V235.84582H782.9428V125.30041a62.47244,62.47244,0,0,0-62.40185-62.40185Z" transform="translate(-380.85104 -60.89856)" fill="#3f3d56"/><path d="M723.09807,774.18274H489.89812A48.40576,48.40576,0,0,1,441.548,725.83313V125.74279A48.40617,48.40617,0,0,1,489.89812,77.3927h29.77662l-.56031,1.37695a21.50684,21.50684,0,0,0,19.9043,29.61328H671.978a21.507,21.507,0,0,0,19.90381-29.61328l-.56031-1.37695h31.77661a48.40614,48.40614,0,0,1,48.34986,48.35009V725.83313A48.40541,48.40541,0,0,1,723.09807,774.18274ZM489.89812,79.3927A46.40372,46.40372,0,0,0,443.548,125.74279V725.83313a46.40362,46.40362,0,0,0,46.35009,46.34961h233.2a46.40328,46.40328,0,0,0,46.34986-46.34961V125.74279h0A46.40369,46.40369,0,0,0,723.09807,79.3927H694.24578a23.5077,23.5077,0,0,1-22.26709,30.99023H539.018A23.50811,23.50811,0,0,1,516.74993,79.3927Z" transform="translate(-380.85104 -60.89856)" fill="#ccc"/><path d="M797.09814,451.66484H401.974a21.14681,21.14681,0,0,1-21.123-21.123V303.80393a21.14681,21.14681,0,0,1,21.123-21.123H797.09814a21.1468,21.1468,0,0,1,21.123,21.123V430.54185A21.1468,21.1468,0,0,1,797.09814,451.66484Z" transform="translate(-380.85104 -60.89856)" fill="#fff"/><path d="M797.09814,451.66484H401.974a21.14681,21.14681,0,0,1-21.123-21.123V303.80393a21.14681,21.14681,0,0,1,21.123-21.123H797.09814a21.1468,21.1468,0,0,1,21.123,21.123V430.54185A21.1468,21.1468,0,0,1,797.09814,451.66484ZM401.974,285.166a18.65909,18.65909,0,0,0-18.63793,18.63793V430.54185A18.65909,18.65909,0,0,0,401.974,449.17978H797.09814a18.65909,18.65909,0,0,0,18.63792-18.63793V303.80393A18.65909,18.65909,0,0,0,797.09814,285.166Z" transform="translate(-380.85104 -60.89856)" fill="#3f3d56"/><path d="M651.35072,360.339H513.43005a9.94023,9.94023,0,0,1,0-19.88046H651.35072a9.94023,9.94023,0,0,1,0,19.88046Z" transform="translate(-380.85104 -60.89856)" fill="#6c63ff"/><path d="M779.33117,393.88726H513.43005a9.94023,9.94023,0,0,1,0-19.88046H779.33117a9.94023,9.94023,0,0,1,0,19.88046Z" transform="translate(-380.85104 -60.89856)" fill="#6c63ff"/><circle cx="66.22588" cy="306.27433" r="37.27586" fill="#6c63ff"/><path d="M779.31643,434.26944h-34.7908a9.94023,9.94023,0,1,1,0-19.88046h34.7908a9.94023,9.94023,0,1,1,0,19.88046Z" transform="translate(-380.85104 -60.89856)" fill="#fff"/><path d="M779.31643,434.26944h-34.7908a9.94023,9.94023,0,1,1,0-19.88046h34.7908a9.94023,9.94023,0,1,1,0,19.88046Z" transform="translate(-380.85104 -60.89856)" fill="#ccc"/><path d="M719.46745,250.18756H499.60471A11.76692,11.76692,0,0,1,487.851,238.4339v-70.522a11.76692,11.76692,0,0,1,11.75367-11.75366H719.46745a11.76692,11.76692,0,0,1,11.75367,11.75366v70.522A11.76692,11.76692,0,0,1,719.46745,250.18756ZM499.60471,157.541a10.38265,10.38265,0,0,0-10.37088,10.37088v70.522a10.38265,10.38265,0,0,0,10.37088,10.37088H719.46745a10.38266,10.38266,0,0,0,10.37089-10.37088v-70.522A10.38266,10.38266,0,0,0,719.46745,157.541Z" transform="translate(-380.85104 -60.89856)" fill="#ccc"/><path d="M638.36781,199.37023H561.62326a5.53114,5.53114,0,0,1,0-11.06227h76.74455a5.53114,5.53114,0,0,1,0,11.06227Z" transform="translate(-380.85104 -60.89856)" fill="#e6e6e6"/><path d="M709.58121,218.03782h-147.958a5.53114,5.53114,0,0,1,0-11.06227h147.958a5.53114,5.53114,0,1,1,0,11.06227Z" transform="translate(-380.85104 -60.89856)" fill="#e6e6e6"/><circle cx="143.85071" cy="142.27433" r="20.74177" fill="#e6e6e6"/><path d="M709.573,240.50807H690.214a5.53114,5.53114,0,1,1,0-11.06227h19.359a5.53114,5.53114,0,0,1,0,11.06227Z" transform="translate(-380.85104 -60.89856)" fill="#fff"/><path d="M709.573,240.50807H690.214a5.53114,5.53114,0,1,1,0-11.06227h19.359a5.53114,5.53114,0,0,1,0,11.06227Z" transform="translate(-380.85104 -60.89856)" fill="#ccc"/><path d="M719.46745,576.18756H499.60471A11.76692,11.76692,0,0,1,487.851,564.4339v-70.522a11.76692,11.76692,0,0,1,11.75367-11.75366H719.46745a11.76692,11.76692,0,0,1,11.75367,11.75366v70.522A11.76692,11.76692,0,0,1,719.46745,576.18756ZM499.60471,483.541a10.38265,10.38265,0,0,0-10.37088,10.37088v70.522a10.38265,10.38265,0,0,0,10.37088,10.37088H719.46745a10.38266,10.38266,0,0,0,10.37089-10.37088v-70.522A10.38266,10.38266,0,0,0,719.46745,483.541Z" transform="translate(-380.85104 -60.89856)" fill="#ccc"/><path d="M638.36781,525.37023H561.62326a5.53113,5.53113,0,0,1,0-11.06227h76.74455a5.53114,5.53114,0,0,1,0,11.06227Z" transform="translate(-380.85104 -60.89856)" fill="#e6e6e6"/><path d="M709.58121,544.03782h-147.958a5.53114,5.53114,0,0,1,0-11.06227h147.958a5.53113,5.53113,0,1,1,0,11.06227Z" transform="translate(-380.85104 -60.89856)" fill="#e6e6e6"/><circle cx="143.85071" cy="468.27433" r="20.74177" fill="#e6e6e6"/><path d="M709.573,566.50807H690.214a5.53113,5.53113,0,1,1,0-11.06227h19.359a5.53114,5.53114,0,0,1,0,11.06227Z" transform="translate(-380.85104 -60.89856)" fill="#fff"/><path d="M709.573,566.50807H690.214a5.53113,5.53113,0,1,1,0-11.06227h19.359a5.53114,5.53114,0,0,1,0,11.06227Z" transform="translate(-380.85104 -60.89856)" fill="#ccc"/><path d="M719.46745,707.18756H499.60471A11.76692,11.76692,0,0,1,487.851,695.4339v-70.522a11.76692,11.76692,0,0,1,11.75367-11.75366H719.46745a11.76692,11.76692,0,0,1,11.75367,11.75366v70.522A11.76692,11.76692,0,0,1,719.46745,707.18756ZM499.60471,614.541a10.38265,10.38265,0,0,0-10.37088,10.37088v70.522a10.38265,10.38265,0,0,0,10.37088,10.37088H719.46745a10.38266,10.38266,0,0,0,10.37089-10.37088v-70.522A10.38266,10.38266,0,0,0,719.46745,614.541Z" transform="translate(-380.85104 -60.89856)" fill="#ccc"/><path d="M638.36781,656.37023H561.62326a5.53113,5.53113,0,0,1,0-11.06227h76.74455a5.53114,5.53114,0,0,1,0,11.06227Z" transform="translate(-380.85104 -60.89856)" fill="#e6e6e6"/><path d="M709.58121,675.03782h-147.958a5.53114,5.53114,0,0,1,0-11.06227h147.958a5.53113,5.53113,0,1,1,0,11.06227Z" transform="translate(-380.85104 -60.89856)" fill="#e6e6e6"/><circle cx="143.85071" cy="599.27433" r="20.74177" fill="#e6e6e6"/><path d="M709.573,697.50807H690.214a5.53113,5.53113,0,1,1,0-11.06227h19.359a5.53114,5.53114,0,0,1,0,11.06227Z" transform="translate(-380.85104 -60.89856)" fill="#fff"/><path d="M709.573,697.50807H690.214a5.53113,5.53113,0,1,1,0-11.06227h19.359a5.53114,5.53114,0,0,1,0,11.06227Z" transform="translate(-380.85104 -60.89856)" fill="#ccc"/><polygon points="201.657 765.803 213.917 765.803 219.749 718.515 201.655 718.516 201.657 765.803" fill="#ffb8b8"/><path d="M579.38069,822.69926l24.1438-.001h.001a15.38605,15.38605,0,0,1,15.38647,15.38623v.5l-39.53051.00147Z" transform="translate(-380.85104 -60.89856)" fill="#2f2e41"/><polygon points="152.657 765.803 164.917 765.803 170.749 718.515 152.655 718.516 152.657 765.803" fill="#ffb8b8"/><path d="M530.38069,822.69926l24.1438-.001h.001a15.38605,15.38605,0,0,1,15.38647,15.38623v.5l-39.53051.00147Z" transform="translate(-380.85104 -60.89856)" fill="#2f2e41"/><circle cx="204.10389" cy="413.86127" r="24.56103" fill="#ffb8b8"/><path d="M601.47137,816.49572H578.72063a4.50027,4.50027,0,0,1-4.49951-4.55468l1.322-108.03125a1.50006,1.50006,0,0,0-2.989-.2002L559.31341,812.53967a4.50405,4.50405,0,0,1-4.467,3.95605H531.87713a4.49963,4.49963,0,0,1-4.48633-4.85058l15.16748-194.0752.41235-.04492,72.62891-7.84375-9.63306,202.52832A4.49485,4.49485,0,0,1,601.47137,816.49572Z" transform="translate(-380.85104 -60.89856)" fill="#2f2e41"/><path d="M543.44231,629.484a4.49627,4.49627,0,0,1-4.48388-4.3584c-.39649-12.27149-1.07593-54.73242,6.822-85.90528a40.92361,40.92361,0,0,1,37.79272-30.83886h0a41.17944,41.17944,0,0,1,40.5586,26.02343c13.27539,33.70313,25.81787,75.2461,10.1809,81.76172-20.49487,8.53907-74.52343,12.34571-90.59423,13.3086Q543.57965,629.484,543.44231,629.484Z" transform="translate(-380.85104 -60.89856)" fill="#6c63ff"/><path d="M637.3136,449.93578a10.52493,10.52493,0,0,0,1.246,1.09311l-2.57824,49.52618-10.72422,5.49051,6.17078,17.26776,19.92971-7.87486a8,8,0,0,0,5.0258-8.18054l-5.22115-56.17947a10.4971,10.4971,0,1,0-13.84864-1.14269Z" transform="translate(-380.85104 -60.89856)" fill="#ffb8b8"/><path d="M636.18482,502.39862l7.54416,21.43891a4.5,4.5,0,0,1-3.38906,5.91156l-22.24542,4.30782a12.49741,12.49741,0,0,1-8.22761-23.60176l19.97367-10.543a4.5,4.5,0,0,1,6.34426,2.48649Z" transform="translate(-380.85104 -60.89856)" fill="#6c63ff"/><path d="M530.927,449.93578a10.52563,10.52563,0,0,1-1.24595,1.09311l2.57824,49.52618,10.72421,5.49051-6.17078,17.26776L516.883,515.43848a8,8,0,0,1-5.0258-8.18054l5.22116-56.17947a10.4971,10.4971,0,1,1,13.84863-1.14269Z" transform="translate(-380.85104 -60.89856)" fill="#ffb8b8"/><path d="M534.65883,499.70259a4.4952,4.4952,0,0,1,3.7412.20954l19.97367,10.543a12.49741,12.49741,0,0,1-8.22761,23.60176l-22.24543-4.30782a4.5,4.5,0,0,1-3.38906-5.91156l7.54417-21.43891A4.495,4.495,0,0,1,534.65883,499.70259Z" transform="translate(-380.85104 -60.89856)" fill="#6c63ff"/><path d="M594.49418,478.94639a16.14324,16.14324,0,0,1,9.04057-15.16764c7.46589-3.85407,12.156-12.07516,10.10083-19.5821-2.63064-9.60888-15.70861-15.84073-26.30516-12.53479a48.56536,48.56536,0,0,0-8.26083,3.83933l-6.9231,3.711a71.72652,71.72652,0,0,0-8.534,5.03785A28.31536,28.31536,0,0,0,552.34221,470.78c1.36337,9.76869,7.7607,18.72745,16.51766,24.861a27.93669,27.93669,0,0,0,11.3188,5.03109c4.19751.692,8.87033-.09445,11.93939-2.70479,4.79626-4.07938,4.30076-10.91073,2.74952-16.61636A12.09016,12.09016,0,0,1,594.49418,478.94639Z" 
                    transform="translate(-380.85104 -60.89856)" fill="#2f2e41"/></svg>
               </div>
               <div class="card-text justify-content-center">
                Echtzeit-Updates jederzeit auf dem Smartphone
               </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-services-section pb-5">
    <div class="container px-5 pb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 services-inner text-center">
                {% include 'dash/svg-folder/we-compare-for-u.html'  %}
            <div style="height: 400px;margin-bottom: -23rem; width: 600px; position: relative; top:-20rem;right: -2.2rem;
            background: linear-gradient(93deg, rgba(0,0,0,0) 31%, rgba(255,255,255,0.8995973389355743) 73%);
            "></div>
            </div>


            <div class="col-md-6 services-inner text-left" style="position: relative;">
               <h3> <b style="color: #C2121E">Entsorgungkosten vergleichen spart bares Geld, 
                kostet aber Zeit, die es auf der Baustelle nicht gibt. 
                Deshalb erledigen wir das für dich!</b>
                <br><br>
                & du hast den Kopf frei und kannst dich auf das Wesentliche konzentrieren. </h3>
            </div>

        </div>
    </div>
</div>

<div id="fh5co-services-section" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
;color: white; background: linear-gradient(45deg, #1fb57b 0%, #258dc8 100%);">
    <div class="container py-5">
        <div class="row ">
            <div class="col pl-3 services-inner text-center">
                <h3><b>Digitalisierung -  Vernetzung - Transparenz</b></h3>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col pt-4 pt-sm-0">
                <h5><b>100% Digital</b></h5>
                Wir digitalisieren und archivieren Prozesse, die bislang 
                mit Stift und Papier, telefonisch oder per Email erfolgten. 
                Dadurch werden Kommunikationsprobleme und Fehler im Vorhinein 
                vermieden und der Verwaltungsaufwand gesenkt. Unsere Kunden 
                profitieren von besseren Kundenbeziehungen, ohne in 
                eigene IT-Infrastruktur investieren zu müssen. 
            </div>
            <div class="col-sm-3 col text-center" style="color:white; position: relative; top: -1rem;">
                <?xml version="1.0" encoding="iso-8859-1"?>
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" width="300" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 504.123 454.123"  xml:space="preserve">

                <path style="fill:#FFFFFF;" d="M356.825,252.062c0.788-5.908,1.182-12.209,1.182-18.511V138.24c0,0-99.643-23.631-122.092-43.717
                    v157.538H356.825z"/>
                <path style="fill:#324A5E;" d="M236.308,94.523c-22.055,20.086-122.092,43.717-122.092,43.717v95.311
                    c0,6.302,0.394,12.209,1.182,18.511h120.911V94.523z"/>
                <path style="fill:#FFFFFF;" d="M115.397,252.062c5.12,37.022,24.418,72.074,56.714,100.431l64.197,57.108V252.062H115.397z"/>
                <path style="fill:#324A5E;" d="M269.391,349.342c0-33.477,27.175-60.258,60.258-60.258c5.514,0,11.028,0.788,16.148,2.363
                    c5.514-12.603,9.452-25.994,11.028-39.385H236.308V409.6l38.991-34.658C271.36,367.065,269.391,358.4,269.391,349.342z"/>
                <circle style="fill:#FF7058;" cx="321.772" cy="341.465" r="68.135"/>
                <circle style="fill:#C2121E;" cx="321.772" cy="341.465" r="55.926"/>
                <path style="fill:#FFFFFF;" d="M298.142,375.729l-18.117-33.083l11.815-6.695l9.452,16.935
                    c11.422-10.634,35.84-30.326,58.289-33.083l1.575,13.391c-25.206,3.151-56.32,35.052-56.714,35.446L298.142,375.729z"/>

                </svg>
            </div>
            <div class="col">
                <h5><b>100% Transparent</b></h5>
                Große Zahl der an einem einzigen Prozess beteiligten Parteien 
                führt zu einer arbeitsintensiven manuellen Informationserfassung.
                Durch die  transparente und In-Echtzeit-Vernetzung entstehen einmalige Vorteile.
            </div>
            
        </div>
    </div>
</div>


<div id="fh5co-services-section" >
    <div class="container py-5">
        <div class="row ">
            <div class="col pl-3 pt-4 services-inner text-center">
                <h3 class="pb-3"><b>So einfach funktioniert's!</b></h3>
                <h5>Manage Erdbewegungen mit 3 Klicks und hole das Beste aus deinem Bauschutt</h5>
            </div>
        </div>
        <div class="row d-flex pt-4 justify-content-center align-items-center">
            <div class="col ">
                <div class="card" style="height: 440px;box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;min-width: 250px; ">                    
                        {% include 'dash/svg-folder/how-to-card-01.html'  %}
                    <div class="card-body">
                        <h5 class="card-title">Material erfassen</h5>
                        <p class="card-text">Nutze die Suchmaske, um Menge, Materialart 
                            und Standort auszuwählen.</p>
                    </div>
                </div> 
            </div>

            <div class="col py-4 py-sm-0">
                <div class="card" style="min-width: 250px; height: 440px;box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px ">
                    {% include 'dash/svg-folder/how-to-card-02.html'  %}
                    <div class="card-body">
                        <h5 class="card-title">Deponie wählen</h5>
                        <p class="card-text">
                            Egal was du entsorgen möchtest, wir  
                            vergleichen die besten Angebote in deiner 
                            Nähe und zeigen Verfügbarkeiten.</p>
                    </div>
                </div> 
            </div>

            <div class="col">
                <div class="card" style="min-width: 250px; height: 440px;box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px ">
                    {% include 'dash/svg-folder/how-to-card-03.html'  %}
                    <div class="card-body">
                        <h5 class="card-title">Anfrage senden</h5>
                        <p class="card-text">
                            Erhalte in Kürze das passende 
                            Angebot, lehne dich zurück und lass unsere 
                            Partner die Arbeit für dich erledigen.</p>
                    </div>
                </div> 
            </div>            
        </div>
    </div>
</div>

<div id="fh5co-services-section" >
    <div class="container py-5">
        <div class="row pt-5">
            <div class="col pb-5 pb-sm-1">
                <img style="border-radius: 4px; box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; transform: rotate(-5deg); width:600px;"src="{% static 'images/blog4_bagger.jpg/' %}">                
            </div>
            <div class="col pl-3 pt-4 services-inner ">
                <h3 class="pb-3"><b>Du bist Entsorger?</b></h3>
                <h5>Registriere dich und sei in wenigen Minuten bereit 
                    die ersten Aufträge zu erhalten! 
                    Verfolge den Fortschritt, analysieren deine 
                    Unternehmensleistung und genieße die Flexibilität des
                    unbegrenzten Zugriffs überall, jederzeit und von jedem 
                    Endgerät. Profitiere von neuen Geschäftsfeldern, 
                    besseren Kundenbeziehungen und mehr Umsatz.</h5>
                    <button type="button" style="position: relative; top: 2.8rem; height:45px; 
                        font-size: 20px; border-radius: 30px; width: 250px; font-weight: normal;" 
                        class="btn btn-danger" onclick="window.location.href ='{%url 'Dash:register'%}'" >Partner werden!</button>
            </div>
        </div>
        <div class="row d-flex pt-4 justify-content-center align-items-center">
            

            <div class="col">
                
            </div>

            <div class="col">
                
            </div>            
        </div>
    </div>
</div>
                      
{% endblock %}

