{%extends 'dash/base.html'%} {%block body_block%}

<div class='jumbotron' style="height: 31.8vw">
    <div class="d-flex flex-column h-100 justify-content-center align-items-center">
    <div class="p-5" style="border-radius: 6px; box-shadow: 5px 10px 18px #888888; background-color: transparent;">
    <h1 class="pb-3">Willkommen zurück!</h1>
        <form action="{% url 'Dash:user_login'%}" method="post">
            {%csrf_token%}
            <div class="d-flex flex-column">
            <label for="username">Username:</label>
            <input class="form-control" type="text" name="username" placeholder="Enter Username">
            <div class="py-3">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" value="">
            </div>
            <input type="submit" class="btn w-50 mt-2 align-self-center btn-primary" name="" value="Login">
            </div>
        </form>
        </div>
    </div>
    {% comment %} <div style="position: relative;">
                <?xml version="1.0" encoding="utf-8"?>      
                <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 841.9 595.3" style="enable-background:new 0 0 841.9 595.3;  position: absolute; margin-left: -20em; margin-top: -64em; z-index: -10; width: 120em;" xml:space="preserve">
                    <style type="text/css">
                    .st0{fill:#C2121E;
                    opacity: 0.05;}
                    </style>
                    <g>
                    <path class="st0" d="M420,133.3c-62.2,0-116.5,34.6-144.6,85.6c-0.2,0.3-0.3,0.6-0.5,0.8c-0.6,1.2-1.2,2.4-1.9,3.5
                        c-0.6,1.2-1.2,2.4-1.8,3.6c-0.5,1-0.9,1.9-1.4,2.9c-0.2,0.5-0.5,1-0.7,1.5c-0.4,1-0.8,1.9-1.2,2.9c-0.6,1.2-1.1,2.5-1.5,3.7
                        c-0.9,2.3-1.8,4.6-2.6,7c-0.1,0.4-0.3,0.9-0.4,1.3c-0.2,0.6-0.4,1.2-0.6,1.7h0h16h14.8H425c24.9,0,45.3,21.2,42.6,45.9
                        c-1.4,12.5-8.3,23.2-18.2,29.9c-5.2,3.5-11.1,5.8-17.6,6.6c-1.7,0.2-3.5,0.3-5.3,0.3c0,0-34.8,0.2-34.7,0.3l28.2,28.3l60.7,60.8
                        l0.1,0.1c-1.3,0.7-2.6,1.3-3.9,1.9c-1.5,0.7-2.9,1.3-4.4,1.9c-0.6,0.3-1.2,0.5-1.8,0.8c-1.2,0.5-2.3,0.9-3.5,1.4
                        c-15.1,5.5-30.9,8.4-47.1,8.4c-14.1,0-27.6-2.1-40.4-6.1c-2.1-0.7-4.2-1.4-6.3-2.1c-2.1-0.8-4.2-1.6-6.2-2.4c-2-0.9-4-1.8-6-2.7
                        c-7.9-3.8-15.4-8.4-22.4-13.6c-1.7-1.3-3.5-2.6-5.1-4c-3.4-2.8-6.6-5.7-9.7-8.8c-1.2-1.2-2.4-2.4-3.5-3.7c-0.3-0.3-0.6-0.7-1-1
                        c-1-1.1-1.9-2.2-2.9-3.3c-0.2-0.3-0.4-0.5-0.7-0.8c-0.8-1-1.7-2.1-2.5-3.1c-0.1-0.1-0.2-0.2-0.3-0.3c-0.4-0.5-0.8-1-1.2-1.6
                        c-0.9-1.2-1.8-2.4-2.7-3.6c-0.6-0.9-1.2-1.8-1.9-2.7c-1.2-1.8-2.4-3.7-3.5-5.5c-1.7-2.8-3.3-5.7-4.8-8.6c-1-1.9-1.9-3.9-2.9-5.9
                        c-0.9-2-1.8-4-2.6-6.1c-0.8-2.1-1.6-4.1-2.3-6.2c-0.6-1.9-1.2-3.8-1.8-5.7c-0.4-1.3-0.8-2.6-1.1-3.9c-0.1-0.3-0.2-0.6-0.2-0.9
                        c-0.4-1.5-0.8-3.1-1.1-4.6c-0.1-0.3-0.1-0.7-0.2-1c-0.3-1.5-0.6-2.9-0.8-4.4c-1.1-6.4-1.7-12.9-1.9-19.5c0-1.2-0.1-2.4-0.1-3.5
                        c0-1.2,0-2.4,0.1-3.5c0.1-2.3,0.2-4.6,0.3-6.9c0.1-0.9,0.1-1.7,0.2-2.6c0.3-2.8,0.6-5.6,1-8.3h-29.3c-0.1,0.3-0.1,0.6-0.1,0.8
                        c-0.2,1.6-0.4,3.2-0.5,4.8c-0.2,1.7-0.3,3.4-0.4,5.1v0.2c-0.1,1.6-0.2,3.2-0.2,4.8c-0.1,1.9-0.1,3.8-0.1,5.8c0,1.9,0,3.9,0.1,5.8
                        c0,1.6,0.1,3.2,0.2,4.8v0.2c0.1,1.7,0.2,3.4,0.4,5.1c0.1,1.6,0.3,3.2,0.5,4.8c0.2,1.5,0.4,3,0.6,4.6c0.1,1,0.3,1.9,0.5,2.8
                        c0.1,0.7,0.2,1.4,0.4,2.1c0.1,0.8,0.3,1.7,0.5,2.5c0.8,4.2,1.9,8.4,3,12.6c0.3,1.2,0.7,2.4,1.1,3.6c0.5,1.6,1,3.3,1.6,4.9
                        c0.3,1,0.7,2.1,1.1,3.1c0.9,2.5,1.9,5,3,7.5c0.3,0.8,0.6,1.5,1,2.2c0.4,1,0.8,1.9,1.3,2.9c0.4,0.9,0.8,1.9,1.3,2.8c0.5,1,1,2,1.5,3
                        c0.6,1.2,1.2,2.4,1.9,3.5c1.2,2.3,2.6,4.6,4,6.9c1.4,2.3,2.8,4.5,4.3,6.7c4.4,6.6,9.4,12.8,14.7,18.7c0.7,0.8,1.5,1.6,2.2,2.4
                        c1.4,1.5,2.8,2.9,4.2,4.3c0.6,0.6,1.2,1.2,1.9,1.8c7.6,7.3,16,13.9,24.9,19.6c1,0.6,2,1.3,3,1.9c3.5,2.1,7.1,4.1,10.8,6
                        c1.2,0.6,2.4,1.2,3.6,1.8c1.6,0.8,3.2,1.5,4.8,2.2c0.8,0.4,1.7,0.7,2.5,1.1c3.9,1.7,7.9,3.2,12,4.6c0.8,0.3,1.6,0.5,2.4,0.8
                        c6.4,2,12.9,3.7,19.6,4.9c0.8,0.2,1.6,0.3,2.4,0.4c0.9,0.1,1.8,0.3,2.6,0.4c1.4,0.2,2.8,0.4,4.2,0.6c1.7,0.2,3.4,0.4,5.1,0.6
                        c0.1,0,0.2,0,0.3,0c1.6,0.1,3.2,0.3,4.8,0.4h0.2c1.6,0.1,3.1,0.2,4.7,0.2c1.9,0.1,3.9,0.1,5.8,0.1c19.6,0,38.9-3.4,57.2-10.2
                        c2.2-0.8,4.4-1.7,6.6-2.6c1.4-0.6,2.7-1.1,4-1.7c0.7-0.3,1.5-0.7,2.2-1c1.1-0.5,2.3-1.1,3.4-1.6c1-0.5,1.9-1,2.8-1.5
                        c1-0.5,2-1.1,3-1.6c1-0.6,2-1.1,3-1.7c0.8-0.5,1.6-0.9,2.4-1.4c1.3-0.7,2.5-1.5,3.7-2.3c0.3-0.2,0.5-0.3,0.8-0.5
                        c0.5-0.3,0.9-0.6,1.4-0.9c0.4-0.2,0.8-0.5,1.1-0.7c1.6-1,3.1-2.1,4.6-3.2c1.5-1,2.9-2.1,4.3-3.2c0.4-0.3,0.9-0.7,1.3-1
                        c0,0,0.1-0.1,0.1-0.1c1.4-1.1,2.8-2.2,4.1-3.4c0.1-0.1,0.1-0.1,0.2-0.1l-20.6-20.6v0l0,0l-50.2-50.2c-0.1-0.1-0.1-0.2,0-0.2
                        c19.9-9.1,35-27.2,39.7-49.1c1.1-4.8,1.6-9.8,1.6-15c0-15.3-4.9-29.4-13.2-40.9c-12.8-17.8-33.6-29.4-57.2-29.4H309.7
                        c0.9-1.3,1.9-2.5,2.8-3.7c0.8-1.1,1.7-2.1,2.6-3.2c25-30.3,62.7-49.6,105-49.6c75,0,136,61,136,136c0,31.6-11.1,61.5-30.1,85.1
                        l13.5,13.5l0,0v0l7.1,7.1C570.8,375,585,337.7,585,298.3C585,207.3,511,133.3,420,133.3L420,133.3z"/>
                    </g>
                </svg>
            </div> {% endcomment %}
</div>

{%endblock%}