{% extends 'dash/base.html' %} {% load crispy_forms_tags %} {% block body_block %}
<div class="nearby-container">    
<div  style="min-height: 29.5vw;" class="px-sm-5 px-3 mt-5 d-flex justify-content-center align-items-center flex-column">
{% for result in landfill_locations_distance %}
 {{ result }}
{% endfor %}
    <div class="pb-5 d-flex justify-content-center align-content-center flex-column">
    <div class="p-sm-5 p-3" style="border-radius: 6px; box-shadow: 5px 10px 18px #888888; background-color: transparent;">
        <div class="pb-sm-4 pb-1 text-left" style="line-height: 2;">
            <h2 >Finden Sie Deponien in Ihrer Nähe!</h2>
        </div>  
        
        <form id="searchForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row py-2 ">
                <div class="col-sm-6 col-12 ">
                    <strong>Land</strong>
                    {{ search_landfills.countries|as_crispy_field }}
                </div>
                <div class="col-sm-6 col-12 ">
                    <strong>Stadt</strong>
                    {{ search_landfills.city|as_crispy_field }}
                </div>
            </div>
      
            <div class="row py-2">
                <div class="col-sm-6 col-12 ">
                    <strong>Postleitzahl</strong>
                    {{ search_landfills.zipCode|as_crispy_field }}
                </div>
                <div class="col-sm-6 col-12 ">
                    <strong>Straße</strong>
                    {{ search_landfills.street|as_crispy_field }}
                </div>
            </div>
            
            <div class="row py-2 pb-2 pb-sm-5">
                <div class="col">
                    <strong>Welchen Abfall möchten sie abgeben?</strong>
                    {{ search_landfills.tags|as_crispy_field }}
                </div>
            </div>
            {{ search_landfills.material_id|as_crispy_field }}
            {{ search_landfills.material_country|as_crispy_field }}

            <input type="submit" value="Suchen" class="btn mb-sm-0  btn-danger">
            <button type="button" onclick="getLocation()" class="btn btn-secondary">Current Location</button>
        </form>
    </div></div>
</div>
            {% comment %} <div style="position: relative;">
                <?xml version="1.0" encoding="utf-8"?>      
                <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 841.9 595.3" style="enable-background:new 0 0 841.9 595.3;  position: absolute; margin-left: -20em; margin-top: -64em; z-index: -10; width: 120em;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:#C2121E;
                        opacity: 0.05;}
                        </style>
                        <g>
                        <path class="st0" d="M420,133.3c-62.2,0-116.5,34.6-144.6,85.6c-0.2,0.3-0.3,0.6-0.5,0.8c-0.6,1.2-1.2,2.4-1.9,3.5
                            c-0.6,1.2-1.2,2.4-1.8,3.6c-0.5,1-0.9,1.9-1.4,2.9c-0.2,0.5-0.5,1-0.7,1.5c-0.4,1-0.8,1.9-1.2,2.9c-0.6,1.2-1.1,2.5-1.5,3.7
                            c-0.9,2.3-1.8,4.6-2.6,7c-0.1,0.4-0.3,0.9-0.4,1.3c-0.2,0.6-0.4,1.2-0.6,1.7h0h16h14.8H425c24.9,0,45.3,21.2,42.6,45.9
                            c-1.4,12.5-8.3,23.2-18.2,29.9c-5.2,3.5-11.1,5.8-17.6,6.6c-1.7,0.2-3.5,0.3-5.3,0.3c0,0-34.8,0.2-34.7,0.3l28.2,28.3l60.7,60.8
                            l0.1,0.1c-1.3,0.7-2.6,1.3-3.9,1.9c-1.5,0.7-2.9,1.3-4.4,1.9c-0.6,0.3-1.2,0.5-1.8,0.8c-1.2,0.5-2.3,0.9-3.5,1.4
                            c-15.1,5.5-30.9,8.4-47.1,8.4c-14.1,0-27.6-2.1-40.4-6.1c-2.1-0.7-4.2-1.4-6.3-2.1c-2.1-0.8-4.2-1.6-6.2-2.4c-2-0.9-4-1.8-6-2.7
                            c-7.9-3.8-15.4-8.4-22.4-13.6c-1.7-1.3-3.5-2.6-5.1-4c-3.4-2.8-6.6-5.7-9.7-8.8c-1.2-1.2-2.4-2.4-3.5-3.7c-0.3-0.3-0.6-0.7-1-1
                            c-1-1.1-1.9-2.2-2.9-3.3c-0.2-0.3-0.4-0.5-0.7-0.8c-0.8-1-1.7-2.1-2.5-3.1c-0.1-0.1-0.2-0.2-0.3-0.3c-0.4-0.5-0.8-1-1.2-1.6
                            c-0.9-1.2-1.8-2.4-2.7-3.6c-0.6-0.9-1.2-1.8-1.9-2.7c-1.2-1.8-2.4-3.7-3.5-5.5c-1.7-2.8-3.3-5.7-4.8-8.6c-1-1.9-1.9-3.9-2.9-5.9
                            c-0.9-2-1.8-4-2.6-6.1c-0.8-2.1-1.6-4.1-2.3-6.2c-0.6-1.9-1.2-3.8-1.8-5.7c-0.4-1.3-0.8-2.6-1.1-3.9c-0.1-0.3-0.2-0.6-0.2-0.9
                            c-0.4-1.5-0.8-3.1-1.1-4.6c-0.1-0.3-0.1-0.7-0.2-1c-0.3-1.5-0.6-2.9-0.8-4.4c-1.1-6.4-1.7-12.9-1.9-19.5c0-1.2-0.1-2.4-0.1-3.5
                            c0-1.2,0-2.4,0.1-3.5c0.1-2.3,0.2-4.6,0.3-6.9c0.1-0.9,0.1-1.7,0.2-2.6c0.3-2.8,0.6-5.6,1-8.3h-29.3c-0.1,0.3-0.1,0.6-0.1,0.8
                            c-0.2,1.6-0.4,3.2-0.5,4.8c-0.2,1.7-0.3,3.4-0.4,5.1v0.2c-0.1,1.6-0.2,3.2-0.2,4.8c-0.1,1.9-0.1,3.8-0.1,5.8c0,1.9,0,3.9,0.1,5.8
                            c0,1.6,0.1,3.2,0.2,4.8v0.2c0.1,1.7,0.2,3.4,0.4,5.1c0.1,1.6,0.3,3.2,0.5,4.8c0.2,1.5,0.4,3,0.6,4.6c0.1,1,0.3,1.9,0.5,2.8
                            c0.1,0.7,0.2,1.4,0.4,2.1c0.1,0.8,0.3,1.7,0.5,2.5c0.8,4.2,1.9,8.4,3,12.6c0.3,1.2,0.7,2.4,1.1,3.6c0.5,1.6,1,3.3,1.6,4.9
                            c0.3,1,0.7,2.1,1.1,3.1c0.9,2.5,1.9,5,3,7.5c0.3,0.8,0.6,1.5,1,2.2c0.4,1,0.8,1.9,1.3,2.9c0.4,0.9,0.8,1.9,1.3,2.8c0.5,1,1,2,1.5,3
                            c0.6,1.2,1.2,2.4,1.9,3.5c1.2,2.3,2.6,4.6,4,6.9c1.4,2.3,2.8,4.5,4.3,6.7c4.4,6.6,9.4,12.8,14.7,18.7c0.7,0.8,1.5,1.6,2.2,2.4
                            c1.4,1.5,2.8,2.9,4.2,4.3c0.6,0.6,1.2,1.2,1.9,1.8c7.6,7.3,16,13.9,24.9,19.6c1,0.6,2,1.3,3,1.9c3.5,2.1,7.1,4.1,10.8,6
                            c1.2,0.6,2.4,1.2,3.6,1.8c1.6,0.8,3.2,1.5,4.8,2.2c0.8,0.4,1.7,0.7,2.5,1.1c3.9,1.7,7.9,3.2,12,4.6c0.8,0.3,1.6,0.5,2.4,0.8
                            c6.4,2,12.9,3.7,19.6,4.9c0.8,0.2,1.6,0.3,2.4,0.4c0.9,0.1,1.8,0.3,2.6,0.4c1.4,0.2,2.8,0.4,4.2,0.6c1.7,0.2,3.4,0.4,5.1,0.6
                            c0.1,0,0.2,0,0.3,0c1.6,0.1,3.2,0.3,4.8,0.4h0.2c1.6,0.1,3.1,0.2,4.7,0.2c1.9,0.1,3.9,0.1,5.8,0.1c19.6,0,38.9-3.4,57.2-10.2
                            c2.2-0.8,4.4-1.7,6.6-2.6c1.4-0.6,2.7-1.1,4-1.7c0.7-0.3,1.5-0.7,2.2-1c1.1-0.5,2.3-1.1,3.4-1.6c1-0.5,1.9-1,2.8-1.5
                            c1-0.5,2-1.1,3-1.6c1-0.6,2-1.1,3-1.7c0.8-0.5,1.6-0.9,2.4-1.4c1.3-0.7,2.5-1.5,3.7-2.3c0.3-0.2,0.5-0.3,0.8-0.5
                            c0.5-0.3,0.9-0.6,1.4-0.9c0.4-0.2,0.8-0.5,1.1-0.7c1.6-1,3.1-2.1,4.6-3.2c1.5-1,2.9-2.1,4.3-3.2c0.4-0.3,0.9-0.7,1.3-1
                            c0,0,0.1-0.1,0.1-0.1c1.4-1.1,2.8-2.2,4.1-3.4c0.1-0.1,0.1-0.1,0.2-0.1l-20.6-20.6v0l0,0l-50.2-50.2c-0.1-0.1-0.1-0.2,0-0.2
                            c19.9-9.1,35-27.2,39.7-49.1c1.1-4.8,1.6-9.8,1.6-15c0-15.3-4.9-29.4-13.2-40.9c-12.8-17.8-33.6-29.4-57.2-29.4H309.7
                            c0.9-1.3,1.9-2.5,2.8-3.7c0.8-1.1,1.7-2.1,2.6-3.2c25-30.3,62.7-49.6,105-49.6c75,0,136,61,136,136c0,31.6-11.1,61.5-30.1,85.1
                            l13.5,13.5l0,0v0l7.1,7.1C570.8,375,585,337.7,585,298.3C585,207.3,511,133.3,420,133.3L420,133.3z"/>
                        </g>
                </svg>
            </div> {% endcomment %}
    {% if search_results %}
        <div class="px-sm-5 p-0 d-flex flex-column flex-sm-row justify-content-center">            
                {% for sr in search_results %}
                <div class="card m-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ sr.companyName }}</h5>                       
                        <div class="row">
                            <div class="col">
                                {{ sr.distance }} km entfernt
                            </div>
                        </div>
                        <p class="card-text"> 
                        <div class="row">
                            <div class="col">
                                {{ sr.zip_code }} {{ sr.city }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col">
                                {{ sr.street }}
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col">
                                <b>Mindestabgabe:</b> {{ sr.min_weight }}t
                            </div>
                        </div>
                        <div style="position: relative;">
                            <?xml version="1.0" encoding="utf-8"?>      
                                <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 841.9 595.3" style="enable-background:new 0 0 841.9 595.3;  position: absolute; margin-left: -4.5em; margin-top: -15em; z-index: 10; width: 30em;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0{fill:#C2121E;
                                        opacity: 0.05;}
                                        </style>
                                        <g>
                                        <path class="st0" d="M420,133.3c-62.2,0-116.5,34.6-144.6,85.6c-0.2,0.3-0.3,0.6-0.5,0.8c-0.6,1.2-1.2,2.4-1.9,3.5
                                            c-0.6,1.2-1.2,2.4-1.8,3.6c-0.5,1-0.9,1.9-1.4,2.9c-0.2,0.5-0.5,1-0.7,1.5c-0.4,1-0.8,1.9-1.2,2.9c-0.6,1.2-1.1,2.5-1.5,3.7
                                            c-0.9,2.3-1.8,4.6-2.6,7c-0.1,0.4-0.3,0.9-0.4,1.3c-0.2,0.6-0.4,1.2-0.6,1.7h0h16h14.8H425c24.9,0,45.3,21.2,42.6,45.9
                                            c-1.4,12.5-8.3,23.2-18.2,29.9c-5.2,3.5-11.1,5.8-17.6,6.6c-1.7,0.2-3.5,0.3-5.3,0.3c0,0-34.8,0.2-34.7,0.3l28.2,28.3l60.7,60.8
                                            l0.1,0.1c-1.3,0.7-2.6,1.3-3.9,1.9c-1.5,0.7-2.9,1.3-4.4,1.9c-0.6,0.3-1.2,0.5-1.8,0.8c-1.2,0.5-2.3,0.9-3.5,1.4
                                            c-15.1,5.5-30.9,8.4-47.1,8.4c-14.1,0-27.6-2.1-40.4-6.1c-2.1-0.7-4.2-1.4-6.3-2.1c-2.1-0.8-4.2-1.6-6.2-2.4c-2-0.9-4-1.8-6-2.7
                                            c-7.9-3.8-15.4-8.4-22.4-13.6c-1.7-1.3-3.5-2.6-5.1-4c-3.4-2.8-6.6-5.7-9.7-8.8c-1.2-1.2-2.4-2.4-3.5-3.7c-0.3-0.3-0.6-0.7-1-1
                                            c-1-1.1-1.9-2.2-2.9-3.3c-0.2-0.3-0.4-0.5-0.7-0.8c-0.8-1-1.7-2.1-2.5-3.1c-0.1-0.1-0.2-0.2-0.3-0.3c-0.4-0.5-0.8-1-1.2-1.6
                                            c-0.9-1.2-1.8-2.4-2.7-3.6c-0.6-0.9-1.2-1.8-1.9-2.7c-1.2-1.8-2.4-3.7-3.5-5.5c-1.7-2.8-3.3-5.7-4.8-8.6c-1-1.9-1.9-3.9-2.9-5.9
                                            c-0.9-2-1.8-4-2.6-6.1c-0.8-2.1-1.6-4.1-2.3-6.2c-0.6-1.9-1.2-3.8-1.8-5.7c-0.4-1.3-0.8-2.6-1.1-3.9c-0.1-0.3-0.2-0.6-0.2-0.9
                                            c-0.4-1.5-0.8-3.1-1.1-4.6c-0.1-0.3-0.1-0.7-0.2-1c-0.3-1.5-0.6-2.9-0.8-4.4c-1.1-6.4-1.7-12.9-1.9-19.5c0-1.2-0.1-2.4-0.1-3.5
                                            c0-1.2,0-2.4,0.1-3.5c0.1-2.3,0.2-4.6,0.3-6.9c0.1-0.9,0.1-1.7,0.2-2.6c0.3-2.8,0.6-5.6,1-8.3h-29.3c-0.1,0.3-0.1,0.6-0.1,0.8
                                            c-0.2,1.6-0.4,3.2-0.5,4.8c-0.2,1.7-0.3,3.4-0.4,5.1v0.2c-0.1,1.6-0.2,3.2-0.2,4.8c-0.1,1.9-0.1,3.8-0.1,5.8c0,1.9,0,3.9,0.1,5.8
                                            c0,1.6,0.1,3.2,0.2,4.8v0.2c0.1,1.7,0.2,3.4,0.4,5.1c0.1,1.6,0.3,3.2,0.5,4.8c0.2,1.5,0.4,3,0.6,4.6c0.1,1,0.3,1.9,0.5,2.8
                                            c0.1,0.7,0.2,1.4,0.4,2.1c0.1,0.8,0.3,1.7,0.5,2.5c0.8,4.2,1.9,8.4,3,12.6c0.3,1.2,0.7,2.4,1.1,3.6c0.5,1.6,1,3.3,1.6,4.9
                                            c0.3,1,0.7,2.1,1.1,3.1c0.9,2.5,1.9,5,3,7.5c0.3,0.8,0.6,1.5,1,2.2c0.4,1,0.8,1.9,1.3,2.9c0.4,0.9,0.8,1.9,1.3,2.8c0.5,1,1,2,1.5,3
                                            c0.6,1.2,1.2,2.4,1.9,3.5c1.2,2.3,2.6,4.6,4,6.9c1.4,2.3,2.8,4.5,4.3,6.7c4.4,6.6,9.4,12.8,14.7,18.7c0.7,0.8,1.5,1.6,2.2,2.4
                                            c1.4,1.5,2.8,2.9,4.2,4.3c0.6,0.6,1.2,1.2,1.9,1.8c7.6,7.3,16,13.9,24.9,19.6c1,0.6,2,1.3,3,1.9c3.5,2.1,7.1,4.1,10.8,6
                                            c1.2,0.6,2.4,1.2,3.6,1.8c1.6,0.8,3.2,1.5,4.8,2.2c0.8,0.4,1.7,0.7,2.5,1.1c3.9,1.7,7.9,3.2,12,4.6c0.8,0.3,1.6,0.5,2.4,0.8
                                            c6.4,2,12.9,3.7,19.6,4.9c0.8,0.2,1.6,0.3,2.4,0.4c0.9,0.1,1.8,0.3,2.6,0.4c1.4,0.2,2.8,0.4,4.2,0.6c1.7,0.2,3.4,0.4,5.1,0.6
                                            c0.1,0,0.2,0,0.3,0c1.6,0.1,3.2,0.3,4.8,0.4h0.2c1.6,0.1,3.1,0.2,4.7,0.2c1.9,0.1,3.9,0.1,5.8,0.1c19.6,0,38.9-3.4,57.2-10.2
                                            c2.2-0.8,4.4-1.7,6.6-2.6c1.4-0.6,2.7-1.1,4-1.7c0.7-0.3,1.5-0.7,2.2-1c1.1-0.5,2.3-1.1,3.4-1.6c1-0.5,1.9-1,2.8-1.5
                                            c1-0.5,2-1.1,3-1.6c1-0.6,2-1.1,3-1.7c0.8-0.5,1.6-0.9,2.4-1.4c1.3-0.7,2.5-1.5,3.7-2.3c0.3-0.2,0.5-0.3,0.8-0.5
                                            c0.5-0.3,0.9-0.6,1.4-0.9c0.4-0.2,0.8-0.5,1.1-0.7c1.6-1,3.1-2.1,4.6-3.2c1.5-1,2.9-2.1,4.3-3.2c0.4-0.3,0.9-0.7,1.3-1
                                            c0,0,0.1-0.1,0.1-0.1c1.4-1.1,2.8-2.2,4.1-3.4c0.1-0.1,0.1-0.1,0.2-0.1l-20.6-20.6v0l0,0l-50.2-50.2c-0.1-0.1-0.1-0.2,0-0.2
                                            c19.9-9.1,35-27.2,39.7-49.1c1.1-4.8,1.6-9.8,1.6-15c0-15.3-4.9-29.4-13.2-40.9c-12.8-17.8-33.6-29.4-57.2-29.4H309.7
                                            c0.9-1.3,1.9-2.5,2.8-3.7c0.8-1.1,1.7-2.1,2.6-3.2c25-30.3,62.7-49.6,105-49.6c75,0,136,61,136,136c0,31.6-11.1,61.5-30.1,85.1
                                            l13.5,13.5l0,0v0l7.1,7.1C570.8,375,585,337.7,585,298.3C585,207.3,511,133.3,420,133.3L420,133.3z"/>
                                        </g>
                                </svg>
                            </div>
                        </p>
                        <button id="contactModalBtn" type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                    data-bs-target="#contactModal" data-id="{{ sr.gln }}">
                                Kontaktieren
                            </button>
                    </div>
                </div>
                    
                            
                 
                                           
                {% endfor %}
           
            <script type="text/javascript">
        


    </script>

        </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalLabel">Deponie kontaktieren</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="contactForm" method="post" enctype="multipart/form-data" action="/dash/contact-landfill/">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="emailInput" class="form-label">Email Addresse</label>
                            <input id="id_email" name="email" type="email" class="form-control" placeholder="max@mustermann.com" required>
                        </div>
                        <div class="mb-3">
                            <label for="subjectInput" class="form-label">Betreff</label>
                            <input id="id_subject" name="subject" type="text" class="form-control" placeholder="Betreff" required>
                        </div>
                        <div class="mb-3 row d-flex justify-content-center align-items-center">
                            <div class="col">
                                <label for="subjectInput" class="form-label m-0">Abholung</label>
                                <input id="id_subject" name="radio-delivery-variant" type="radio" value="pickup" class="form-check-input pl-3" required>
                            </div>
                            <div class="col">
                                <label for="subjectInput" class="form-label m-0">Lieferung</label>
                                <input id="id_subject" name="radio-delivery-variant" type="radio" value="delivery" class="form-check-input pl-3" required>
                            </div>
                        </div>              
                        <div class="mb-3">
                            <label for="messageInput" class="form-label">Nachricht</label>
                            <textarea id="id_message" name="message" class="form-control" rows="5" minlength="10" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="contact-mail-attachment" class="form-label">Anhang wählen:<br></label>
                            <input type="file" class="form-control" id="contact-mail-attachment" name="contact-mail-attachment">
                        </div>   
                        <input id="id_gln" type="hidden" name="gln" value=""/>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger" form="contactForm" value="Senden"/>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="successContactModal" tabindex="-1" aria-labelledby="successContactModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successContactModalLabel">Nachricht versendet!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Vielen Dank dass sie Revitalyze benutzen! Ihre anfrage wurde an die Deponie weitergeleitet.
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% if search_results %}
    <div class="mapcontainer">
        
    <style>
        #map-nearby {
            height: 100%;
        }
        
        .custom-map-control-button {
            background-color: #fff;
            border: 0;
            border-radius: 2px;
            box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
            margin: 10px;
            padding: 0 0.5em;
            font: 400 18px Roboto, Arial, sans-serif;
            overflow: hidden;
            height: 40px;
            cursor: pointer;
        }
        
        .custom-map-control-button:hover {
            background: #ebebeb;
        }
    </style>
    <script>
    function initMap() {
    const mainLocation = location_points[0].toString().split(' ')
    const mainLocationLat = parseFloat(mainLocation[1])
    const mainLocationLng = parseFloat(mainLocation[0])
    const myLatLng = { lat: mainLocationLat, lng: mainLocationLng };
    const map = new google.maps.Map(document.getElementById("map-nearby"), {
        zoom: 12,
        mapId: 'aab9c48d2d58a696',
        center: myLatLng,
    });
     let x_coordinate_test;
     var markerLatLngs = [];
     {% for sr in search_results %}
    
        nearbyMarkerPosition = { lat: {{sr.y_coordinate}}, lng: {{sr.x_coordinate}} };
     console.log(nearbyMarkerPosition)
     markerLatLngs.push(new google.maps.LatLng({{sr.y_coordinate}}, {{sr.x_coordinate}}))
    new google.maps.Marker({
                position: nearbyMarkerPosition,
                map,
                title: String({{ sr.distance }}),
            });
     {% endfor %}
     var latlngbounds = new google.maps.LatLngBounds();
     for (var i = 0; i < markerLatLngs.length; i++) {
        latlngbounds.extend(markerLatLngs[i]);
    }
    map.fitBounds(latlngbounds);
    
}</script>

    <div class="col jumbotron text-center d-flex py-3 justify-content-center flex-column">
        <h1>Deponien in der Nähe</h1>
        <div class="w-100 d-flex justify-content-center">
        <div style="height: 500px; width: 800px;" id="map-nearby">map</div>
    </div></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuWQw47pYcFqqzuwpKlBJBq3WYgZm9G4k&callback=initMap" async></script>
    </div>
    </div>
    <script type="text/javascript">
        location_points =['11.71798042769634 47.34414775144533']
        window.onload = function() {
            navigator.geolocation.watchPosition(function(position) {
                let initial_coords =String(position.coords.latitude) +' '+ String(position.coords.longitude)
            });
        };    
    </script> 
    {% endif %}
    <script>
        $(document).ready(function() {            
            const material_data = {
                {% for material in material_at %}
                    "(AT) Schlüsselnummer: {{material.Abfallschluesselnummer}} | Spezifikation: {{material.Bezeichnung}} | {{material.id}}" : {{material.id}},
                    {% if material.Gefaehrlich %}
                        "(AT) Schlüsselnummer: {{material.Abfallschluesselnummer}} | Spezifikation: {{material.Bezeichnung}} | Gefährlich | {{material.id}}" : {{material.id}},
                    {% endif %}
                {% endfor %}
                {% for material in material_eu%}
                    "(EU) Schlüsselnummer: {{material.Abfallschluesselnummer}} | Spezifikation: {{material.Bezeichnung}} | {{material.id}}" : {{material.id}},
                    {% if material.Gefaehrlich %}
                        "(EU) Schlüsselnummer: {{material.Abfallschluesselnummer}} | Spezifikation: {{material.Bezeichnung}} | Gefährlich | {{material.id}}" : {{material.id}},
                    {% endif %}
                {% endfor %}
            }
            const autocomplete = []
            for (const [key] of Object.entries(material_data)) {
                autocomplete.push(key);
            }
            $("#id_tags").autocomplete(
                {
                    source : function(request, response) {
                        let results = $.ui.autocomplete.filter(autocomplete, request.term);
                        response(results.slice(0, 10));
                    },
                    minLength : 3
                });

            $('#contactModal').on('show.bs.modal', function (e) {
                const id = $(e.relatedTarget).attr('data-id');
                $('#id_gln').val(id);
            });

            $(document).on('submit', '#contactForm', function () {
                $('#id_material_id').val(material_data[ui.item.value]);
                return false;
            });

            $('#searchForm').submit(function() {
                let material = $("#id_tags").val()
                if (material) {
                    if (material.includes('(EU)')) {
                        $('#id_material_country').val("EU");
                    } else {
                        $('#id_material_country').val("AT");
                    }

                    $('#id_material_id').val(material_data[material]);
                    return true;
                }
                return false
            });

            $(document).on('submit', '#contactForm', function () {
                $.post(
                    $(this).attr('action'),
                    $(this).serialize(),
                    function () {},
                    'json'
                );
                $('#contactModal').modal('hide');
                $('#successContactModal').modal('show');
                return false;
            });
        });

        const Http = new XMLHttpRequest();
        function setValue(id, value) {
                    $('#id_' + id).val(value);
                }
        function getLocation() {

        
            navigator.geolocation.getCurrentPosition(
                (position) => {
        
                    $.get('https://nominatim.openstreetmap.org/reverse?lat='+position.coords.latitude+'&lon='+position.coords.longitude+'&format=json', function(data) {
                     
                        setValue("city", data.address.town);
                        if(data.address.country_code === 'at'){
                            setSelectBox('Austria');
                        }else if (data.address.country_code === 'it'){
                            setSelectBox('Italien');
                        }
                        ;
                        setValue("zipCode", data.address.postcode);
                        setValue("street", data.address.road + ' ' +data.address.house_number)
                        
                    })
                })
        }
        function setSelectBox(value) {
            const dd = document.getElementById('id_countries');
            
            for (let i = 0; i < dd.options.length; i++) {
                console.log(dd.options[i].text)
                if (dd.options[i].text === value) {
                    dd.selectedIndex = i;
                    break;
                }
            }
        }


    </script>
{% endblock %}