

{% extends "dash/base.html" %} {%load static%}{% block body_block %}

<div class="d-flex justify-content-center p-sm-5 p-3 flex-column align-items-center">

    <div class="text-end">
		<h2 class="partner-werden-be-part">Werde Teil vom 
            <br><b style="color: #C2121E; font-size: 80px;">Revitalyze</b><br> Ökosystem</h2>
	</div>
	<button type="button" class="btn btn-danger partner-werden-register-button-top" 
    onclick="window.location.href ='{%url 'Dash:register'%}'" >Registrieren</button>
    <div class="partner-werden-svg-register-container">
        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="980.49384" height="751.89531" viewBox="0 0 980.49384 751.89531" xmlns:xlink="http://www.w3.org/1999/xlink"><title>nakamoto</title><rect x="313.49413" y="116.99986" width="2" height="107" fill="#3f3d56"/><rect x="313.49413" y="255.85045" width="2" height="94.14941" fill="#3f3d56"/><rect x="310.49413" y="364.99986" width="155" height="2" fill="#3f3d56"/><rect x="244.49413" y="391.99986" width="2" height="85" fill="#3f3d56"/><rect x="262.49413" y="491.99986" width="235" height="2" fill="#3f3d56"/><path d="M623.24692,551.05234" transform="translate(-109.75308 -74.05234)" fill="none" stroke="#3f3d56" stroke-miterlimit="10" stroke-width="2"/><path d="M623.24692,469.05234" transform="translate(-109.75308 -74.05234)" fill="none" stroke="#3f3d56" stroke-miterlimit="10" stroke-width="2"/>
    
        <rect x="512.49413" y="508.99986" width="2" height="101" fill="#3f3d56"/>
        <circle cx="512.49413" cy="618.99986" r="16" fill="#6c63ff"/>

        <rect x="358.49413" y="618.99986" width="138" height="2" fill="#3f3d56"/>
        <rect x="528.49413" y="618.99986" width="138" height="2" fill="#3f3d56"/>
        <rect x="796.49413" y="491.99986" width="130" height="2" fill="#3f3d56"/>
        <path d="M1070.24692,428.05234a20,20,0,1,0,20,20A20.0588,20.0588,0,0,0,1070.24692,428.05234Zm0,
        6a6,6,0,1,1-6,6,6.02013,6.02013,0,0,1,6-6Zm0,28.88462a14.56987,14.56987,0,0,1-12-6.40385c.09616-4,8-6.20192,12-6.20192s11.90385,2.20192,12,6.20192a14.59411,14.59411,0,0,1-12,6.40385Z" transform="translate(-740.75308 170.05234)" fill="#3f3d56"/>

        <path d="M1070.24692,428.05234a20,20,0,1,0,20,20A20.0588,20.0588,0,0,0,1070.24692,428.05234Zm0,
        6a6,6,0,1,1-6,6,6.02013,6.02013,0,0,1,6-6Zm0,28.88462a14.56987,14.56987,0,0,1-12-6.40385c.09616-4,8-6.20192,12-6.20192s11.90385,2.20192,12,6.20192a14.59411,14.59411,0,0,1-12,6.40385Z" transform="translate(-288.75308 -85.05234)" fill="#3f3d56"/>

        <rect x="529.45995" y="165.99986" width="190.03418" height="2" fill="#3f3d56"/><rect x="512.49399" y="181.9999" width="2" height="135" fill="#3f3d56"/><path d="M424.24721,331.0522a17,17,0,1,1,17-17A17.019,17.019,0,0,1,424.24721,331.0522Zm0-32a15,15,0,1,0,15,15A15.01672,15.01672,0,0,0,424.24721,299.0522Z" transform="translate(-109.75308 -74.05234)" fill="#3f3d56"/><path d="M356.24721,584.0522a17,17,0,1,1,17-17A17.019,17.019,0,0,1,356.24721,584.0522Zm0-32a15,15,0,1,0,15,15A15.01672,15.01672,0,0,0,356.24721,552.0522Z" transform="translate(-109.75308 -74.05234)" fill="#3f3d56"/><circle cx="315.49384" cy="366" r="16" fill="#6c63ff"/>
        <rect x="711.49413" y="255.85045" width="2" height="94.14941" fill="#3f3d56"/><rect x="562.49413" y="364.99986" width="133" height="2" fill="#3f3d56"/><rect x="780.49413" y="391.99986" width="2" height="85" fill="#3f3d56"/><rect x="529.49413" y="491.99986" width="235" height="2" fill="#3f3d56"/><rect x="512.49413" y="414.99986" width="2" height="62" fill="#3f3d56"/><circle cx="712.49384" cy="240" r="16" fill="#6c63ff"/><path d="M623.24721,257.0522a17,17,0,1,1,17-17A17.019,17.019,0,0,1,623.24721,257.0522Zm0-32a15,15,0,1,0,15,15A15.01672,15.01672,0,0,0,623.24721,225.0522Z" transform="translate(-109.75308 -74.05234)" fill="#3f3d56"/><circle cx="780.49384" cy="493" r="16" fill="#6c63ff"/><path d="M623.24721,584.0522a17,17,0,1,1,17-17A17.019,17.019,0,0,1,623.24721,584.0522Zm0-32a15,15,0,1,0,15,15A15.01672,15.01672,0,0,0,623.24721,552.0522Z" transform="translate(-109.75308 -74.05234)" fill="#3f3d56"/><path d="M821.24721,457.0522a17,17,0,1,1,17-17A17.019,17.019,0,0,1,821.24721,457.0522Zm0-32a15,15,0,1,0,15,15A15.01672,15.01672,0,0,0,821.24721,425.0522Z" transform="translate(-109.75308 -74.05234)" fill="#3f3d56"/><path d="M356.24692,416.05234a20,20,0,1,0,20,20A20.0588,20.0588,0,0,0,356.24692,416.05234Zm0,6a6,6,0,1,1-6,6,6.02013,6.02013,0,0,1,6-6Zm0,28.88462a14.56987,14.56987,0,0,1-12-6.40385c.09616-4,8-6.20192,12-6.20192s11.90385,2.20192,12,6.20192a14.59411,14.59411,0,0,1-12,6.40385Z" transform="translate(-109.75308 -74.05234)" fill="#3f3d56"/><path d="M425.24692,143.05234a20,20,0,1,0,20,20A20.0588,20.0588,0,0,0,425.24692,143.05234Zm0,6a6,6,0,1,1-6,6,6.02013,6.02013,0,0,1,6-6Zm0,28.88462a14.56987,14.56987,0,0,1-12-6.40385c.09616-4,8-6.20192,12-6.20192s11.90385,2.20192,12,6.20192a14.59411,14.59411,0,0,1-12,6.40385Z" transform="translate(-109.75308 -74.05234)" fill="#3f3d56"/>
        
        <path d="M802.24692,74.05234a20,20,0,1,0,20,20A20.0588,20.0588,0,0,0,802.24692,74.05234Zm0,6a6,6,0,1,1-6,6,6.02013,6.02013,0,0,1,6-6Zm0,28.88462a14.56987,14.56987,0,0,1-12-6.40385c.09616-4,8-6.20192,12-6.20192s11.90385,2.20192,12,6.20192a14.59411,14.59411,0,0,1-12,6.40385Z" transform="translate(-109.75308 524.05234)" fill="#3f3d56"/>
        
        <path d="M802.24692,74.05234a20,20,0,1,0,20,20A20.0588,20.0588,0,0,0,802.24692,74.05234Zm0,6a6,6,0,1,1-6,6,6.02013,6.02013,0,0,1,6-6Zm0,28.88462a14.56987,14.56987,0,0,1-12-6.40385c.09616-4,8-6.20192,12-6.20192s11.90385,2.20192,12,6.20192a14.59411,14.59411,0,0,1-12,6.40385Z" transform="translate(150.75308 397.05234)" fill="#3f3d56"/>
        
        <path d="M1032.24692,293.05234a20,20,0,1,0,20,20A20.0588,20.0588,0,0,0,1032.24692,293.05234Zm0,6a6,6,0,1,1-6,6,6.02013,6.02013,0,0,1,6-6Zm0,28.88462a14.56987,14.56987,0,0,1-12-6.40385c.09616-4,8-6.20192,12-6.20192s11.90385,2.20192,12,6.20192a14.59411,14.59411,0,0,1-12,6.40385Z" transform="translate(-280.75308 -147.05234)" fill="#3f3d56"/>

        <path d="M261.75282,807.34635c-2.84542,25.87621-152.22585,23.704-151.99949-.00154C112.59871,781.47014,261.97914,783.64237,261.75282,807.34635Z" transform="translate(-109.75308 -74.05234)" fill="#e6e6e6"/><polygon points="103.754 668.156 109.81 681.276 120.911 680.267 127.976 657.054 116.874 650.999 103.754 668.156" fill="#ffb8b8"/><polygon points="65.642 698.373 65.403 707.516 82.56 708.525 82.56 697.424 65.642 698.373" fill="#ffb8b8"/><polygon points="71.458 531.908 75.495 612.647 65.403 700.451 95.68 704.488 114.856 593.472 120.911 517.778 71.458 531.908" fill="#2f2e41"/><path d="M133.777,576.69193s-12.11093,79.7303,13.12018,105.97066,59.54542,72.66559,59.54542,72.66559l24.22186-30.27733L169.10055,659.45l12.11093-44.40676,49.453-23.21262-8.07395-55.50844-72.6656-1.00924Z" transform="translate(-109.75308 -74.05234)" fill="#2f2e41"/><circle cx="83.56933" cy="295.74449" r="22.20338" fill="#ffb8b8"/><path d="M174.14677,374.84306s-1.00925,31.28657-6.05547,35.32355,18.1664,21.19413,18.1664,21.19413l15.13867-24.22186V384.9355Z" transform="translate(-109.75308 -74.05234)" fill="#ffb8b8"/><polygon points="74.486 343.179 62.233 324.677 55.31 334.096 45.218 362.355 53.292 472.362 100.726 473.371 106.782 347.216 91.643 329.05 74.486 343.179" fill="#d0cde1"/><path d="M235.71067,424.296l8.074-1.00924s2.01849,1.00924,3.02773,8.074,13.12018,69.63786,13.12018,69.63786l-16.14791,76.70257-18.1664-24.22186,11.10169-42.38826-11.10169-42.38827Z" transform="translate(-109.75308 -74.05234)" fill="#2f2e41"/><polygon points="23.015 349.234 16.959 349.234 1.821 430.983 15.95 494.566 30.079 471.353 26.042 446.122 28.061 423.919 35.126 410.798 23.015 349.234" fill="#2f2e41"/><path d="M222.5905,751.2912s-6.05547-2.01849-6.05547,2.01849,4.037,16.14791,4.037,16.14791-6.05547,37.342,3.02773,35.32355,16.14791-19.17564,17.15716-24.22186,6.05546-31.28658,6.05546-31.28658,8.074-19.17564,3.02773-20.18488-19.17564-5.04622-19.17564-5.04622S238.73841,749.27271,222.5905,751.2912Z" transform="translate(-109.75308 -74.05234)" fill="#2f2e41"/><path d="M193.32241,782.57778s-16.14791-10.09245-19.17564-2.01849a84.80084,84.80084,0,0,0-4.037,18.1664s-4.037,13.12017,12.11093,11.10169,14.12942-2.01849,15.13867-8.074S193.32241,782.57778,193.32241,782.57778Z" transform="translate(-109.75308 -74.05234)" fill="#2f2e41"/><path d="M180.20223,369.79684l4.037-1.00925s3.02773-17.15715,10.09244-15.13866,25.23111,4.037,25.23111-4.037-17.15715-15.13867-27.24959-14.12942-27.2496,4.037-26.24036,19.17564,7.52165,29.86536,7.52165,29.86536l.526-8.97562Z" transform="translate(-109.75308 -74.05234)" fill="#2f2e41"/><polygon points="91.643 355.29 74.486 343.179 91.643 329.05 97.6 336.197 91.643 355.29" fill="#d0cde1"/><polygon points="59.347 354.281 74.486 343.179 62.375 325.013 55.31 334.096 59.347 354.281" fill="#d0cde1"/><path d="M242.77538,423.28679l-32.29582-13.12018-7.56933-5.55084-22.708,100.41981-15.13866-45.416,4.5416-58.03155-41.88364,21.69876L141.851,491.9154l2.01849,26.24036L137.814,539.34989s-21.19413,15.13866-14.12942,31.28657,15.13866,17.15716,15.13866,17.15716,34.31431-32.29582,36.3328-40.36978,5.04622-22.20337,5.04622-22.20337,17.15716,64.59164,37.342,63.58239,20.18489-22.20337,20.18489-22.20337l-5.04622-22.20338L224.609,521.18349l4.037-38.35129Z" transform="translate(-109.75308 -74.05234)" fill="#2f2e41"/></svg></div>
    </div>


    <div>
        <div class="container p-0" style="line-height: 1.7;">
            <div class="row d-flex pt-sm-5 pt-0 px-3 px-sm-1 partner-werden-first-textblock-container">
                <div class="col">
                    <h5 class="partner-werden-first-textblock">
                    ... gemeinsamen Erfolg! Nur wenn unsere Kunden gewinnen, gewinnen auch wir. So ist unser Geschäftsmodell aufgebaut - transpartent und werteorientiert. Deshalb investieren wir so viel in den Erfolg unserer Kunden. Wir führen aus und setzen in höchstem Maße das um, was unseren Kunden einen Mehrwert bietet. Dabei handeln wir unternehmerisch und wachstumsorientiert, ergreifen die Initiative, um zu lernen, und um mutige Entscheidungen zu treffen.
                    </h5>
                </div>
        
                <div class="col-sm-5 col text-left" style="line-height: 1.7;">
                    <h2 class="partner-werden-first-textblock-headline" >Eine Partnerschaft mit uns <br>ist ein Versprechen für...</h2>
                </div>            
                {% comment %} <div class="d-none d-sm-flex" style="position: relative;margin-top: -85em;margin-left: -40em;">
                 <?xml version="1.0" encoding="utf-8"?>      
                 <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 841.9 595.3" style="enable-background:new 0 0 841.9 595.3; position:absolute; width: 180em;" xml:space="preserve">
                    <style type="text/css">
                    .st0{fill:#C2121E;
                    opacity: 0.05;}
                    </style>
                    <g>
                    <path class="st0" d="M420,133.3c-62.2,0-116.5,34.6-144.6,85.6c-0.2,0.3-0.3,0.6-0.5,0.8c-0.6,1.2-1.2,2.4-1.9,3.5
                        c-0.6,1.2-1.2,2.4-1.8,3.6c-0.5,1-0.9,1.9-1.4,2.9c-0.2,0.5-0.5,1-0.7,1.5c-0.4,1-0.8,1.9-1.2,2.9c-0.6,1.2-1.1,2.5-1.5,3.7
                        c-0.9,2.3-1.8,4.6-2.6,7c-0.1,0.4-0.3,0.9-0.4,1.3c-0.2,0.6-0.4,1.2-0.6,1.7h0h16h14.8H425c24.9,0,45.3,21.2,42.6,45.9
                        c-1.4,12.5-8.3,23.2-18.2,29.9c-5.2,3.5-11.1,5.8-17.6,6.6c-1.7,0.2-3.5,0.3-5.3,0.3c0,0-34.8,0.2-34.7,0.3l28.2,28.3l60.7,60.8
                        l0.1,0.1c-1.3,0.7-2.6,1.3-3.9,1.9c-1.5,0.7-2.9,1.3-4.4,1.9c-0.6,0.3-1.2,0.5-1.8,0.8c-1.2,0.5-2.3,0.9-3.5,1.4
                        c-15.1,5.5-30.9,8.4-47.1,8.4c-14.1,0-27.6-2.1-40.4-6.1c-2.1-0.7-4.2-1.4-6.3-2.1c-2.1-0.8-4.2-1.6-6.2-2.4c-2-0.9-4-1.8-6-2.7
                        c-7.9-3.8-15.4-8.4-22.4-13.6c-1.7-1.3-3.5-2.6-5.1-4c-3.4-2.8-6.6-5.7-9.7-8.8c-1.2-1.2-2.4-2.4-3.5-3.7c-0.3-0.3-0.6-0.7-1-1
                        c-1-1.1-1.9-2.2-2.9-3.3c-0.2-0.3-0.4-0.5-0.7-0.8c-0.8-1-1.7-2.1-2.5-3.1c-0.1-0.1-0.2-0.2-0.3-0.3c-0.4-0.5-0.8-1-1.2-1.6
                        c-0.9-1.2-1.8-2.4-2.7-3.6c-0.6-0.9-1.2-1.8-1.9-2.7c-1.2-1.8-2.4-3.7-3.5-5.5c-1.7-2.8-3.3-5.7-4.8-8.6c-1-1.9-1.9-3.9-2.9-5.9
                        c-0.9-2-1.8-4-2.6-6.1c-0.8-2.1-1.6-4.1-2.3-6.2c-0.6-1.9-1.2-3.8-1.8-5.7c-0.4-1.3-0.8-2.6-1.1-3.9c-0.1-0.3-0.2-0.6-0.2-0.9
                        c-0.4-1.5-0.8-3.1-1.1-4.6c-0.1-0.3-0.1-0.7-0.2-1c-0.3-1.5-0.6-2.9-0.8-4.4c-1.1-6.4-1.7-12.9-1.9-19.5c0-1.2-0.1-2.4-0.1-3.5
                        c0-1.2,0-2.4,0.1-3.5c0.1-2.3,0.2-4.6,0.3-6.9c0.1-0.9,0.1-1.7,0.2-2.6c0.3-2.8,0.6-5.6,1-8.3h-29.3c-0.1,0.3-0.1,0.6-0.1,0.8
                        c-0.2,1.6-0.4,3.2-0.5,4.8c-0.2,1.7-0.3,3.4-0.4,5.1v0.2c-0.1,1.6-0.2,3.2-0.2,4.8c-0.1,1.9-0.1,3.8-0.1,5.8c0,1.9,0,3.9,0.1,5.8
                        c0,1.6,0.1,3.2,0.2,4.8v0.2c0.1,1.7,0.2,3.4,0.4,5.1c0.1,1.6,0.3,3.2,0.5,4.8c0.2,1.5,0.4,3,0.6,4.6c0.1,1,0.3,1.9,0.5,2.8
                        c0.1,0.7,0.2,1.4,0.4,2.1c0.1,0.8,0.3,1.7,0.5,2.5c0.8,4.2,1.9,8.4,3,12.6c0.3,1.2,0.7,2.4,1.1,3.6c0.5,1.6,1,3.3,1.6,4.9
                        c0.3,1,0.7,2.1,1.1,3.1c0.9,2.5,1.9,5,3,7.5c0.3,0.8,0.6,1.5,1,2.2c0.4,1,0.8,1.9,1.3,2.9c0.4,0.9,0.8,1.9,1.3,2.8c0.5,1,1,2,1.5,3
                        c0.6,1.2,1.2,2.4,1.9,3.5c1.2,2.3,2.6,4.6,4,6.9c1.4,2.3,2.8,4.5,4.3,6.7c4.4,6.6,9.4,12.8,14.7,18.7c0.7,0.8,1.5,1.6,2.2,2.4
                        c1.4,1.5,2.8,2.9,4.2,4.3c0.6,0.6,1.2,1.2,1.9,1.8c7.6,7.3,16,13.9,24.9,19.6c1,0.6,2,1.3,3,1.9c3.5,2.1,7.1,4.1,10.8,6
                        c1.2,0.6,2.4,1.2,3.6,1.8c1.6,0.8,3.2,1.5,4.8,2.2c0.8,0.4,1.7,0.7,2.5,1.1c3.9,1.7,7.9,3.2,12,4.6c0.8,0.3,1.6,0.5,2.4,0.8
                        c6.4,2,12.9,3.7,19.6,4.9c0.8,0.2,1.6,0.3,2.4,0.4c0.9,0.1,1.8,0.3,2.6,0.4c1.4,0.2,2.8,0.4,4.2,0.6c1.7,0.2,3.4,0.4,5.1,0.6
                        c0.1,0,0.2,0,0.3,0c1.6,0.1,3.2,0.3,4.8,0.4h0.2c1.6,0.1,3.1,0.2,4.7,0.2c1.9,0.1,3.9,0.1,5.8,0.1c19.6,0,38.9-3.4,57.2-10.2
                        c2.2-0.8,4.4-1.7,6.6-2.6c1.4-0.6,2.7-1.1,4-1.7c0.7-0.3,1.5-0.7,2.2-1c1.1-0.5,2.3-1.1,3.4-1.6c1-0.5,1.9-1,2.8-1.5
                        c1-0.5,2-1.1,3-1.6c1-0.6,2-1.1,3-1.7c0.8-0.5,1.6-0.9,2.4-1.4c1.3-0.7,2.5-1.5,3.7-2.3c0.3-0.2,0.5-0.3,0.8-0.5
                        c0.5-0.3,0.9-0.6,1.4-0.9c0.4-0.2,0.8-0.5,1.1-0.7c1.6-1,3.1-2.1,4.6-3.2c1.5-1,2.9-2.1,4.3-3.2c0.4-0.3,0.9-0.7,1.3-1
                        c0,0,0.1-0.1,0.1-0.1c1.4-1.1,2.8-2.2,4.1-3.4c0.1-0.1,0.1-0.1,0.2-0.1l-20.6-20.6v0l0,0l-50.2-50.2c-0.1-0.1-0.1-0.2,0-0.2
                        c19.9-9.1,35-27.2,39.7-49.1c1.1-4.8,1.6-9.8,1.6-15c0-15.3-4.9-29.4-13.2-40.9c-12.8-17.8-33.6-29.4-57.2-29.4H309.7
                        c0.9-1.3,1.9-2.5,2.8-3.7c0.8-1.1,1.7-2.1,2.6-3.2c25-30.3,62.7-49.6,105-49.6c75,0,136,61,136,136c0,31.6-11.1,61.5-30.1,85.1
                        l13.5,13.5l0,0v0l7.1,7.1C570.8,375,585,337.7,585,298.3C585,207.3,511,133.3,420,133.3L420,133.3z"/>
                    </g>
                </svg>
            </div> {% endcomment %}
        </div>
    </div>




<div id="fh5co-services-section" >
    <div class="container py-1 py-sm-4">
        <div class="row ">
            <div class="col pl-3 pt-4 services-inner text-center">
                <h3 class="pb-sm-3 pb-0"><b>Unser Angebot</b></h3>
            </div>
        </div>
        <div class="row d-flex pt-sm-4 pt-1 justify-content-center align-items-center">
            <div class="col py-3 py-sm-0">
                <div class="card" style="height: 550px;box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px ">                    
                        <svg class="card-img-top py-4" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="598.11121" height="266" viewBox="0 0 598.11121 535.11426" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M304.29593,302.51687a4.59436,4.59436,0,0,0-3.18166,5.65638l76.71619,273.97819a4.59431,4.59431,0,0,0,5.65637,3.1816l282.81481-79.19052a4.59437,4.59437,0,0,0,3.18162-5.65631L592.76707,226.508a4.59434,4.59434,0,0,0-5.65633-3.18168Z" transform="translate(-300.94439 -182.44287)" fill="#e6e6e6"/><path d="M387.04091,572.39573l269.50474-75.46358L583.55634,236.26384,314.0516,311.72742Z" transform="translate(-300.94439 -182.44287)" fill="#fff"/><path d="M349.68366,346.53414c-1.79809.50348-2.53942,3.49029-1.65249,6.6578s3.07152,5.335,4.86961,4.83156L475.8179,323.60568c1.79808-.50348,2.53941-3.4903,1.65248-6.6578s-3.07151-5.335-4.8696-4.83156Z" transform="translate(-300.94439 -182.44287)" fill="#e6e6e6"/><path d="M359.58247,381.886c-1.79808.50348-2.53941,3.49029-1.65248,6.6578s3.07151,5.335,4.8696,4.83156l122.91712-34.41782c1.79809-.50348,2.53942-3.49029,1.65249-6.6578s-3.07152-5.335-4.86961-4.83156Z" transform="translate(-300.94439 -182.44287)" fill="#e6e6e6"/><path d="M369.36719,416.83036c-1.79809.50348-2.53942,3.49026-1.65249,6.6578s3.07152,5.335,4.86961,4.83156L495.50143,393.9019c1.79808-.50348,2.53942-3.49027,1.65248-6.6578s-3.07151-5.335-4.8696-4.83156Z" transform="translate(-300.94439 -182.44287)" fill="#e6e6e6"/><path d="M379.266,452.18218c-1.79809.50348-2.53943,3.49027-1.65249,6.6578s3.07151,5.335,4.8696,4.83156l122.91712-34.41782c1.79809-.50348,2.53943-3.49026,1.65249-6.6578s-3.07152-5.335-4.86961-4.83156Z" transform="translate(-300.94439 -182.44287)" fill="#e6e6e6"/><path d="M534.9799,295.05735a5.96564,5.96564,0,1,0,3.21712,11.48936l22.97873-6.43423a5.96564,5.96564,0,0,0-3.21712-11.48937Z" transform="translate(-300.94439 -182.44287)" fill="#e6e6e6"/><path d="M544.68685,329.724a5.96564,5.96564,0,1,0,3.21712,11.48936l22.97872-6.43423a5.96564,5.96564,0,0,0-3.21712-11.48937Z" transform="translate(-300.94439 -182.44287)" fill="#e6e6e6"/><path d="M554.39379,364.39058a5.96563,5.96563,0,1,0,3.21711,11.48936l22.97873-6.43423a5.96564,5.96564,0,0,0-3.21712-11.48937Z" transform="translate(-300.94439 -182.44287)" fill="#e6e6e6"/><path d="M564.10073,399.05721a5.96564,5.96564,0,0,0,3.21712,11.48936l22.97873-6.43424a5.96564,5.96564,0,0,0-3.21712-11.48936Z" transform="translate(-300.94439 -182.44287)" fill="#e6e6e6"/><path d="M573.37484,459.14634a7.60151,7.60151,0,1,0,4.0993,14.63992l29.27976-8.19858a7.6015,7.6015,0,0,0-4.09929-14.63992h0Z" transform="translate(-300.94439 -182.44287)" fill="#c2121e"/><rect x="382.94479" y="459.87697" width="225" height="2" transform="translate(-406.86374 -31.78243) rotate(-15.64269)" fill="#e6e6e6"/><polygon points="520.202 506.072 502.825 510.273 478.352 445.247 503.999 439.047 520.202 506.072" fill="#a0616a"/><path d="M773.78964,717.55713l-.11768-.48584a22.23326,22.23326,0,0,1,16.36792-26.80518l33.99854-8.21924,5.33618,22.07276Z" transform="translate(-300.94439 -182.44287)" fill="#2f2e41"/><polygon points="443.276 517.91 425.399 517.909 416.894 448.953 443.279 448.954 443.276 517.91" fill="#a0616a"/><path d="M748.55062,717.45361l-57.18628-.00244v-.5a22.20823,22.20823,0,0,1,22.20826-22.20752h.001l34.978.00147Z" transform="translate(-300.94439 -182.44287)" fill="#2f2e41"/><path d="M717.824,673.43319,700.46594,466.56191l71.856-13.245.28375-.05127,21.03174,13.5199-7.32031,76.13381,33.70434,118.69857-29.10218,7.65853L757.16116,559.19046,749.4357,525.714l-3.9592,43.50036L748.41573,676.492Z" transform="translate(-300.94439 -182.44287)" fill="#2f2e41"/><path d="M698.24051,471.25415l-.19011-.24067,24.83039-186.9574.0324-.24493.1748-.17516c.366-.366,9.06584-8.96295,18.01419-8.96295,1.29375,0,2.52377-.03276,3.70359-.06266,6.84753-.178,12.25677-.32041,18.68527,6.10916,6.54991,6.54919,27.91987,30.46463,27.91987,63.21913,0,31.70356,2.88689,130.22765,2.91609,131.21879l.04094,1.39129-1.167-.759c-.288-.18513-29.03062-18.487-53.13652-1.47389-7.53321,5.31739-14.30064,7.18147-20.08725,7.18147C706.50924,481.49732,698.3555,471.40083,698.24051,471.25415Z" transform="translate(-300.94439 -182.44287)" fill="#c2121e"/><circle cx="737.30161" cy="227.82042" r="35.81548" transform="translate(-319.86766 199.12975) rotate(-28.66321)" fill="#a0616a"/><path d="M682.47425,511.43267a14.66358,14.66358,0,0,0,.85079-22.46873l20.33939-47.976L677.033,445.88934,661.8012,490.69675a14.743,14.743,0,0,0,20.673,20.73592Z" transform="translate(-300.94439 -182.44287)" fill="#a0616a"/><path d="M662.82375,474.11363l6.54955-13.82749a2.693,2.693,0,0,1-.96728-1.00253c-6.11913-10.60487,30.84271-98.6722,33.30632-104.51364-.3756-3.17705-4.25577-36.84436-1.41871-48.19259,3.33974-13.359,10.19724-19.58491,22.92964-20.81814,14.04146-1.31867,17.82978,17.74932,17.86609,17.943l.01282,49.02-16.11487,56.42786-36.7518,74.97321Z" transform="translate(-300.94439 -182.44287)" fill="#c2121e"/><path d="M741.88113,241.31379c-4.29338.55862-7.532-3.83417-9.03411-7.89482s-2.64661-8.78808-6.37942-10.98156c-5.09979-2.99674-11.62474.60754-17.45662-.38118-6.586-1.11657-10.86811-8.09643-11.20372-14.768s2.31935-13.08815,4.92436-19.23924l.90945,7.64441a15.15938,15.15938,0,0,1,6.62453-13.25057l-1.17219,11.217c.735-6.28405,7.50492-11.15334,13.69633-9.85109l-.1846,6.6835c7.60682-.90452,15.28012-1.81032,22.90947-1.12121s15.312,3.103,21.09438,8.1275c8.64957,7.51589,11.80857,19.89169,10.748,31.30129s-5.77042,22.12808-10.67915,32.48221c-1.23506,2.60513-2.9433,5.54483-5.80719,5.87668-2.57323.29818-4.92778-1.85286-5.72771-4.31671s-.4096-5.14055.06946-7.68631c.72371-3.84576,1.636-7.77663.95558-11.63028s-3.45273-7.66178-7.33739-8.13406-7.85964,3.9681-5.992,7.4069Z" transform="translate(-300.94439 -182.44287)" fill="#2f2e41"/><polygon points="597.729 535.092 339.991 535.092 339.991 532.986 598.111 532.986 597.729 535.092" fill="#3f3d56"/></svg>
                    <div class="card-body">
                        <h5 class="card-title">Verbesserte Rechnungs- 
                            und Zahlungsprozesse</h5>
                        <p class="card-text">Durch die integrierte Rechnungs- und Zahlunsfunktion werden wiederkehrende Rechnungen optimiert. Du erweiterst deinen Service mit minimalem Aufwand und profitierst von besseren Kundenbeziehungen und neuen Geschäftschancen. Mehrere Wochen oder Monate auf die Bezahung von Rechnungen warten war Gestern. </p>
                    </div>
                </div> 
            </div>

            <div class="col py-3 py-sm-0">
                <div class="card" style="height: 550px;box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px ">
                    <svg class="card-img-top px-1 px-sm-5" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="967.97244" height="266" viewBox="0 0 967.97244 529" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M154.44233,692.271c26.42252,19.03478,60.66413,19.99056,93.76235,17.65213,4.62174-.32609,9.21077-.70874,13.75729-1.12157.02746-.00712.06353-.00458.09143-.01167.2185-.0208.43744-.04161.6465-.054.93841-.08779,1.87724-.1755,2.80685-.26387l-.2196.419-.68925,1.30024c.2477-.43517.49521-.86129.74291-1.29646.07285-.13062.15451-.26067.22693-.39138,8.57426-14.92076,17.07842-30.38965,19.24765-47.4275,2.24221-17.68452-4.05929-37.70924-19.62367-46.40124a31.40808,31.40808,0,0,0-6.4449-2.69923c-.93085-.28285-1.8743-.51228-2.82845-.71534A33.66447,33.66447,0,0,0,216.76908,655.022c-13.19581-13.53109-10.73425-35.482-6.18233-53.82747,4.56073-18.34493,10.08188-38.7585.80579-55.236-5.15643-9.17155-14.2243-14.86189-24.40066-17.15421-.31218-.06731-.62393-.13454-.93675-.19277a49.13015,49.13015,0,0,0-35.29737,6.1847c-19.45809,12.26176-29.452,35.51036-32.69561,58.28426C112.8361,629.72786,124.40143,670.62755,154.44233,692.271Z" transform="translate(-116.01378 -185.5)" fill="#f1f1f1"/><path d="M162.97318,633.5239a83.51853,83.51853,0,0,0,5.76411,23.53543A72.52018,72.52018,0,0,0,179.99707,675.451c9.49657,11.42369,22.05367,20.01238,35.691,25.73513a133.7282,133.7282,0,0,0,32.51657,8.737c4.62174-.32609,9.21077-.70874,13.75729-1.12157.02746-.00712.06353-.00458.09143-.01167.2185-.0208.43744-.04161.6465-.054.93841-.08779,1.87724-.1755,2.80685-.26387l-.2196.419-.68925,1.30024c.2477-.43517.49521-.86129.74291-1.29646.07285-.13062.15451-.26067.22693-.39138a73.92225,73.92225,0,0,1-20.71723-64.6648,74.55543,74.55543,0,0,1,13.89631-31.86317c-.93085-.28285-1.8743-.51228-2.82845-.71534a77.3,77.3,0,0,0-7.0511,11.67872,75.7417,75.7417,0,0,0-6.53473,47.11952,77.43753,77.43753,0,0,0,19.61965,38.62482c-.88275-.06222-1.77409-.1341-2.64633-.21369-16.52166-1.39976-33.00967-4.9516-47.995-12.22685a86.44054,86.44054,0,0,1-32.382-26.57c-9.07565-12.51653-13.07481-27.5721-13.7618-42.87405-.72844-16.38207,1.39716-33.05187,5.13582-48.9833a205.59724,205.59724,0,0,1,17.27595-47.05958,1.47818,1.47818,0,0,0-.58694-1.95143,1.25724,1.25724,0,0,0-.93675-.19277,1.09451,1.09451,0,0,0-.72256.619c-.94456,1.8435-1.87153,3.68824-2.76326,5.55359a207.93123,207.93123,0,0,0-16.2775,48.82276C163.00752,599.89618,161.25452,616.93624,162.97318,633.5239Z" transform="translate(-116.01378 -185.5)" fill="#fff"/><path d="M498.01378,714.5h-381a1,1,0,0,1,0-2h381a1,1,0,0,1,0,2Z" transform="translate(-116.01378 -185.5)" fill="#cbcbcb"/><path d="M383.64443,445.9675,366.417,361.55189l-7.56774-62.3493-16.76577,10.846,2.31606,68.709,26.75976,71.18916a9.32773,9.32773,0,1,0,12.48513-3.97927Z" transform="translate(-116.01378 -185.5)" fill="#ffb7b7"/><path d="M222.51709,452.49467l4.76864-86.02349-1.5795-62.787,22.16477,8.29264,3.70019,68.31545-16.123,74.32382a9.32774,9.32774,0,1,1-12.93108-2.12139Z" transform="translate(-116.01378 -185.5)" fill="#ffb7b7"/><polygon points="152.925 517.096 164.25 517.095 169.638 473.411 152.923 473.412 152.925 517.096" fill="#ffb7b7"/><path d="M266.04945,698.89831l22.3041-.00091h.00091a14.2147,14.2147,0,0,1,14.21392,14.2137v.4619l-36.51825.00135Z" transform="translate(-116.01378 -185.5)" fill="#2f2e41"/><polygon points="195.822 512.084 207.014 513.815 219.018 471.469 202.5 468.914 195.822 512.084" fill="#ffb7b7"/><path d="M309.54612,693.48825l22.042,3.40954.00089.00014a14.2147,14.2147,0,0,1,11.87341,16.22l-.07063.45646-36.089-5.58254Z" transform="translate(-116.01378 -185.5)" fill="#2f2e41"/><path d="M265.61172,689.55283l-.0587-.31681L224.55262,467.5608a83.73918,83.73918,0,0,1,7.39968-52.36494l24.81587-49.63139,74.0481,10.03176,8.73894,63.18874,31.14228,120.5417-.03084.09813-39.9,126.74124-26.14988,1.72,23.164-113.13449-42.41449-96.33649L288.358,687.8293Z" transform="translate(-116.01378 -185.5)" fill="#2f2e41"/><path d="M332.54,383.683l-.48871-.76574c-.08779-.13808-9.08238-13.68946-33.55867-4.64142-24.98636,9.23833-44.34706-8.60472-44.53981-8.7859l-.09585-.09042-5.65862-50.43534-6.68-40.94362,21.264-3.73059,10.45424-6.27209,41.57111-.74016,10.93945,8.604,17.96045,1.95729,1.64416,37.307-.00754.04065Z" transform="translate(-116.01378 -185.5)" fill="#c2121e"/><path d="M338.49789,318.75458v-31.945l5.05057-9.21731.20537-.00631a15.14058,15.14058,0,0,1,10.46072,4.75287c5.08,5.1615,7.38128,13.761,6.84,25.55936l-.01.21588Z" transform="translate(-116.01378 -185.5)" fill="#c2121e"/><path d="M250.46647,315.28227,224.72452,312.193l-.02015-.29649c-.87824-12.8368,1.36239-22.36567,6.65951-28.32129,4.80754-5.40507,10.31616-5.73239,10.54834-5.74361l.14859-.007,6.96844,6.33482Z" transform="translate(-116.01378 -185.5)" fill="#c2121e"/><path d="M324.98425,254.40579h-67.7379a5.26145,5.26145,0,0,1-5.25552-5.25553V224.62447a39.12447,39.12447,0,0,1,78.24894,0v24.52579A5.26145,5.26145,0,0,1,324.98425,254.40579Z" transform="translate(-116.01378 -185.5)" fill="#2f2e41"/><circle cx="292.68782" cy="225.4797" r="28.68469" transform="translate(-161.56464 188.64661) rotate(-61.33685)" fill="#ffb7b7"/><path d="M319.95312,226.37631H282.08236a2.924,2.924,0,0,1-2.89721-2.55819l-.49042-3.92225a1.75171,1.75171,0,0,0-3.32576-.5235l-2.48264,5.31939a2.931,2.931,0,0,1-2.64572,1.68455H264.4881a2.91919,2.91919,0,0,1-2.90662-3.198l2.26821-23.69207a2.94218,2.94218,0,0,1,1.66859-2.378c17.34363-8.09656,34.93134-8.0863,52.275.0308a2.924,2.924,0,0,1,1.652,2.24112l3.3979,23.66128a2.91891,2.91891,0,0,1-2.89008,3.33488Z" transform="translate(-116.01378 -185.5)" fill="#2f2e41"/><polygon points="267.719 265.859 266.305 264.445 327.767 202.982 446.875 202.982 506.97 141.647 624.539 141.647 683.855 81.869 959.972 81.869 959.972 83.869 684.688 83.869 625.372 143.647 507.81 143.647 447.715 204.982 328.596 204.982 267.719 265.859" fill="#3f3d56"/><circle cx="508.97244" cy="143" r="37" fill="#fff"/><circle cx="684.97244" cy="83" r="10" fill="#cbcbcb"/><circle cx="957.97244" cy="83" r="10" fill="#cbcbcb"/><circle cx="821.97244" cy="83" r="10" fill="#cbcbcb"/><path d="M624.98622,366.5a38,38,0,1,1,38-38A38.04307,38.04307,0,0,1,624.98622,366.5Zm0-74a36,36,0,1,0,36,36A36.04061,36.04061,0,0,0,624.98622,292.5Z" transform="translate(-116.01378 -185.5)" fill="#3f3d56"/><circle cx="508.97244" cy="143" r="26.43632" fill="#c2121e"/><polygon points="506.453 154.16 498.541 143.986 503.142 140.407 506.889 145.224 519.545 131.863 523.777 135.873 506.453 154.16" fill="#fff"/><circle cx="326.97244" cy="204" r="37" fill="#fff"/><path d="M442.98622,427.5a38,38,0,1,1,38-38A38.04315,38.04315,0,0,1,442.98622,427.5Zm0-74a36,36,0,1,0,36,36A36.0407,36.0407,0,0,0,442.98622,353.5Z" transform="translate(-116.01378 -185.5)" fill="#3f3d56"/><circle cx="326.97244" cy="204" r="26.43632" fill="#c2121e"/><polygon points="324.453 215.16 316.541 204.986 321.142 201.407 324.889 206.224 337.545 192.863 341.777 196.873 324.453 215.16" fill="#fff"/></svg>
                    <div class="card-body">
                        <h5 class="card-title">Optimierte
                            Betriebsprozesse</h5>
                        <p class="card-text">
                            Optimierte Transportpläne verbessern die Disposition und das Zeitfenstermanagement und helfen den gesamten Betrieb zu optimieren. Der eingesparte Verwaltungsaufwand kann jeden Auftrag profitabler machen, ohne das in zusätzliche IT-Infrastruktur investiert werden muss.</p>
                    </div>
                </div> 
            </div>

            <div class="col py-3 py-sm-0">
                <div class="card" style="height: 550px;box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px ">
                   <svg class="card-img-top py-4" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="724.79698" height="266" viewBox="0 0 724.79698 588.1718" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M930.37281,515.18468c-.79517,1.52892-1.6249,3.0316-2.48108,4.52559-32.83248,57.199-109.20839,92.7223-238.01329,73.921-73.13464-11.18293-104.28079,29.83575-134.4398,71.85037-.51575.72516-1.03108,1.45032-1.55536,2.17548-31.583,44.059-62.85157,88.24038-141.03582,73.554-82.8849-13.105-134.03794-80.40362-141.95341-152.254-.09641-.87367-.18344-1.75608-.26236-2.62975-4.44683-46.58394,9.29594-94.81912,44.3561-131.23356,21.17789-21.99019,51.26694-33.67111,82.32563-33.30419a151.32547,151.32547,0,0,0,27.92237-2.07058c2.03571-.35818,4.01042-.75134,5.93224-1.19692,39.56841-9.04244,57.802-35.92519,68.98472-68.73138.26235-.77758.52428-1.55515.77768-2.34142,25.6772-78.23688,13.80377-188.04811,153.39855-171.894,124.9169,9.20843,216.591,78.47279,261.55836,158.3871.44579.80375.89116,1.60757,1.328,2.41132a243.7444,243.7444,0,0,1,26.14,71.03788c.27985,1.39784.53325,2.79574.76915,4.19359C950.48464,448.69858,946.31723,484.77233,930.37281,515.18468Z" transform="translate(-237.60151 -155.9141)" fill="#f2f2f2"/><path d="M917.21533,336.35375a191.29576,191.29576,0,0,1-30.11507,28.75237C844.03718,398.13078,789.494,416.041,735.685,419.79771a300.8355,300.8355,0,0,1-82.579-5.609c-27.608-5.78367-53.94042-15.97061-79.44271-27.87-24.80353-11.57609-48.87289-24.62868-73.51047-36.528.26235-.77758.52428-1.55515.77768-2.34142,26.86527,12.93026,53.18022,27.17977,80.35989,39.49846,25.60723,11.61107,52.11416,21.08159,79.8356,26.14885a299.77989,299.77989,0,0,0,83.85455,3.285c53.661-5.39925,108.2477-25.19653,149.502-60.615a178.51216,178.51216,0,0,0,21.40485-21.82418C916.33313,334.74618,916.7785,335.55,917.21533,336.35375Z" transform="translate(-237.60151 -155.9141)" fill="#fff"/><path d="M730.77368,156.73592q-.09386,0-.18771.006C664.36952,160.89039,612.5,216.16114,612.5,282.57172c0,66.411,51.86952,121.68213,118.086,125.82938a2.87636,2.87636,0,0,0,2.16829-.77891,2.84615,2.84615,0,0,0,.90645-2.09449v-245.912a2.8864,2.8864,0,0,0-2.887-2.87981Z" transform="translate(-237.60151 -155.9141)" fill="#ccc"/><path d="M832.01475,366.60049a3.71271,3.71271,0,0,1-2.6183-1.08374l-85.61708-85.61708a3.67264,3.67264,0,0,1-1.08294-2.61389v-117.67a3.65964,3.65964,0,0,1,1.16556-2.6925,3.71574,3.71574,0,0,1,2.782-1.00112C813.292,160.09744,865.5,215.72877,865.5,282.57172A126.89278,126.89278,0,0,1,834.82077,365.313a3.71674,3.71674,0,0,1-2.66884,1.28508Q832.08333,366.6005,832.01475,366.60049Z" transform="translate(-237.60151 -155.9141)" fill="#ccc"/><path d="M746.4081,409.22894a3.72724,3.72724,0,0,1-2.5445-1.00673,3.66232,3.66232,0,0,1-1.16717-2.69531V299.35766a3.69652,3.69652,0,0,1,6.30992-2.61389l74.71149,74.71149a3.70429,3.70429,0,0,1-.13877,5.36736,127.17445,127.17445,0,0,1-76.94155,32.3991C746.56131,409.22654,746.48431,409.22894,746.4081,409.22894Z" transform="translate(-237.60151 -155.9141)" fill="#c2121e"/><path d="M944.12453,411.58522c-11.9869,21.25634-28.90993,40.00525-48.2876,54.86628-43.06308,33.02466-97.60628,50.93484-151.4153,54.6916a300.83591,300.83591,0,0,1-82.579-5.609c-27.608-5.78367-53.94042-15.97061-79.44271-27.87-25.96515-12.11776-51.13555-25.86058-76.98765-38.20545-25.82522-12.33623-52.36756-22.85516-80.17645-29.73966,2.03571-.35818,4.01042-.75134,5.93224-1.19692q2.72593.70764,5.43439,1.46775c54.37682,15.20183,102.36751,45.15986,153.42457,68.30329,25.60723,11.61107,52.11416,21.08159,79.8356,26.14885a299.77954,299.77954,0,0,0,83.85455,3.285c53.661-5.39926,108.2477-25.19653,149.502-60.615a174.25512,174.25512,0,0,0,40.13621-49.72037C943.63523,408.78947,943.88863,410.18737,944.12453,411.58522Z" transform="translate(-237.60151 -155.9141)" fill="#fff"/><path d="M404.27674,598.218c53.57311,14.97467,100.94353,44.27744,151.1619,67.26362-.51575.72516-1.03108,1.45032-1.55536,2.17548-1.27552-.5854-2.54208-1.17074-3.80907-1.76483-25.96515-12.11776-51.13555-25.86058-76.98765-38.20544-26.376-12.59832-53.49462-23.30074-81.94981-30.1765a366.17906,366.17906,0,0,0-120.2427-8.55318c-.09641-.87367-.18344-1.75608-.26236-2.62975A368.93631,368.93631,0,0,1,404.27674,598.218Z" transform="translate(-237.60151 -155.9141)" fill="#fff"/><path d="M619.60151,682.5154h-381a1,1,0,1,1,0-2h381a1,1,0,0,1,0,2Z" transform="translate(-237.60151 -155.9141)" fill="#ccc"/><circle cx="155.11919" cy="367.13559" r="24.56103" fill="#a0616a"/><polygon points="247.019 540.442 247.592 552.689 200.629 560.729 199.783 542.655 247.019 540.442" fill="#a0616a"/><path d="M496.34511,692.67676l1.30363,27.84073-.49945.02341a18.99138,18.99138,0,0,1-11.01724-2.66478c-2.998-1.91061-4.72442-4.557-4.86009-7.45118l0-.00068-.79612-17.00411Z" transform="translate(-237.60151 -155.9141)" fill="#2f2e41"/><polygon points="245.705 560.594 257.965 560.593 263.797 513.305 245.703 513.306 245.705 560.594" fill="#a0616a"/><path d="M480.17949,712.50519l24.1438-.001h.001a15.38605,15.38605,0,0,1,15.38648,15.38623v.5l-39.53052.00147Z" transform="translate(-237.60151 -155.9141)" fill="#2f2e41"/><path d="M367.564,705.05286a10.74269,10.74269,0,0,0,2.50086-16.28168l9.78531-97.35423-23.30523,1.62911-2.29042,95.18376a10.80091,10.80091,0,0,0,13.30948,16.823Z" transform="translate(-237.60151 -155.9141)" fill="#a0616a"/><path d="M379.73616,608.29227,355.587,605.34932a4.81687,4.81687,0,0,1-4.0618-6.05829l6.43061-23.38608a13.37737,13.37737,0,0,1,26.54856,3.31433l.62968,24.16751a4.81687,4.81687,0,0,1-5.39791,4.90548Z" transform="translate(-237.60151 -155.9141)" fill="#c2121e"/><path d="M376.358,718.843a16.66215,16.66215,0,0,1-12.63477-26.002l15.77417-16.376,57.5-51.5,30.74048-25.50879a13.76486,13.76486,0,0,1,22.15283,7.29L505.95081,671.715a4.49035,4.49035,0,0,1-2.84424,5.31445L485.598,683.3322a4.49957,4.49957,0,0,1-5.87232-3.07422l-6.66015-24.97558L436.0077,690.70916l11.562,4.25586a4.519,4.519,0,0,1,2.77661,5.44433L446.61,713.64666a4.48227,4.48227,0,0,1-4.2,3.27539Z" transform="translate(-237.60151 -155.9141)" fill="#2f2e41"/><path d="M374.78748,681.91716l-1.521-55.55371-9.59424-24.36621a36.66624,36.66624,0,0,1,26.67065-49.3457q1.1847-.24609,2.36255-.47949h0a36.66063,36.66063,0,0,1,43.62305,32.37207l4.50854,41.82226-.01831.08008c-7.189,31.97754-27.99243,49.57617-65.47021,55.38379Z" transform="translate(-237.60151 -155.9141)" fill="#c2121e"/><path d="M397.47809,643.32818a10.52635,10.52635,0,0,1,1.65295-.12266l27.75915-41.09646-5.25714-10.84053,15.3233-10.07227,11.17175,18.28658a8,8,0,0,1-.91233,9.55759l-37.99226,41.71308a10.4971,10.4971,0,1,1-11.74542-7.42533Z" transform="translate(-237.60151 -155.9141)" fill="#a0616a"/><path d="M424.461,601.345a4.49516,4.49516,0,0,1-2.861-2.41974l-9.60046-20.44343a12.49741,12.49741,0,0,1,20.779-13.89132l15.1683,16.83267a4.5,4.5,0,0,1-.85312,6.76051l-18.93115,12.57586A4.495,4.495,0,0,1,424.461,601.345Z" transform="translate(-237.60151 -155.9141)" fill="#c2121e"/><path d="M718.48465,542.10138h-81.07a4.406,4.406,0,0,1,0-8.812h81.07a4.406,4.406,0,0,1,0,8.812Z" transform="translate(-237.60151 -155.9141)" fill="#ccc"/><path d="M613.18179,546.50735a9.25255,9.25255,0,1,1,9.25255-9.25255A9.26308,9.26308,0,0,1,613.18179,546.50735Z" transform="translate(-237.60151 -155.9141)" fill="#3f3d56"/><path d="M718.48465,568.53724h-81.07a4.406,4.406,0,1,1,0-8.812h81.07a4.406,4.406,0,1,1,0,8.812Z" transform="translate(-237.60151 -155.9141)" fill="#ccc"/><path d="M613.18179,572.94322a9.25256,9.25256,0,1,1,9.25255-9.25255A9.26308,9.26308,0,0,1,613.18179,572.94322Z" transform="translate(-237.60151 -155.9141)" fill="#3f3d56"/><path d="M718.48465,594.97311h-81.07a4.406,4.406,0,0,1,0-8.812h81.07a4.406,4.406,0,0,1,0,8.812Z" transform="translate(-237.60151 -155.9141)" fill="#ccc"/><path d="M613.18179,599.37908a9.25255,9.25255,0,1,1,9.25255-9.25255A9.26308,9.26308,0,0,1,613.18179,599.37908Z" transform="translate(-237.60151 -155.9141)" fill="#3f3d56"/><path d="M741.777,564.01246h33.48543a.88124.88124,0,0,0,.88119-.8812V356.12018a.88119.88119,0,1,0-1.76239,0V562.25007H741.777a.8812.8812,0,1,0,0,1.76239Z" transform="translate(-237.60151 -155.9141)" fill="#3f3d56"/><path d="M885.26285,220.82h0a11.35767,11.35767,0,1,1,10.409-12.233A11.35769,11.35769,0,0,1,885.26285,220.82Zm-.1403-1.74169h0a9.61034,9.61034,0,1,0-10.351-8.80764A9.61034,9.61034,0,0,0,885.12255,219.07835Z" transform="translate(-237.60151 -155.9141)" fill="#ccc"/><circle cx="686.77025" cy="28.77379" r="6.98934" fill="#ccc"/><circle cx="721.12536" cy="6.81515" r="3.67143" fill="#ccc"/><path d="M831.89614,444.37418a11.35767,11.35767,0,1,1-3.21463-15.7372h0A11.37027,11.37027,0,0,1,831.89614,444.37418Zm-17.494-11.55929a9.61034,9.61034,0,1,0,13.31609-2.72008h0A9.62122,9.62122,0,0,0,814.40214,432.81489Z" transform="translate(-237.60151 -155.9141)" fill="#ccc"/><circle cx="607.90099" cy="323.24113" r="6.98934" fill="#ccc"/><circle cx="627.39703" cy="359.05118" r="3.67143" fill="#ccc"/><path d="M549.87913,253.62044a11.35767,11.35767,0,1,1,15.22542,5.11666h0A11.37028,11.37028,0,0,1,549.87913,253.62044Zm18.7773-9.33116a9.61034,9.61034,0,1,0-4.32948,12.883h0A9.62122,9.62122,0,0,0,568.65643,244.28928Z" transform="translate(-237.60151 -155.9141)" fill="#ccc"/><circle cx="275.36504" cy="92.02168" r="6.98934" fill="#ccc"/><circle cx="234.60685" cy="90.91505" r="3.67143" fill="#ccc"/><path d="M418.67622,525.19874l-1.02377-2.60927c-2.8244-7.19867-9.5783-12.732-16.80609-13.76922a19.20813,19.20813,0,0,0-18.63817,8.64159,42.10036,42.10036,0,0,0-3.93183,9.20259c-.32216.95662-.64688,1.64894-1.27065,1.85828-.70236.25273-1.40116-.18-2.55932-.89806a1.60179,1.60179,0,0,0-2.43032,1.57838l1.21448,8.66966-1.01631-.9045c-6.61253-5.88565-7.97108-16.9613-3.19423-23.98816l-10.8713,2.23356.4898-.93454a37.127,37.127,0,0,1,21.64431-18.27963l-10.41317-2.29319,1.05251-.64867c9.32523-5.74455,21.62745-5.58275,31.33955.40292a35.54287,35.54287,0,0,1,16.356,28.93535Z" transform="translate(-237.60151 -155.9141)" fill="#2f2e41"/></svg>
                    <div class="card-body">
                        <h5 class="card-title">Weniger Leerfahrten</h5>
                        <p class="card-text">
                            Mit Revtialyze können Aufträge an günstig positionierte Fahrzeuge vergeben werden. Die Folge sind kürzere Fahrzeiten und geringere Leerfahrtsquoten. Ein intelligentes Dashboard analysiert und visualisiert relevante Daten und hilft, den Status deiner Fahrzeugflotte in Echtzeit zu überwachen,  </p>
                    </div>
                </div> 
            </div>            
        </div>
    </div>
</div>

<div id="fh5co-services-section" >
    <div class="container pb-5">
        <div class="row pt-4">
            <div class="col-5 d-none d-sm-block">
                <img style="border-radius: 4px;position: relative;width: 620px;margin-bottom: -40em;margin-left: -3em; box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; transform: rotate(90deg); width:600px;"src="{% static 'images/blog5_head.jpg/' %}">                
            </div>
            <div class="col pl-3 pt-4 services-inner ">
                <h3 class="pb-3"><b>Werde jetzt Teil vom Revitalyze <br>Ökosystem als Entsorger oder Transporteur
                </b></h3>
                <div class="pb-5">MARKETING & SALES<br>
                    Flächendeckende Vermarktung der Produkte und Dienstleistungen.<br>
                    <br>
                    PROZESSAUTOMATISIERUNG<br>
                    Wiederkehrende Aufgaben wie Anfragen beantworten, Rechnungen schreiben,  Mahnungen ausstellen und EU-Abfallbilanzen erstellen werden optimiert.<br>
                    <br>
                    MEHR AUFTRÄGE & NEUE MÄRKTE<br>
                    Erleichtere  nicht nur das Leben der bestehenden Kunden sondern, erweitere dein Angebot auf neue Märkte.<br>
                    <br>
                    PLANUNGSSICHERHEIT <br>
                    Durch Erfassung der Materialströme im Vorhinein können Outputmengen präventiv angepasst werden und damit  besser die Nachfrage bedient werden.<br>
                    <br>
                    OPTIMIERTES LIQUIDITÄTSMANAGEMENT<br>
                    Häufig wartet man mehrer Wochen oder Monate auf die Bezahlung von Rechnungen. Mithilfe von Instant  Payments werden Aufträge innerhalb weniger Tage mit einem Klick bezahlt.<br>
                    <br>
                    OPTIMIERTE LASTWAGENNUTZUNG<br>
                    Schnellere Abfertigung durch proaktive Systeme und Datenerfassung machen jeden Auftrag profitabler.<br>
                </div>
                    </div>
        </div>
        <div class="row d-flex pt-4 justify-content-center align-items-center">
            

            <div class="col d-flex justify-content-center">
                     <button type="button" style=" height:45px; 
	font-size: 20px; border-radius: 30px; width: 250px; font-weight: normal;" 
	class="btn btn-danger" onclick="window.location.href ='{%url 'Dash:register'%}'" >Jetzt registrieren!</button>
       
            </div>           
        </div>
    </div>
</div>
                      
{% endblock %}

