<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="utf-8">
    <title>Nearby Shops</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="{%static 'js/init_maps.js'%}"></script>

    <style>
        #map {
            height: 100%;
        }
        
        body,
        html,
        #map {
            height: 100%;
        }
        
        .custom-map-control-button {
            background-color: #fff;
            border: 0;
            border-radius: 2px;
            box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
            margin: 10px;
            padding: 0 0.5em;
            font: 400 18px Roboto, Arial, sans-serif;
            overflow: hidden;
            height: 40px;
            cursor: pointer;
        }
        
        .custom-map-control-button:hover {
            background: #ebebeb;
        }
    </style>
</head>

<body>
    

    <div class="col jumbotron text-center d-flex py-3 justify-content-center flex-column">
        <h1>Deponien in der Nähe</h1>
        <div class="w-100 d-flex justify-content-center">
        <div style="height: 500px; width: 800px;" id="map">map</div>
    </div></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU9z_Yz39-G4AjERSbxZOlwdeM92d3Kcg&callback=initMap" async></script>
</body>



</html>