

{% extends "dash/base.html" %} {%load static%}{% block body_block %}

<div class="d-flex justify-content-center flex-column align-items-center">

    <div class="vision-header">
		<img style="height: 400px; color: white; width: 100vw; object-fit: cover;" src="{% static 'images/vision.jpg/' %}">
		<div class="d-flex justify-content-center flex-column align-items-center" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 15px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; position: relative;height: 400px; margin-top:-400px;width: 100vw;object-fit: cover; z-index: 10000; background: linear-gradient(180deg, rgba(0, 0, 0, 0.95) 31%, rgba(0, 4, 28, 0.7511379551820728) 73%)!important;">
			<h2 style="color: white; font-size: 60px;">Über uns</h2>
			<h3 style="color: white;"" >ein Commitment der Gründer</h3>
		</div>
	
</div>


    <div>
        <div class="container p-0" style="line-height: 1.7;">
            <div class="row d-flex flex-column flex-sm-row align-items-center pt-5">
                <div class="col d-flex justify-content-center">
                    <img  style="max-width: 700px; width:90vw; border-radius: 8px; box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 15px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;" src="{% static 'images/the_coolest-guys-in-town.jpg/' %}">
                </div>
        
                <div class="col p-0 mt-3 mt-md-0 col-sm-5 d-flex justify-content-center flex-column text-left" style="line-height: 2; max-width:560px; width: 90vw">
                    <h2 >Revitalyze, das sind wir: <br>Patrick und David</h2>
                    Wir denken Kreislaufwirtschaft zu Ende und haben einen Weg gefunden, 
                    die komplexen Herausforderungen des Entsorgungsprozesses der Baubranche zu lösen.
                    Warum machen wir das? Der „Circularity Gap” Report 2022 zeigt, dass wir die globale 
                    Erwärmung bis auf 2 Grad begrenzen können, wenn wir die Agenden der 
                    Kreislaufwirtschaft und des Klimaschutzes miteinander verbinden. 
                    Mit Revitalyze haben wir einen Ansatzpunkt gefunden, der den Weg für 
                    die dringend notwendige Umgestaltung der Bauwirtschaft ebnet, der 
                    über nationalpolitische Klimaziele hinausgeht. Aktuell können die 
                    national festgelegten Beiträge des Pariser Klimaabkommens nur 15% der 
                    „Emissions Gap” zum 2-Grad-Ziel schließen. Die Kreislaufwirtschaft 
                    liefert die fehlenden 85%.  Lösungen an der Schnittstelle von Material- und 
                    Emissions-Hotspots können sowohl die Wertbeständigkeit von Materialien verlängern,
                    als auch übermäßigen Verbrauch reduzieren. Revitalyze ermöglicht es uns, 
                    mit weniger Materialeinsatz und Emissionen die gleichen, oder sogar bessere
                    Ergebnisse zu erzielen. 
            </div>            
            {% comment %} <div style="position: relative;">
                <?xml version="1.0" encoding="utf-8"?>      
                <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 841.9 595.3" style="enable-background:new 0 0 841.9 595.3;  position: absolute; margin-left: -40em; margin-top: -64em; z-index: -10; width: 180em;" xml:space="preserve">
                    <style type="text/css">
                    .st0{fill:#C2121E;
                    opacity: 0.05;}
                    </style>
                    <g>
                    <path class="st0" d="M420,133.3c-62.2,0-116.5,34.6-144.6,85.6c-0.2,0.3-0.3,0.6-0.5,0.8c-0.6,1.2-1.2,2.4-1.9,3.5
                        c-0.6,1.2-1.2,2.4-1.8,3.6c-0.5,1-0.9,1.9-1.4,2.9c-0.2,0.5-0.5,1-0.7,1.5c-0.4,1-0.8,1.9-1.2,2.9c-0.6,1.2-1.1,2.5-1.5,3.7
                        c-0.9,2.3-1.8,4.6-2.6,7c-0.1,0.4-0.3,0.9-0.4,1.3c-0.2,0.6-0.4,1.2-0.6,1.7h0h16h14.8H425c24.9,0,45.3,21.2,42.6,45.9
                        c-1.4,12.5-8.3,23.2-18.2,29.9c-5.2,3.5-11.1,5.8-17.6,6.6c-1.7,0.2-3.5,0.3-5.3,0.3c0,0-34.8,0.2-34.7,0.3l28.2,28.3l60.7,60.8
                        l0.1,0.1c-1.3,0.7-2.6,1.3-3.9,1.9c-1.5,0.7-2.9,1.3-4.4,1.9c-0.6,0.3-1.2,0.5-1.8,0.8c-1.2,0.5-2.3,0.9-3.5,1.4
                        c-15.1,5.5-30.9,8.4-47.1,8.4c-14.1,0-27.6-2.1-40.4-6.1c-2.1-0.7-4.2-1.4-6.3-2.1c-2.1-0.8-4.2-1.6-6.2-2.4c-2-0.9-4-1.8-6-2.7
                        c-7.9-3.8-15.4-8.4-22.4-13.6c-1.7-1.3-3.5-2.6-5.1-4c-3.4-2.8-6.6-5.7-9.7-8.8c-1.2-1.2-2.4-2.4-3.5-3.7c-0.3-0.3-0.6-0.7-1-1
                        c-1-1.1-1.9-2.2-2.9-3.3c-0.2-0.3-0.4-0.5-0.7-0.8c-0.8-1-1.7-2.1-2.5-3.1c-0.1-0.1-0.2-0.2-0.3-0.3c-0.4-0.5-0.8-1-1.2-1.6
                        c-0.9-1.2-1.8-2.4-2.7-3.6c-0.6-0.9-1.2-1.8-1.9-2.7c-1.2-1.8-2.4-3.7-3.5-5.5c-1.7-2.8-3.3-5.7-4.8-8.6c-1-1.9-1.9-3.9-2.9-5.9
                        c-0.9-2-1.8-4-2.6-6.1c-0.8-2.1-1.6-4.1-2.3-6.2c-0.6-1.9-1.2-3.8-1.8-5.7c-0.4-1.3-0.8-2.6-1.1-3.9c-0.1-0.3-0.2-0.6-0.2-0.9
                        c-0.4-1.5-0.8-3.1-1.1-4.6c-0.1-0.3-0.1-0.7-0.2-1c-0.3-1.5-0.6-2.9-0.8-4.4c-1.1-6.4-1.7-12.9-1.9-19.5c0-1.2-0.1-2.4-0.1-3.5
                        c0-1.2,0-2.4,0.1-3.5c0.1-2.3,0.2-4.6,0.3-6.9c0.1-0.9,0.1-1.7,0.2-2.6c0.3-2.8,0.6-5.6,1-8.3h-29.3c-0.1,0.3-0.1,0.6-0.1,0.8
                        c-0.2,1.6-0.4,3.2-0.5,4.8c-0.2,1.7-0.3,3.4-0.4,5.1v0.2c-0.1,1.6-0.2,3.2-0.2,4.8c-0.1,1.9-0.1,3.8-0.1,5.8c0,1.9,0,3.9,0.1,5.8
                        c0,1.6,0.1,3.2,0.2,4.8v0.2c0.1,1.7,0.2,3.4,0.4,5.1c0.1,1.6,0.3,3.2,0.5,4.8c0.2,1.5,0.4,3,0.6,4.6c0.1,1,0.3,1.9,0.5,2.8
                        c0.1,0.7,0.2,1.4,0.4,2.1c0.1,0.8,0.3,1.7,0.5,2.5c0.8,4.2,1.9,8.4,3,12.6c0.3,1.2,0.7,2.4,1.1,3.6c0.5,1.6,1,3.3,1.6,4.9
                        c0.3,1,0.7,2.1,1.1,3.1c0.9,2.5,1.9,5,3,7.5c0.3,0.8,0.6,1.5,1,2.2c0.4,1,0.8,1.9,1.3,2.9c0.4,0.9,0.8,1.9,1.3,2.8c0.5,1,1,2,1.5,3
                        c0.6,1.2,1.2,2.4,1.9,3.5c1.2,2.3,2.6,4.6,4,6.9c1.4,2.3,2.8,4.5,4.3,6.7c4.4,6.6,9.4,12.8,14.7,18.7c0.7,0.8,1.5,1.6,2.2,2.4
                        c1.4,1.5,2.8,2.9,4.2,4.3c0.6,0.6,1.2,1.2,1.9,1.8c7.6,7.3,16,13.9,24.9,19.6c1,0.6,2,1.3,3,1.9c3.5,2.1,7.1,4.1,10.8,6
                        c1.2,0.6,2.4,1.2,3.6,1.8c1.6,0.8,3.2,1.5,4.8,2.2c0.8,0.4,1.7,0.7,2.5,1.1c3.9,1.7,7.9,3.2,12,4.6c0.8,0.3,1.6,0.5,2.4,0.8
                        c6.4,2,12.9,3.7,19.6,4.9c0.8,0.2,1.6,0.3,2.4,0.4c0.9,0.1,1.8,0.3,2.6,0.4c1.4,0.2,2.8,0.4,4.2,0.6c1.7,0.2,3.4,0.4,5.1,0.6
                        c0.1,0,0.2,0,0.3,0c1.6,0.1,3.2,0.3,4.8,0.4h0.2c1.6,0.1,3.1,0.2,4.7,0.2c1.9,0.1,3.9,0.1,5.8,0.1c19.6,0,38.9-3.4,57.2-10.2
                        c2.2-0.8,4.4-1.7,6.6-2.6c1.4-0.6,2.7-1.1,4-1.7c0.7-0.3,1.5-0.7,2.2-1c1.1-0.5,2.3-1.1,3.4-1.6c1-0.5,1.9-1,2.8-1.5
                        c1-0.5,2-1.1,3-1.6c1-0.6,2-1.1,3-1.7c0.8-0.5,1.6-0.9,2.4-1.4c1.3-0.7,2.5-1.5,3.7-2.3c0.3-0.2,0.5-0.3,0.8-0.5
                        c0.5-0.3,0.9-0.6,1.4-0.9c0.4-0.2,0.8-0.5,1.1-0.7c1.6-1,3.1-2.1,4.6-3.2c1.5-1,2.9-2.1,4.3-3.2c0.4-0.3,0.9-0.7,1.3-1
                        c0,0,0.1-0.1,0.1-0.1c1.4-1.1,2.8-2.2,4.1-3.4c0.1-0.1,0.1-0.1,0.2-0.1l-20.6-20.6v0l0,0l-50.2-50.2c-0.1-0.1-0.1-0.2,0-0.2
                        c19.9-9.1,35-27.2,39.7-49.1c1.1-4.8,1.6-9.8,1.6-15c0-15.3-4.9-29.4-13.2-40.9c-12.8-17.8-33.6-29.4-57.2-29.4H309.7
                        c0.9-1.3,1.9-2.5,2.8-3.7c0.8-1.1,1.7-2.1,2.6-3.2c25-30.3,62.7-49.6,105-49.6c75,0,136,61,136,136c0,31.6-11.1,61.5-30.1,85.1
                        l13.5,13.5l0,0v0l7.1,7.1C570.8,375,585,337.7,585,298.3C585,207.3,511,133.3,420,133.3L420,133.3z"/>
                    </g>
                </svg>
            </div> {% endcomment %}
        </div>
    </div>

<div>


    <div id="fh5co-services-section" >
        <div class="container py-2 py-sm-5" style="width:90vw; max-width:1320px;">
            <div class="row d-flex flex-column-reverse flex-sm-row justify-content-center pt-0 pt-sm-5">
                <div class="col p-0 pr-sm-5" style="line-height: 2; max-width: 670px; padding-right: 5em">
                    
                    <h3 class="pb-3">Bis zu 77% der Emissionen eines Gebäudelebenszyklus entfallen auf die graue Energie</h3>
                    Das sind Emissionen, die bei Materialgewinnung, Transport, Errichtung und Entsorgung des Gebäudes und seiner Materialien entstehen. Schutt aus Bau-, Abbruch- und Industrieprozessen ist weltweit einer der größten Abfallströme. In Europa macht alleine Bauschutt über 30% des gesamten Abfallaufkommens aus. Zudem ist die Bauindustrie für ein Drittel aller CO2-Emissionen verantwortlich.

                        Gleichzeitig graben wir aber immer noch jedes Jahr tonnenweise Rohstoffe aus, um daraus neue Bauprodukte zu erstellen, aus denen unsere Städte und Infrastruktur besteht. Großflächige Ausgrabungen zerstören Landschaften und Ökosysteme und haben zur Folge, dass grundlegende Rohstoffe wie Bausand immer knapper werden.
                 </div>
                <div class="col-sm-5 col flex-column d-flex justify-content-center p-0 p-sm-5 pl-sm-3 pt-4 pb-5 pb-sm-0 services-inner ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#C20E1A" class="bi bi-quote" viewBox="0 0 16 16">
                        <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"/>
                    </svg><h3 class="pb-3"><b>Wenn wir beginnen das große Potential von Gebäuden als Rohstofflager zu erkennen, entstehen neue regionale Materialkreisläufe. </b></h3>
                    ~ Revitalyze     
                </div>
            </div>
            
        </div>
    </div>

<div id="fh5co-services-section" >
    <div class="d-flex justify-content-center pb-5">
        <div class="row pt-4" style="width: 90vw; max: width 1320px;">
            <div class="col-7 d-none d-sm-block">
               <svg xmlns="http://www.w3.org/2000/svg" width="654.04004" height="501.00456" viewBox="0 0 654.04004 501.00456" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M130.68461,375.13977c-.52634-.88752-2.80337,.06276-3.222-.7427-.41714-.80256,1.6985-2.02539,2.90719-4.81886,.21797-.50377,1.59157-3.67835,.57469-4.65792-1.92742-1.85675-10.74742,5.8056-13.83403,3.29812-.67739-.55028-1.15062-1.64884-3.20079-3.43241-.8156-.70953-1.30878-1.0299-1.78607-.91071-.67724,.1691-.73092,1.07553-1.45713,2.85771-1.0891,2.67275-1.73328,2.51137-2.36783,4.64379-.47106,1.58301-.36346,2.50333-.91777,2.68264-.7844,.25374-1.50642-1.42533-2.5005-1.27499-1.01442,.15343-1.6277,2.10841-1.82141,3.57214-.36351,2.7468,.64522,4.55932,1.20431,6.4652,.60759,2.0712,.96818,5.22106-.43496,9.68013l-13.88791,39.1293c3.06602-8.02922,11.94361-30.03945,15.67399-38.21859,1.07688-2.36114,2.26592-4.75608,4.7074-5.70129,2.35055-.91004,5.57871-.36672,9.69426-1.35818,.48066-.11578,1.81446-.45513,1.98235-1.23965,.1388-.64859-.64576-1.01061-.52522-1.61807,.16169-.81482,1.70451-.82481,3.60041-1.76487,1.33688-.66288,2.16976-1.45122,2.88599-2.12915,.21594-.20438,3.42572-3.28019,2.72505-4.46165Z" fill="#f2f2f2"/><path d="M76.0454,395.73908c-.58747,.00225-.77806,1.39402-1.29417,1.36709-.51426-.02683-.50401-1.41802-1.52631-2.81726-.18436-.25234-1.34614-1.84247-2.12032-1.62602-1.46743,.41026-.25155,6.95-2.37282,7.74145-.46553,.1737-1.14125,.08899-2.60818,.58061-.58357,.19558-.88311,.3452-.96232,.61385-.11241,.38119,.31698,.66907,.98216,1.53971,.99757,1.30571,.73249,1.57532,1.59601,2.50203,.64104,.68795,1.12378,.90068,1.05185,1.22448-.10179,.4582-1.13421,.32811-1.34725,.85939-.21739,.54216,.56518,1.40723,1.2277,1.92464,1.24326,.97096,2.42391,.99883,3.52064,1.27433,1.19187,.2994,2.84188,1.03125,4.62557,3.00651l15.19781,18.10634c-3.05615-3.82151-11.29745-14.52935-14.2355-18.72019-.84815-1.2098-1.68052-2.48441-1.44-3.95543,.23155-1.41624,1.42965-2.84388,2.1305-5.14989,.08186-.26932,.30015-1.02187-.03646-1.33063-.27828-.25526-.68234,.02535-.9457-.20908-.35326-.31446,.08698-1.07457,.17263-2.27633,.06038-.84741-.08622-1.48365-.2123-2.03079-.03801-.16496-.62151-2.62781-1.40354-2.6248Z" fill="#f2f2f2"/><path d="M87.76536,398.36995l-.35394-3.15957,.16172-.23952c.74832-1.1076,1.12972-2.18927,1.1343-3.21601,.00076-.16324-.00687-.32648-.01449-.49278-.03051-.65907-.06865-1.47833,.35852-2.43337,.23952-.53244,.91232-1.76515,1.92381-1.61258,.27232,.03814,.47828,.16324,.63466,.3097,.02288-.03661,.04653-.07323,.0717-.1129,.31504-.48057,.56448-.68653,.80477-.88486,.1846-.15256,.3753-.3097,.67433-.68195,.1312-.16324,.23342-.30665,.31962-.42717,.26164-.36462,.60338-.79943,1.20601-.7918,.64381,.03051,.98098,.56296,1.20448,.91537,.39895,.62856,.57974,1.08167,.6995,1.38221,.04348,.10984,.09306,.23342,.11824,.27156,.20748,.30512,1.89406,.01983,2.52948-.08391,1.42722-.238,2.66221-.44396,3.17101,.45616,.36462,.64381,.09383,1.49511-.82918,2.59814-.28758,.34327-.59347,.60415-.86503,.80858,.22503,.13425,.42641,.34021,.50803,.66365h0c.19223,.76586-.46608,1.53325-1.95585,2.28386-.36996,.18765-.86808,.43785-1.56605,.55838-.32877,.05645-.62474,.07018-.878,.07781-.00534,.14646-.03967,.30512-.12892,.46837-.26164,.48057-.80629,.70941-1.62708,.65449-.90317-.04729-1.64691-.21969-2.30293-.37073-.57287-.1312-1.06641-.24257-1.45392-.21664-.71857,.05797-1.27237,.63313-1.92229,1.37916l-1.6225,1.89635Z" fill="#f2f2f2"/><path d="M89.40724,379.55784l-2.96646,1.14379-.27271-.09567c-1.26119-.4429-2.40423-.53747-3.39855-.28146-.1581,.04067-.31406,.08945-.47298,.13901-.62978,.19669-1.41257,.44139-2.44473,.27043-.57578-.09664-1.93883-.43476-2.04782-1.45186-.03218-.27309,.03659-.50405,.13859-.69246-.04122-.01285-.08264-.02643-.12739-.04072-.54477-.18284-.80726-.37188-1.06005-.554-.1944-.13987-.39477-.28447-.83069-.47929-.19118-.08551-.35583-.148-.49428-.20081-.41907-.1606-.92633-.38088-1.07181-.96572-.13379-.6305,.29572-1.09169,.57992-1.39727,.50681-.54534,.89924-.83514,1.15958-1.02722,.09522-.06992,.20218-.14923,.23269-.18325,.24252-.27809-.46124-1.83715-.72277-2.42548-.59223-1.32018-1.10471-2.46254-.36308-3.18301,.53027-.516,1.42242-.46999,2.72349,.14304,.40498,.19111,.73492,.42082,1.00155,.63164,.07279-.25172,.22093-.49876,.51308-.65975h0c.69206-.3802,1.60133,.06193,2.70527,1.31258,.27536,.31027,.64372,.72863,.93735,1.3732,.138,.3037,.22635,.58651,.29797,.82955,.14302-.03198,.30521-.03903,.48575,.0059,.53122,.13119,.89073,.59998,1.0458,1.40785,.18334,.88563,.20523,1.64877,.22554,2.32165,.0184,.58742,.03585,1.09306,.15923,1.46132,.23834,.68036,.93516,1.07016,1.82165,1.50959l2.24588,1.08843Z" fill="#f2f2f2"/><path d="M87.76536,370.24966l-.35394-3.15957,.16172-.23952c.74832-1.1076,1.12972-2.18927,1.1343-3.21601,.00076-.16324-.00687-.32648-.01449-.49278-.03051-.65907-.06865-1.47833,.35852-2.43337,.23952-.53244,.91232-1.76515,1.92381-1.61258,.27232,.03814,.47828,.16324,.63466,.3097,.02288-.03661,.04653-.07323,.0717-.1129,.31504-.48057,.56448-.68653,.80477-.88486,.1846-.15256,.3753-.3097,.67433-.68195,.1312-.16324,.23342-.30665,.31962-.42717,.26164-.36462,.60338-.79943,1.20601-.7918,.64381,.03051,.98098,.56296,1.20448,.91537,.39895,.62856,.57974,1.08167,.6995,1.38221,.04348,.10984,.09306,.23342,.11824,.27156,.20748,.30512,1.89406,.01983,2.52948-.08391,1.42722-.238,2.66221-.44396,3.17101,.45616,.36462,.64381,.09383,1.49511-.82918,2.59814-.28758,.34327-.59347,.60415-.86503,.80858,.22503,.13425,.42641,.34021,.50803,.66365h0c.19223,.76586-.46608,1.53325-1.95585,2.28386-.36996,.18765-.86808,.43785-1.56605,.55838-.32877,.05645-.62474,.07018-.878,.07781-.00534,.14646-.03967,.30512-.12892,.46837-.26164,.48057-.80629,.70941-1.62708,.65449-.90317-.04729-1.64691-.21969-2.30293-.37073-.57287-.1312-1.06641-.24257-1.45392-.21664-.71857,.05797-1.27237,.63313-1.92229,1.37916l-1.6225,1.89635Z" fill="#f2f2f2"/><path d="M90.99816,431.57972l-.66212-.41497-.16019-.76434,.16019,.76434-.77197,.08849c-.0122-.0717-.05416-.23647-.11747-.4943-.34555-1.41273-1.399-5.71193-2.27776-12.48265-.6133-4.72638-.96038-9.58549-1.03208-14.4446-.0717-4.86674,.15866-8.55112,.34327-11.51236,.13959-2.23351,.30894-4.36023,.47523-6.43203,.44243-5.53496,.85969-10.76327,.54922-16.55149-.06865-1.2922-.21282-3.98188-1.78422-6.84395-.91156-1.65988-2.16715-3.13363-3.73244-4.37854l.97335-1.22355c1.72777,1.37611,3.11685,3.00853,4.1291,4.85148,1.74226,3.1733,1.8994,6.10402,1.97492,7.51217,.3158,5.89043-.10603,11.16909-.55304,16.75745-.16477,2.06417-.33411,4.18173-.47294,6.40609-.18307,2.93377-.41116,6.58612-.34021,11.39031,.07018,4.80114,.41344,9.60075,1.01835,14.26763,.86808,6.68528,1.90627,10.92041,2.24724,12.31178,.18155,.74298,.21969,.89859,.03356,1.19304Z" fill="#f2f2f2"/><path d="M79.1227,360.59551c-.06408,0-.12892-.00153-.19452-.0061-1.33034-.0717-2.56228-.86808-3.66226-2.36624-.51566-.70484-.77959-1.50884-1.30593-3.11227-.08162-.24715-.47828-1.50121-.71933-3.22669-.1579-1.12744-.13807-1.59885,.08543-2.01535,.24791-.46379,.64915-.78722,1.10074-1.00539-.01983-.14951-.00381-.3036,.06102-.46074,.26622-.65144,.97411-.56601,1.35704-.52481,.19375,.02441,.43557,.05645,.69645,.04272,.41039-.01983,.63085-.14188,.96496-.32496,.31962-.17545,.71704-.39361,1.3067-.51414,1.16253-.24257,2.13664,.08696,2.45778,.19528,1.68963,.56296,2.52262,1.87652,3.48681,3.39756,.19223,.30512,.85206,1.41578,1.28763,2.93835,.31428,1.09845,.27004,1.58665,.17545,1.94975-.19223,.74603-.6461,1.1732-1.79871,2.11604-1.20372,.98708-1.80786,1.48138-2.32658,1.78193-1.20753,.69721-1.96577,1.13506-2.97268,1.13506Z" fill="#f2f2f2"/></g><g><path d="M575.68461,376.13977c-.52634-.88752-2.80337,.06276-3.222-.7427-.41714-.80256,1.6985-2.02539,2.90719-4.81886,.21797-.50377,1.59157-3.67835,.57469-4.65792-1.92742-1.85675-10.74742,5.8056-13.83403,3.29812-.67739-.55028-1.15062-1.64884-3.20079-3.43241-.8156-.70953-1.30878-1.0299-1.78607-.91071-.67724,.1691-.73092,1.07553-1.45713,2.85771-1.0891,2.67275-1.73328,2.51137-2.36783,4.64379-.47106,1.58301-.36346,2.50333-.91777,2.68264-.7844,.25374-1.50642-1.42533-2.5005-1.27499-1.01442,.15343-1.6277,2.10841-1.82141,3.57214-.36351,2.7468,.64522,4.55932,1.20431,6.4652,.60759,2.0712,.96818,5.22106-.43496,9.68013l-13.88791,39.1293c3.06602-8.02922,11.94361-30.03945,15.67399-38.21859,1.07688-2.36114,2.26592-4.75608,4.7074-5.70129,2.35055-.91004,5.57871-.36672,9.69426-1.35818,.48066-.11578,1.81446-.45513,1.98235-1.23965,.1388-.64859-.64576-1.01061-.52522-1.61807,.16169-.81482,1.70451-.82481,3.60041-1.76487,1.33688-.66288,2.16976-1.45122,2.88599-2.12915,.21594-.20438,3.42572-3.28019,2.72505-4.46165Z" fill="#f2f2f2"/><path d="M521.0454,396.73908c-.58747,.00225-.77806,1.39402-1.29417,1.36709-.51426-.02683-.50401-1.41802-1.52631-2.81726-.18436-.25234-1.34614-1.84247-2.12032-1.62602-1.46743,.41026-.25155,6.95-2.37282,7.74145-.46553,.1737-1.14125,.08899-2.60818,.58061-.58357,.19558-.88311,.3452-.96232,.61385-.11241,.38119,.31698,.66907,.98216,1.53971,.99757,1.30571,.73249,1.57532,1.59601,2.50203,.64104,.68795,1.12378,.90068,1.05185,1.22448-.10179,.4582-1.13421,.32811-1.34725,.85939-.21739,.54216,.56518,1.40723,1.2277,1.92464,1.24326,.97096,2.42391,.99883,3.52064,1.27433,1.19187,.2994,2.84188,1.03125,4.62557,3.00651l15.19781,18.10634c-3.05615-3.82151-11.29745-14.52935-14.2355-18.72019-.84815-1.2098-1.68052-2.48441-1.44-3.95543,.23155-1.41624,1.42965-2.84388,2.1305-5.14989,.08186-.26932,.30015-1.02187-.03646-1.33063-.27828-.25526-.68234,.02535-.9457-.20908-.35326-.31446,.08698-1.07457,.17263-2.27633,.06038-.84741-.08622-1.48365-.2123-2.03079-.03801-.16496-.62151-2.62781-1.40354-2.6248Z" fill="#f2f2f2"/><path d="M532.76536,399.36995l-.35394-3.15957,.16172-.23952c.74832-1.1076,1.12972-2.18927,1.1343-3.21601,.00076-.16324-.00687-.32648-.01449-.49278-.03051-.65907-.06865-1.47833,.35852-2.43337,.23952-.53244,.91232-1.76515,1.92381-1.61258,.27232,.03814,.47828,.16324,.63466,.3097,.02288-.03661,.04653-.07323,.0717-.1129,.31504-.48057,.56448-.68653,.80477-.88486,.1846-.15256,.3753-.3097,.67433-.68195,.1312-.16324,.23342-.30665,.31962-.42717,.26164-.36462,.60338-.79943,1.20601-.7918,.64381,.03051,.98098,.56296,1.20448,.91537,.39895,.62856,.57974,1.08167,.6995,1.38221,.04348,.10984,.09306,.23342,.11824,.27156,.20748,.30512,1.89406,.01983,2.52948-.08391,1.42722-.238,2.66221-.44396,3.17101,.45616,.36462,.64381,.09383,1.49511-.82918,2.59814-.28758,.34327-.59347,.60415-.86503,.80858,.22503,.13425,.42641,.34021,.50803,.66365h0c.19223,.76586-.46608,1.53325-1.95585,2.28386-.36996,.18765-.86808,.43785-1.56605,.55838-.32877,.05645-.62474,.07018-.878,.07781-.00534,.14646-.03967,.30512-.12892,.46837-.26164,.48057-.80629,.70941-1.62708,.65449-.90317-.04729-1.64691-.21969-2.30293-.37073-.57287-.1312-1.06641-.24257-1.45392-.21664-.71857,.05797-1.27237,.63313-1.92229,1.37916l-1.6225,1.89635Z" fill="#f2f2f2"/><path d="M534.40724,380.55784l-2.96646,1.14379-.27271-.09567c-1.26119-.4429-2.40423-.53747-3.39855-.28146-.1581,.04067-.31406,.08945-.47298,.13901-.62978,.19669-1.41257,.44139-2.44473,.27043-.57578-.09664-1.93883-.43476-2.04782-1.45186-.03218-.27309,.03659-.50405,.13859-.69246-.04122-.01285-.08264-.02643-.12739-.04072-.54477-.18284-.80726-.37188-1.06005-.554-.1944-.13987-.39477-.28447-.83069-.47929-.19118-.08551-.35583-.148-.49428-.20081-.41907-.1606-.92633-.38088-1.07181-.96572-.13379-.6305,.29572-1.09169,.57992-1.39727,.50681-.54534,.89924-.83514,1.15958-1.02722,.09522-.06992,.20218-.14923,.23269-.18325,.24252-.27809-.46124-1.83715-.72277-2.42548-.59223-1.32018-1.10471-2.46254-.36308-3.18301,.53027-.516,1.42242-.46999,2.72349,.14304,.40498,.19111,.73492,.42082,1.00155,.63164,.07279-.25172,.22093-.49876,.51308-.65975h0c.69206-.3802,1.60133,.06193,2.70527,1.31258,.27536,.31027,.64372,.72863,.93735,1.3732,.138,.3037,.22635,.58651,.29797,.82955,.14302-.03198,.30521-.03903,.48575,.0059,.53122,.13119,.89073,.59998,1.0458,1.40785,.18334,.88563,.20523,1.64877,.22554,2.32165,.0184,.58742,.03585,1.09306,.15923,1.46132,.23834,.68036,.93516,1.07016,1.82165,1.50959l2.24588,1.08843Z" fill="#f2f2f2"/><path d="M532.76536,371.24966l-.35394-3.15957,.16172-.23952c.74832-1.1076,1.12972-2.18927,1.1343-3.21601,.00076-.16324-.00687-.32648-.01449-.49278-.03051-.65907-.06865-1.47833,.35852-2.43337,.23952-.53244,.91232-1.76515,1.92381-1.61258,.27232,.03814,.47828,.16324,.63466,.3097,.02288-.03661,.04653-.07323,.0717-.1129,.31504-.48057,.56448-.68653,.80477-.88486,.1846-.15256,.3753-.3097,.67433-.68195,.1312-.16324,.23342-.30665,.31962-.42717,.26164-.36462,.60338-.79943,1.20601-.7918,.64381,.03051,.98098,.56296,1.20448,.91537,.39895,.62856,.57974,1.08167,.6995,1.38221,.04348,.10984,.09306,.23342,.11824,.27156,.20748,.30512,1.89406,.01983,2.52948-.08391,1.42722-.238,2.66221-.44396,3.17101,.45616,.36462,.64381,.09383,1.49511-.82918,2.59814-.28758,.34327-.59347,.60415-.86503,.80858,.22503,.13425,.42641,.34021,.50803,.66365h0c.19223,.76586-.46608,1.53325-1.95585,2.28386-.36996,.18765-.86808,.43785-1.56605,.55838-.32877,.05645-.62474,.07018-.878,.07781-.00534,.14646-.03967,.30512-.12892,.46837-.26164,.48057-.80629,.70941-1.62708,.65449-.90317-.04729-1.64691-.21969-2.30293-.37073-.57287-.1312-1.06641-.24257-1.45392-.21664-.71857,.05797-1.27237,.63313-1.92229,1.37916l-1.6225,1.89635Z" fill="#f2f2f2"/><path d="M535.99816,432.57972l-.66212-.41497-.16019-.76434,.16019,.76434-.77197,.08849c-.0122-.0717-.05416-.23647-.11747-.4943-.34555-1.41273-1.399-5.71193-2.27776-12.48265-.6133-4.72638-.96038-9.58549-1.03208-14.4446-.0717-4.86674,.15866-8.55112,.34327-11.51236,.13959-2.23351,.30894-4.36023,.47523-6.43203,.44243-5.53496,.85969-10.76327,.54922-16.55149-.06865-1.2922-.21282-3.98188-1.78422-6.84395-.91156-1.65988-2.16715-3.13363-3.73244-4.37854l.97335-1.22355c1.72777,1.37611,3.11685,3.00853,4.1291,4.85148,1.74226,3.1733,1.8994,6.10402,1.97492,7.51217,.3158,5.89043-.10603,11.16909-.55304,16.75745-.16477,2.06417-.33411,4.18173-.47294,6.40609-.18307,2.93377-.41116,6.58612-.34021,11.39031,.07018,4.80114,.41344,9.60075,1.01835,14.26763,.86808,6.68528,1.90627,10.92041,2.24724,12.31178,.18155,.74298,.21969,.89859,.03356,1.19304Z" fill="#f2f2f2"/><path d="M524.1227,361.59551c-.06408,0-.12892-.00153-.19452-.0061-1.33034-.0717-2.56228-.86808-3.66226-2.36624-.51566-.70484-.77959-1.50884-1.30593-3.11227-.08162-.24715-.47828-1.50121-.71933-3.22669-.1579-1.12744-.13807-1.59885,.08543-2.01535,.24791-.46379,.64915-.78722,1.10074-1.00539-.01983-.14951-.00381-.3036,.06102-.46074,.26622-.65144,.97411-.56601,1.35704-.52481,.19375,.02441,.43557,.05645,.69645,.04272,.41039-.01983,.63085-.14188,.96496-.32496,.31962-.17545,.71704-.39361,1.3067-.51414,1.16253-.24257,2.13664,.08696,2.45778,.19528,1.68963,.56296,2.52262,1.87652,3.48681,3.39756,.19223,.30512,.85206,1.41578,1.28763,2.93835,.31428,1.09845,.27004,1.58665,.17545,1.94975-.19223,.74603-.6461,1.1732-1.79871,2.11604-1.20372,.98708-1.80786,1.48138-2.32658,1.78193-1.20753,.69721-1.96577,1.13506-2.97268,1.13506Z" fill="#f2f2f2"/></g><circle cx="320.3153" cy="127.10046" r="68" fill="#ff6884"/><path d="M583.04004,431.16453h0c0,.46394-.37609,.84003-.84003,.84003H0v-1.68005H582.20001c.46393,0,.84003,.37609,.84003,.84003Z" fill="#e6e6e6"/><path d="M495.3153,431.10046c0,38.10765,4,66-37.5,69-44.56313,3.22143-37.5-30.89235-37.5-69s-6-76,37.5-69c20.44762,3.29042,37.5,30.89235,37.5,69Z" fill="#3f3d56"/><ellipse cx="432.3153" cy="431.10046" rx="6" ry="48" fill="#e6e6e6"/><path d="M194.95337,369.73401c0,33.62932,3.52993,58.24382-33.09308,60.89127-39.32616,2.84286-33.09308-27.26195-33.09308-60.89127s-5.29489-67.06864,33.09308-60.89127c18.04466,2.90374,33.09308,27.26195,33.09308,60.89127Z" fill="#3f3d56"/><ellipse cx="139.35699" cy="369.73401" rx="5.29489" ry="42.35914" fill="#e6e6e6"/><path d="M251.8153,430.60046c0,38.10765,4,66-37.5,69-44.56313,3.22143-37.5-30.89235-37.5-69s-6-76,37.5-69c20.44762,3.29042,37.5,30.89235,37.5,69Z" fill="#3f3d56"/><ellipse cx="188.8153" cy="430.60046" rx="6" ry="48" fill="#e6e6e6"/><path d="M133.3153,289.10046v23.65354l-6.5,10.84646,2,38,1.61812,.99996-1.11812-38.49996c11.39322-4.24158,15.1188,3.57135,14,19l-2,26,32,20,4-41,15-7,16.5,69.5H485.26378c11.39576,0,20.50201-9.48262,20.04074-20.86904l-3.48923-86.13096-9.41339-9.41339-8.7202-100.86462c-2.17464-25.15363-23.50321-44.29878-48.74481-43.75478l-172.93405,3.72703c-9.38179,.20219-18.65063,2.091-27.36343,5.57612l-41.82413,16.72965-26.99606,26.99606-4.00394,65.00394-10.20744-.8876c-7.34262-.63849-14.0392,4.21417-15.71879,11.39057l-2.57377,10.99703Z" fill="#e6e6e6"/><circle cx="222.8153" cy="372.60046" r="10" fill="#3f3d56"/><circle cx="245.8153" cy="372.60046" r="10" fill="#3f3d56"/><circle cx="469.8153" cy="372.60046" r="10" fill="#3f3d56"/><circle cx="492.8153" cy="372.60046" r="10" fill="#3f3d56"/><path d="M477.21031,278.67174H242.11608c-1.79736,0-3.47021-.71582-4.71045-2.0166s-1.87695-3.00586-1.79199-4.80078l3.43457-72.625c.1626-3.43359,2.98242-6.1582,6.41895-6.20215l221.98438-2.85742c3.27783-.03125,6.12012,2.39941,6.54102,5.68164l9.6748,75.48242c.23779,1.85449-.33447,3.72363-1.56982,5.12793-1.23584,1.4043-3.01709,2.20996-4.88721,2.20996Z" fill="#fff"/><path d="M209.29186,275.10046h-15.25391c-1.80957,0-3.55225-.76172-4.78027-2.09082-1.22852-1.3291-1.85156-3.12598-1.70947-4.93066l4.39062-55.7207c.24072-3.05957,2.53076-5.5,5.56885-5.93359l15.7627-2.25195c1.97363-.28027,3.93896,.3418,5.38916,1.71094,1.45068,1.37012,2.18604,3.29492,2.01807,5.28223l-4.89893,57.97266c-.28711,3.39844-3.07617,5.96191-6.48682,5.96191Z" fill="#fff"/><path d="M174.21276,273.68444c-.15771,0-.31641-.00586-.4751-.0166l-1.79102-.12793c-1.76904-.12695-3.37305-.94336-4.51562-2.2998-1.14258-1.35742-1.67432-3.07617-1.49805-4.8418l4.92725-49.27344c.29199-2.91699,2.51514-5.29102,5.40771-5.77344,1.97119-.33105,3.95166,.25098,5.43359,1.59082,1.48242,1.33789,2.25977,3.24902,2.1333,5.24219l-3.13672,49.40234c-.11084,1.74512-.89697,3.33984-2.21436,4.49023-1.19678,1.0459-2.69824,1.60742-4.271,1.60742Z" fill="#fff"/><path d="M149.40941,374.21435l-2.59412-56.6139s-6-8-10-6-9.94094,13.12205-9.94094,13.12205c0,0,11.59412-.75984,11.26753,11.55906-.32659,12.3189,1.98641,32.24811,1.98641,32.24811l9.28112,5.68469Z" fill="#ccc"/><path d="M173.55899,389.00597l1.25631-42.23622,12.72047-15.02362s17-3.67323,16.63976,15.59055,5.13976,63.76378,5.13976,63.76378l-12.43096-7.80772s-3.06904-47.69228-12.06904-52.69228-6-1-6-1l-5.25631,39.40551Z" fill="#ccc"/><path d="M160.31139,280.73229l-9.85571-5.63184h1.07617c1.53723,0,2.78345-1.24622,2.78345-2.78351v-24.43304c0-1.53729-1.24622-2.78345-2.78345-2.78345h-10.43311c-1.53723,0-2.78345,1.24615-2.78345,2.78345v24.43304c0,1.53729,1.24622,2.78351,2.78345,2.78351h5.32617l12.89429,7.36816,.99219-1.73633Z" fill="#3f3d56"/><rect x="161.3153" y="316.10046" width="15" height="7" rx="3.5" ry="3.5" transform="translate(94.90051 -34.20692) rotate(16.04325)" fill="#3f3d56"/><rect x="450.30371" y="245.63749" width="39.90507" height="7" rx="3.5" ry="3.5" transform="translate(11.18191 -20.04865) rotate(2.47172)" fill="#3f3d56"/><rect x="481.30371" y="311.63749" width="39.90507" height="7" rx="3.5" ry="3.5" transform="translate(14.05709 -21.32416) rotate(2.47172)" fill="#3f3d56"/><circle cx="383.8153" cy="312.60046" r="76" fill="#3f3d56"/><circle cx="383.8153" cy="312.60046" r="45" fill="#e6e6e6"/><g><path id="b-277" d="M484.50669,161.66719c.3825,4.43634,2.98158,7.835,5.80485,7.59112s4.80114-4.03757,4.41792-8.47544c-.12877-1.77485-.6807-3.49305-1.60964-5.01085l-1.85803-18.77649-8.79267,1.05973,2.7652,18.39779c-.65548,1.65501-.90499,3.44295-.72762,5.21416Z" fill="#ffb6b6"/><path d="M459.05844,52.97458s9.70152-2.73271,13.43093,1.89412,17.63992,50.06358,17.63992,50.06358l4.31904,48.90139-13.77279-4.16778-5.36024-38.56543-9-20-7.25685-38.12588Z" fill="#c2121e"/></g><g><rect x="426.32342" y="23.55787" width="29.56796" height="28.03858" fill="#2f2e41"/><circle cx="440.79455" cy="23.42618" r="14.41669" fill="#ffb6b6"/><path d="M433.97031,.10742c-9.2141,1.42614-8.77488,4.84994-11.72522,6.6273-5.19787,3.13132-7.2487,12.17365-4.50358,18.14056,.73345,1.59428,2.27988,3.76918,1.52938,6.11751-.57613,1.80269-2.23706,2.86615-2.54896,3.05875-2.55294,1.5763-.88542-.29896-2.03917,1.01958-1.27349,1.45539,.69935,3.51117-.50979,6.11751-1.07186,2.31062-3.28154,2.11559-3.56855,3.56855-.49423,2.50198,5.17833,7.53269,11.21543,7.13709,5.37522-.35222,9.36831-4.89655,10.70564-9.17626,.89575-2.86684,1.28195-7.79804-1.01958-10.19585-.32285-.33629-1.20528-1.1507-2.03917-2.54896-.65989-1.10652-1.52863-2.56309-1.01958-3.56855,.54228-1.07117,2.07974-.50737,3.05875-1.52938,1.32775-1.386-.24979-3.72767,0-6.11751,.42304-4.04673,6.15684-8.91384,12.23502-8.15668,6.89527,.85891,9.42444,8.35687,9.68606,9.17626,.54228,1.69827,.53145,3.34128,.50979,6.6273-.03099,4.7157-.05053,7.67134-1.52938,10.70564-2.12704,4.36423-4.83693,3.89271-5.60772,7.13709-1.20167,5.05847,4.45135,10.13878,5.09792,10.70564,4.79374,4.2023,12.03401,5.46583,13.2546,3.56855,1.09986-1.70972-3.72873-4.36927-3.56855-9.68606,.13877-4.60749,3.8675-6.01203,3.05875-9.17626-.89015-3.4831-5.6402-2.68854-7.64689-6.6273-1.87301-3.67645,1.57879-5.71625,1.01958-13.2546-.11836-1.59466-.61907-6.17134-3.56855-10.70564-1.29937-1.9976-2.6209-4.02924-5.09792-5.09792-2.77299-1.19638-10.5043-4.62073-15.37832-3.86637Z" fill="#2f2e41"/><path d="M427.8528,12.85223c.37401,3.15683,5.11441,4.70388,7.13709,5.09792,.85667,.1669,3.75157,.73084,6.6273-.50979,1.0629-.45858,1.45016-.87328,2.54896-1.01958,1.48762-.19802,2.23712,.36778,4.58813,1.01958,2.6143,.7248,3.92152,1.08723,4.58813,.50979,1.08978-.94391,.25259-4.03185-1.01958-6.11751-2.35231-3.85649-6.65823-5.05069-8.66647-5.60772-2.29444-.63637-6.95053-1.92778-11.21543,.50979-.57022,.3259-4.96811,2.91015-4.58813,6.11751Z" fill="#2f2e41"/></g><g><polygon points="498.02839 296.49835 505.38656 296.672 509.48813 263.61447 498.62931 263.35751 498.02839 296.49835" fill="#ffb6b6"/><path d="M523.27335,311.84973h0c0,1.24303-.88213,2.25073-1.97031,2.25073h-14.60536s-1.43728-5.77751-7.29733-8.2639l-.40445,8.2639h-7.53439l.91287-13.28797s-2.01549-7.10911,2.17025-10.74308c4.18578-3.63397,.79546-3.1281,.79546-3.1281l1.64661-8.22425,11.38528,1.33884,.08371,12.91015,5.52519,12.81452,8.10412,4.0033c.72131,.3563,1.18824,1.16816,1.18824,2.06584l.00009,.00002Z" fill="#2f2e41"/></g><g><polygon points="464.57426 231.75097 471.76967 230.20209 468.0408 197.10046 457.42203 199.38552 464.57426 231.75097" fill="#ffb6b6"/><path d="M492.7054,240.78488h0c.29018,1.20869-.33233,2.39447-1.39044,2.6485l-14.20181,3.40955s-2.7463-5.28235-9.02487-6.33204l1.53589,8.12998-7.32622,1.75887-2.21436-13.13393s-3.61938-6.44218-.39763-10.95289c3.2218-4.51072,.04324-3.22736,.04324-3.22736l-.31879-8.38141,11.38325-1.35599,3.09521,12.5339,8.36401,11.17063,8.81476,2.00083c.78455,.17807,1.42811,.85849,1.63767,1.73137h.00009Z" fill="#2f2e41"/></g><polygon points="450.8153 39.60046 432.8153 40.60046 427.8153 50.60046 408.8153 60.60046 411.8153 109.91148 404.96023 134.71359 405.8153 141.60046 472.8153 139.60046 468.8153 65.60046 469.8153 53.60046 456.8153 49.60046 450.8153 39.60046" fill="#c2121e"/><path d="M406.3153,132.10046s-15,26.50394,0,30.25197c6.67289,1.66735,13.74158,2.79086,19.53335,3.52443,6.93438,.87829,13.31753-3.88171,14.46665-10.77638h0l16,54.99999,16-4,3-28.62992,19.44094,19.44094-2.44094,78.18898,18-1,19-85s1-6-14-14-42-34-42-34l-46-14-21,5Z" fill="#2f2e41"/><path d="M437.8153,149.60046l-26-17,32-34s18-7,23,20,8,51,8,51l-37-20Z" fill="#2f2e41"/><g><path d="M384.17028,98.84862l1.13947-7.74817c.83038-5.64667-2.91504-10.57465-7.99445-11.78772v-3.21228c0-2.76141-2.23859-5-5-5s-5,2.23859-5,5v4.28491l-19,4.03027v-5.31519c0-2.76141-2.23859-5-5-5s-5,2.23859-5,5v5.05157l-1.88892-.49274c-5.64087-1.47156-10.09705,5.00049-6.58862,9.65619,.04535,.06018,.09143,.12042,.13831,.18066,4.68341,6.02155,6.02155,11.37408,6.02155,11.37408l-3.34534,18.06476,3.81024,37.55756c.49103,4.84064,4.65723,8.46777,9.51941,8.28766l36.99292-1.37012c4.85834-.17993,8.74774-4.09729,8.88007-8.95715,.47125-17.31067,.52545-54.98615-7.68463-59.60431Z" fill="#3f3d56"/><path d="M351.05065,163.7445c-.51855,0-.95703-.3999-.99609-.92529l-2.00732-26.7627c-.0415-.55078,.37158-1.03076,.92236-1.07178,.5459-.04297,1.03076,.37158,1.07178,.92236l2.00732,26.7627c.0415,.55078-.37158,1.03076-.92236,1.07178-.02539,.00195-.05078,.00293-.07568,.00293Z" fill="#ffb6b6"/><path d="M335.99596,105.87047c-.48779,0-.91504-.35791-.98779-.85498-.08008-.54639,.29785-1.0542,.84424-1.13428l48.3291-7.08301c.54639-.0791,1.0542,.29785,1.13428,.84424s-.29785,1.0542-.84424,1.13428l-48.3291,7.08301c-.04932,.00732-.09814,.01074-.14648,.01074Z" fill="#ffb6b6"/></g><g><path d="M52.09681,395.6164c-.33691-.56811-1.79446,.04017-2.06242-.47541-.26701-.51372,1.08722-1.29647,1.86091-3.08459,.13952-.32247,1.01877-2.35454,.36787-2.98157-1.23376-1.18852-6.8795,3.7162-8.85526,2.11115-.4336-.35224-.73652-1.05543-2.04885-2.19711-.52207-.45418-.83776-.65925-1.14328-.58295-.43351,.10825-.46787,.68845-.93272,1.82924-.69714,1.71085-1.10948,1.60754-1.51567,2.97252-.30153,1.0133-.23265,1.6024-.58747,1.71718-.5021,.16242-.96427-.91236-1.60059-.81613-.64934,.09821-1.0419,1.34961-1.1659,2.28655-.23269,1.75825,.41301,2.91846,.77089,4.13842,.38892,1.32579,.61974,3.34204-.27842,6.19632l-8.88975,25.04694c1.96258-5.13956,7.64519-19.22846,10.03303-24.46399,.68932-1.51138,1.45043-3.0444,3.01324-3.64944,1.5046-.58253,3.57097-.23474,6.20537-.86938,.30767-.07411,1.16145-.29133,1.26892-.79351,.08884-.41517-.41336-.6469-.3362-1.03574,.1035-.52157,1.09107-.52796,2.30465-1.1297,.85574-.42432,1.38888-.92894,1.84734-1.36288,.13822-.13083,2.19283-2.09967,1.74432-2.85593Z" fill="#f2f2f2"/><path d="M17.12186,408.80216c-.37604,.00144-.49804,.89232-.82841,.87508-.32918-.01717-.32262-.90769-.977-1.80335-.11801-.16152-.86167-1.17938-1.35723-1.04083-.93931,.26261-.16102,4.44875-1.51886,4.95536-.29799,.11118-.73052,.05696-1.66952,.37165-.37355,.12519-.56528,.22096-.61599,.39293-.07195,.244,.2029,.42827,.62869,.98558,.63855,.83579,.46887,1.00837,1.02161,1.60157,.41033,.44036,.71934,.57653,.6733,.7838-.06515,.2933-.72602,.21002-.86238,.5501-.13915,.34704,.36178,.90078,.78586,1.23197,.79582,.62152,1.55156,.63936,2.25359,.81571,.76292,.19165,1.81911,.66011,2.96086,1.92449l9.72823,11.59c-1.95626-2.44617-7.23158-9.30034-9.11224-11.98292-.54291-.7744-1.07571-1.59029-.92175-2.5319,.14822-.90655,.91513-1.82039,1.36375-3.29648,.0524-.17239,.19213-.65411-.02334-.85174-.17813-.16339-.43677,.01623-.60535-.13384-.22613-.20129,.05568-.68784,.1105-1.45709,.03865-.54243-.05519-.9497-.1359-1.29992-.02433-.10559-.39783-1.68208-.89842-1.68015Z" fill="#f2f2f2"/><path d="M24.62389,410.4862l-.22656-2.02246,.10352-.15332c.479-.70898,.72314-1.40137,.72607-2.05859,.00049-.10449-.00439-.20898-.00928-.31543-.01953-.42188-.04395-.94629,.22949-1.55762,.15332-.34082,.58398-1.12988,1.23145-1.03223,.17432,.02441,.30615,.10449,.40625,.19824l.0459-.07227c.20166-.30762,.36133-.43945,.51514-.56641,.11816-.09766,.24023-.19824,.43164-.43652,.08398-.10449,.14941-.19629,.20459-.27344,.16748-.2334,.38623-.51172,.77197-.50684,.41211,.01953,.62793,.36035,.771,.58594,.25537,.40234,.37109,.69238,.44775,.88477,.02783,.07031,.05957,.14941,.07568,.17383,.13281,.19531,1.2124,.0127,1.61914-.05371,.91357-.15234,1.7041-.28418,2.02979,.29199,.2334,.41211,.06006,.95703-.53076,1.66309-.18408,.21973-.37988,.38672-.55371,.51758,.14404,.08594,.27295,.21777,.3252,.4248h0c.12305,.49023-.29834,.98145-1.25195,1.46191-.23682,.12012-.55566,.28027-1.00244,.35742-.21045,.03613-.3999,.04492-.56201,.0498-.00342,.09375-.02539,.19531-.08252,.2998-.16748,.30762-.51611,.4541-1.0415,.41895-.57812-.03027-1.0542-.14062-1.47412-.2373-.3667-.08398-.68262-.15527-.93066-.13867-.45996,.03711-.81445,.40527-1.23047,.88281l-1.03857,1.21387Z" fill="#f2f2f2"/><path d="M25.67487,398.44443l-1.89885,.73215-.17456-.06124c-.8073-.2835-1.53896-.34404-2.17544-.18017-.1012,.02603-.20104,.05726-.30276,.08898-.40312,.1259-.90419,.28253-1.56489,.1731-.36856-.06186-1.24106-.27829-1.31082-.92935-.0206-.17481,.02342-.32264,.08871-.44325l-.08154-.02607c-.34871-.11704-.51673-.23804-.67855-.35462-.12443-.08953-.25269-.18209-.53173-.3068-.12238-.05473-.22777-.09474-.31639-.12854-.26825-.1028-.59295-.2438-.68607-.61817-.08564-.40359,.18929-.6988,.37121-.8944,.32441-.34907,.57561-.53458,.74226-.65753,.06095-.04476,.12942-.09552,.14895-.1173,.15524-.17801-.29525-1.17597-.46265-1.55256-.37909-.84505-.70713-1.57629-.23241-2.03747,.33943-.3303,.9105-.30085,1.74332,.09156,.25923,.12233,.47043,.26937,.6411,.40432,.04659-.16113,.14142-.31926,.32843-.42231h0c.44299-.24337,1.02502,.03964,1.73166,.84019,.17626,.1986,.41205,.4664,.6,.879,.08833,.1944,.14489,.37543,.19073,.531,.09155-.02047,.19537-.02498,.31093,.00378,.34004,.08398,.57016,.38405,.66942,.90118,.11736,.5669,.13137,1.05539,.14437,1.4861,.01178,.37601,.02295,.69968,.10193,.9354,.15256,.43551,.59861,.68502,1.16605,.9663l1.4376,.69671Z" fill="#f2f2f2"/><path d="M24.62389,392.4862l-.22656-2.02246,.10352-.15332c.479-.70898,.72314-1.40137,.72607-2.05859,.00049-.10449-.00439-.20898-.00928-.31543-.01953-.42188-.04395-.94629,.22949-1.55762,.15332-.34082,.58398-1.12988,1.23145-1.03223,.17432,.02441,.30615,.10449,.40625,.19824l.0459-.07227c.20166-.30762,.36133-.43945,.51514-.56641,.11816-.09766,.24023-.19824,.43164-.43652,.08398-.10449,.14941-.19629,.20459-.27344,.16748-.2334,.38623-.51172,.77197-.50684,.41211,.01953,.62793,.36035,.771,.58594,.25537,.40234,.37109,.69238,.44775,.88477,.02783,.07031,.05957,.14941,.07568,.17383,.13281,.19531,1.2124,.0127,1.61914-.05371,.91357-.15234,1.7041-.28418,2.02979,.29199,.2334,.41211,.06006,.95703-.53076,1.66309-.18408,.21973-.37988,.38672-.55371,.51758,.14404,.08594,.27295,.21777,.3252,.4248h0c.12305,.49023-.29834,.98145-1.25195,1.46191-.23682,.12012-.55566,.28027-1.00244,.35742-.21045,.03613-.3999,.04492-.56201,.0498-.00342,.09375-.02539,.19531-.08252,.2998-.16748,.30762-.51611,.4541-1.0415,.41895-.57812-.03027-1.0542-.14062-1.47412-.2373-.3667-.08398-.68262-.15527-.93066-.13867-.45996,.03711-.81445,.40527-1.23047,.88281l-1.03857,1.21387Z" fill="#f2f2f2"/><path d="M26.69322,431.74401l-.42383-.26562-.10254-.48926,.10254,.48926-.49414,.05664c-.00781-.0459-.03467-.15137-.0752-.31641-.22119-.9043-.89551-3.65625-1.45801-7.99023-.39258-3.02539-.61475-6.13574-.66064-9.24609-.0459-3.11523,.10156-5.47363,.21973-7.36914,.08936-1.42969,.19775-2.79102,.3042-4.11719,.2832-3.54297,.55029-6.88965,.35156-10.59473-.04395-.82715-.13623-2.54883-1.14209-4.38086-.5835-1.0625-1.38721-2.00586-2.38916-2.80273l.62305-.7832c1.10596,.88086,1.99512,1.92578,2.64307,3.10547,1.11523,2.03125,1.21582,3.90723,1.26416,4.80859,.20215,3.77051-.06787,7.14941-.354,10.72656-.10547,1.32129-.21387,2.67676-.30273,4.10059-.11719,1.87793-.26318,4.21582-.21777,7.29102,.04492,3.07324,.26465,6.14551,.65186,9.13281,.55566,4.2793,1.22021,6.99023,1.43848,7.88086,.11621,.47559,.14062,.5752,.02148,.76367Z" fill="#f2f2f2"/><path d="M19.09166,386.30651c-.04102,0-.08252-.00098-.12451-.00391-.85156-.0459-1.64014-.55566-2.34424-1.51465-.33008-.45117-.49902-.96582-.83594-1.99219-.05225-.1582-.30615-.96094-.46045-2.06543-.10107-.72168-.08838-1.02344,.05469-1.29004,.15869-.29688,.41553-.50391,.70459-.64355-.0127-.0957-.00244-.19434,.03906-.29492,.17041-.41699,.62354-.3623,.86865-.33594,.12402,.01562,.27881,.03613,.4458,.02734,.2627-.0127,.40381-.09082,.61768-.20801,.20459-.1123,.45898-.25195,.83643-.3291,.74414-.15527,1.36768,.05566,1.57324,.125,1.08154,.36035,1.61475,1.20117,2.23193,2.1748,.12305,.19531,.54541,.90625,.82422,1.88086,.20117,.70312,.17285,1.01562,.1123,1.24805-.12305,.47754-.41357,.75098-1.15137,1.35449-.77051,.63184-1.15723,.94824-1.48926,1.14062-.77295,.44629-1.2583,.72656-1.90283,.72656Z" fill="#f2f2f2"/></g><g><g><path d="M611.3077,281.68874l.45897-35.73419-13.71699-3.77326,.41485,39.51279-3.15586,29.19822,.08197,.03057c-1.32299,1.33037-2.39645,3.45398-2.85349,5.96407-.834,4.58054,.69469,8.69516,3.41432,9.19033,2.71969,.49517,5.60051-2.81659,6.43445-7.39712,.34236-1.88029,.28121-3.67702-.09166-5.18213l.12212,.04556,8.89132-31.85483Z" fill="#a0616a"/><path d="M586.36054,197.6896s6.22512-4.76039,10.61933,2.1971c4.39421,6.95749,16.47827,42.11114,16.47827,42.11114,0,0,3.4946,16.11209,2.66276,18.49228-.83184,2.38019-1.93039,23.32908-1.93039,23.32908l-17.16883-3.114,.4152-20.21508-16.36054-26.11448,5.2842-36.68605Z" fill="#ccc"/></g><g><path d="M471.37616,184.71155l24.06011,26.42449,12.59906-6.60736-27.27825-28.58898-17.62742-23.48977-.08077,.03362c.05848-1.87531-.60691-4.15988-1.98657-6.30604-2.5177-3.91639-6.44374-5.87934-8.76904-4.38449-2.32534,1.49489-2.16945,5.88152,.34828,9.79787,1.0335,1.60767,2.3048,2.8788,3.60478,3.72403l-.12034,.05009,15.25014,29.34654Z" fill="#a0616a"/><path d="M548.32553,229.0589s-1.29885,7.72829-9.25955,5.64431c-7.9607-2.08398-40.78975-19.52122-40.78975-19.52122,0,0-13.55314-9.38744-14.57025-11.69456-1.01711-2.30711-14.51606-18.36455-14.51606-18.36455l14.67126-9.44562,13.49731,15.05472,29.7829,7.91276,21.18412,30.41417Z" fill="#ccc"/></g><circle cx="552.88472" cy="158.3811" r="19.10768" fill="#a0616a"/><g><polygon points="586.40437 493.11544 574.54525 493.11428 568.9038 447.37145 586.40675 447.37267 586.40437 493.11544" fill="#a0616a"/><path d="M545.77354,492.84642h0c-.36925,.62189-.56409,2.62907-.56409,3.35227h0c0,2.22294,1.80202,4.02503,4.02503,4.02503h36.72631c1.51648,0,2.7459-1.22935,2.7459-2.7459v-1.52903s1.81681-4.59554-1.92369-10.2598c0,0-4.64894,4.4352-11.59566-2.51151l-2.04852-3.71106-14.8285,10.84481-8.21921,1.01171c-1.7982,.22132-3.39246-.03435-4.31743,1.52348h-.00014Z" fill="#2f2e41"/></g><g><polygon points="552.40437 493.11544 540.54525 493.11428 534.9038 447.37145 552.40675 447.37267 552.40437 493.11544" fill="#a0616a"/><path d="M511.77354,492.84642h0c-.36925,.62189-.56409,2.62907-.56409,3.35227h0c0,2.22294,1.80202,4.02503,4.02503,4.02503h36.72631c1.51648,0,2.7459-1.22935,2.7459-2.7459v-1.52903s1.81681-4.59554-1.92369-10.2598c0,0-4.64894,4.4352-11.59566-2.51151l-2.04852-3.71106-14.8285,10.84481-8.21921,1.01171c-1.7982,.22132-3.39246-.03435-4.31743,1.52348h-.00014Z" fill="#2f2e41"/></g><polygon points="594.8153 294.60046 517.8153 298.60046 534.8153 472.60046 551.8153 471.60046 557.8153 366.60046 560.3153 329.10046 570.51215 468.7225 587.8153 468.60046 594.8153 294.60046" fill="#2f2e41"/><path d="M572.00463,182.60046l-29.16292-1-19.52641,19.41732v63.61024l-7.62528,39.97244s51.28652-5,61.3427,5,28.1573,3,28.1573,3l-9.05056-52.88583-4.02247-61.11417-20.11236-16Z" fill="#ccc"/><path d="M561.2965,177.10051l-16.2553-3.84017-2.50827-9.8553s-.06035-4.64563-2.25363-5.16377-6.06169-3.7477-6.06169-3.7477l3.7477-6.06169s-9.03218-.97593-6.32076-2.65107,3.10368-.92047,3.48863-4.96503c.79645-8.36865,26.40289-7.14709,28.39191-2.55542,0,0,3.28992,.7772,4.96506,3.48862,1.67514,2.71142,2.5127,4.06713,3.60934,4.3262s1.67514,2.71142,1.67514,2.71142c0,0,3.86841,3.22956,2.5127,4.06713s-2.39199,5.22412-2.39199,5.22412c0,0,3.60934,4.3262-4.46456,13.99724l-4.30148,6.92005-3.83278-1.89464Z" fill="#2f2e41"/><g><path d="M582.17028,205.20216l1.13947-7.74817c.83038-5.64667-2.91504-10.57465-7.99445-11.78772v-3.21228c0-2.76141-2.23859-5-5-5s-5,2.23859-5,5v4.28491l-19,4.03027v-5.31519c0-2.76141-2.23859-5-5-5s-5,2.23859-5,5v5.05157l-1.88892-.49274c-5.64087-1.47156-10.09705,5.00049-6.58862,9.65619,.04535,.06018,.09143,.12042,.13831,.18066,4.68341,6.02155,6.02155,11.37408,6.02155,11.37408l-3.34534,18.06476,3.81024,37.55756c.49103,4.84064,4.65723,8.46777,9.51941,8.28766l36.99292-1.37012c4.85834-.17993,8.74774-4.09729,8.88007-8.95715,.47125-17.31067,.52545-54.98615-7.68463-59.60431Z" fill="#3f3d56"/><path d="M549.05065,270.09803c-.51855,0-.95703-.3999-.99609-.92529l-2.00732-26.7627c-.0415-.55078,.37158-1.03076,.92236-1.07178,.5459-.04297,1.03076,.37158,1.07178,.92236l2.00732,26.7627c.0415,.55078-.37158,1.03076-.92236,1.07178-.02539,.00195-.05078,.00293-.07568,.00293Z" fill="#ffb6b6"/><path d="M533.99596,212.22401c-.48779,0-.91504-.35791-.98779-.85498-.08008-.54639,.29785-1.0542,.84424-1.13428l48.3291-7.08301c.54639-.0791,1.0542,.29785,1.13428,.84424s-.29785,1.0542-.84424,1.13428l-48.3291,7.08301c-.04932,.00732-.09814,.01074-.14648,.01074Z" fill="#ffb6b6"/></g><polygon points="536.20153 271.69909 517.3153 226.10046 522.3153 228.10046 542.42906 268.50182 536.20153 271.69909" fill="#3f3d56"/></g><path d="M654.04004,500.16453h0c0,.46394-.37609,.84003-.84003,.84003H71v-1.68005H653.20001c.46393,0,.84003,.37609,.84003,.84003Z" fill="#e6e6e6"/><path id="c-278" d="M447.67549,143.67057c3.24322,3.05106,7.44638,3.85078,9.38775,1.78646s.8857-6.21036-2.35908-9.26207c-1.27944-1.23681-2.83646-2.14924-4.54081-2.66094l-13.90491-12.75393-5.84596,6.65274,14.32843,11.8668c.61508,1.67044,1.62134,3.16925,2.93457,4.37094Z" fill="#ffb6b6"/><path d="M435.77607,77.59235s-16.95286-21.11888-23.46077-19.4919c-8,2-6,10-14.27517,31.39613-2.07245,5.3585-4.2488,10.55186-.06638,14.49089l11.53186,10.86078,24.58396,20.7282,9.88997-10.35319-19.64796-25.33688,11.4445-22.29402Z" fill="#c2121e"/></svg> </div>
            <div class="col-sm-5 col pl-sm-3 pt-4 services-inner " >
                <h3 class="pb-3"><b>Eine Vision...<br>
                    ...und <span>du</span> kannst dabei sein
                </b></h3>
                <div class="pb-5" style="line-height: 2">Mit Revitalyze schaffen wir ein Ökosystem, das den ganzheitlichen Prozess vom Abriss, über Logistikplanung, bis hin zur Bezahlung der Entsorgungs- oder Transportkosten sowie den Einkauf von Recyclingmaterialien auf einer Plattform zusammenführt. Damit bringen wir Transparenz in eine fragmentierte Branche und entwickeln den ersten Sekundärmarktplatz für Materialien, der Angebot und Nachfrage räumlich und zeitlich zusammenführt. 

                    Werde auch du Teil im Revitalyze-Ökosystem und Begleite uns auf dem Weg, kreislauffähiges Bauen Wirklichkeit werden zu lassen. </div>
                    <div class="row d-flex justify-content-start align-items-center">
            

                        <div class="col d-flex justify-content-center">
                            <button type="button" style=" height:45px; 
                            font-size: 20px; border-radius: 30px; width: 250px; font-weight: normal;" 
                            class="btn btn-danger" onclick="window.location.href ='{%url 'Dash:register'%}'" >Jetzt registrieren!</button>
                            
                        </div>           
                </div></div> 
                    
        </div>
       
    </div>
</div>
                      
{% endblock %}

