{% load static%}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">


<head>
    <title>Revitalyze - Dashboard</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!--Bootstrap 5 CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/revitalyze-main.js' %}"></script>
    <script type="application/json" src="/admin/jsi18n/"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> 
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- google maps-->
    <script src="{%static 'js/init_maps.js'%}"></script>
</head>

<body class="sidebar-mini fixed">
   
    <div class="wrapper">
       
        <aside class="main-sidebar hidden-print ">

            <!-- <img src="{% static 'images/logos/logo_red.svg' %}"> -->

            <section class="sidebar" id="sidebar-scroll">
                <!-- Sidebar Menu-->
                <ul class="sidebar-menu nav flex-column">
                 
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Dash:dashboard'%}">
                            <i class="bi bi-speedometer2"></i><span> Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Dash:user_profile'%}"><i class="bi bi-file-person"></i> Profil</a>
                    </li>
                    <li class="nav-item">
                        <li> <a class="nav-link" href="{%url 'logout'%}">Logout</a></li>
                    </li>
                </ul>
            </section>
        </aside> 
        <div class="container m-0 p-0">
            {% block dashboard_body_block%}

            <div class="p-5"><h1>Willkommen in Ihrem Revitalyze-Account!</h1></div>

            {% endblock %}
        </div>
    </div>

</body>

</html>