{% load crispy_forms_tags %}

<div class="grid-container-days">
    <div class="grid-container-hours">

    <div class="grid-container-vormittag">Vormittag</div>
    <div class="grid-container-nachmittag">Nachmittag</div>
    </div>
    <div class="grid-container-hours">
        {{ hours_form.management_form }}
        <div class="grid-item">
            <div class="weekdays-displayed">Montag</div>
        </div>
        {{ hours_form.0.id }}
        <div class="grid-item">
            <p>von:</p>
            {{ hours_form.0.opening_hours_am_from }}
        </div>
 
        <div class="grid-item">
            <p>bis:</p>
            {{hours_form.0.opening_hours_am_to}}
        </div>

        <div class="grid-item">
            <p>von:</p>
            {{ hours_form.0.opening_hours_pm_from }}
        </div>

        <div class="grid-item">
            <p>bis:</p>
            {{hours_form.0.opening_hours_pm_to}}
        </div>
    </div>

    <div class="grid-container-hours">
        
        <div class="grid-item">
            <div class="weekdays-displayed">Dienstag</div>
        </div>
        {{ hours_form.1.id }}
        <div class="grid-item">
            <p>von:</p>
            {{ hours_form.1.opening_hours_am_from}}
        </div>

        <div class="grid-item">
            <p>bis:</p>
            {{hours_form.1.opening_hours_am_to}}
        </div>

        <div class="grid-item">
            <p>von:</p>
            {{ hours_form.1.opening_hours_pm_from}}
        </div>

        <div class="grid-item">
            <p>bis:</p>
            {{hours_form.1.opening_hours_pm_to }}
        </div>
    </div>

    <div class="grid-container-hours">        
        <div class="grid-item">
            <div class="weekdays-displayed">Mittwoch</div>
        </div>
        {{ hours_form.2.id }}
        <div class="grid-item">
            <p>von:</p>
            {{ hours_form.2.opening_hours_am_from}}
        </div>

        <div class="grid-item">
            <p>bis:</p>
            {{hours_form.2.opening_hours_am_to }}
        </div>

        <div class="grid-item">
            <p>von:</p>
            {{ hours_form.2.opening_hours_pm_from}}
        </div>

        <div class="grid-item">
            <p>bis:</p>
            {{hours_form.2.opening_hours_pm_to}}
        </div>
    </div>
    <div class="grid-container-hours">        
        <div class="grid-item">
            <div class="weekdays-displayed">Donnerstag</div>
        </div>
        {{ hours_form.3.id }}
        <div class="grid-item">
            <p>von:</p>
            {{ hours_form.3.opening_hours_am_from}}
        </div>

        <div class="grid-item">
            <p>bis:</p>
            {{hours_form.3.opening_hours_am_to }}
        </div>

        <div class="grid-item">
            <p>von:</p>
            {{ hours_form.3.opening_hours_pm_from}}
        </div>

        <div class="grid-item">
            <p>bis:</p>
            {{hours_form.3.opening_hours_pm_to }}
        </div>
    </div>
    <div class="grid-container-hours">        
        <div class="grid-item">
            <div class="weekdays-displayed">Freitag</div>
        </div>
        {{ hours_form.4.id }}
        <div class="grid-item">
            <p>von:</p>
            {{ hours_form.4.opening_hours_am_from}}
        </div>

        <div class="grid-item">
            <p>bis:</p>
            {{hours_form.4.opening_hours_am_to }}
        </div>

        <div class="grid-item">
            <p>von:</p>
            {{ hours_form.4.opening_hours_pm_from}}
        </div>

        <div class="grid-item">
            <p>bis:</p>
            {{hours_form.4.opening_hours_pm_to}}
        </div>
    </div>
    <div class="grid-container-hours">        
        <div class="grid-item">
            <div class="weekdays-displayed">Samstag</div>
        </div>
        {{ hours_form.5.id }}
        <div class="grid-item">
            <p>von:</p>
            {{ hours_form.5.opening_hours_am_from }}
        </div>

        <div class="grid-item">
            <p>bis:</p>
            {{hours_form.5.opening_hours_am_to }}
        </div>

        <div class="grid-item">
            <p>von:</p>
            {{ hours_form.5.opening_hours_pm_from }}
        </div>

        <div class="grid-item">
            <p>bis:</p>
            {{hours_form.5.opening_hours_pm_to}}
        </div>
    </div>
    <div class="grid-container-hours">        
        <div class="grid-item">
            <div class="weekdays-displayed">Sonntag</div>
        </div>
        {{ hours_form.6.id }}
        <div class="grid-item">
            <p>von:</p>
            {{ hours_form.6.opening_hours_am_from}}
        </div>

        <div class="grid-item">
            <p>bis:</p>
            {{hours_form.6.opening_hours_am_to}}
        </div>

        <div class="grid-item">
            <p>von:</p>
            {{ hours_form.6.opening_hours_pm_from}}
        </div>

        <div class="grid-item">
            <p>bis:</p>
            {{hours_form.6.opening_hours_pm_to}}
        </div>
    </div>
    
</div>