{% extends 'dash/dashboard/dashboard.html' %}
{% load crispy_forms_tags %} 
{% block dashboard_body_block%} 
<div class="container pl-5 pt-3">
    <h2>Change Password</h2>
    <div class="col-sm">
        <form method="post">
            {% csrf_token %}
            {% for field in form %} 
                <div class="row">
                    <div class="col col-lg-4"> {{ field | as_crispy_field}}</div>
                </div> 
            {% endfor %}
            
            {{ field.errors }}
            <div class="row">
            <div class="col col-lg-4 pb-4"> <button type="submit" class="btn">Submit</button></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}