{% extends 'dash/dashboard/dashboard.html' %} {% load crispy_forms_tags %} {% block dashboard_body_block%}

<div class="container p-5">

    <div class="row py-2">
        <div class="col-6 col-sm-3">
            <h4>Standortdaten:</h4>
        </div>
    </div>
    <form method="post" id="gln-form" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="row py-2" style="max-width: 650px">
            <div class="col" >
                <div class="col">
                    <b>GLN-Nummer</b>
                </div>               
                <div class="col"  style="max-width: 85%">
                    {{gln_form.gln|as_crispy_field}}
                </div>              
            </div>
            <div class="col pl-4">
                <div class="col">
                    <b>Land</b>
                </div>
                <div class="">
                    <div class="col"  style="max-width: 85%">
                        {{adress_form_gln.country|as_crispy_field}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6 col-sm-3">
                <b>Stadt</b>
            </div>
            <div class="col-6 col-sm-3">
                {{adress_form_gln.city|as_crispy_field}}
            </div>
        </div>

        <div class="row py-2">
            <div class="col-6 col-sm-3">
                <b>Postleitzahl</b>
            </div>
            <div class="col-6 col-sm-3">
                {{adress_form_gln.zipCode|as_crispy_field}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6 col-sm-3">
                <b>Straße</b>
            </div>
            <div class="col-6 col-sm-3">
                {{adress_form_gln.street|as_crispy_field}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6 col-sm-3">
                <b>Telefon</b>
            </div>
            <div class="col-6 col-sm-3">
                {{adress_form_gln.phone|as_crispy_field}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6 col-sm-3">
                <b>Sonderbedingungen</b>
            </div>
            <div class="col-6 col-sm-3">
                {{gln_form.special_conditions|as_crispy_field}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6 col-sm-3">
                <b>Mindestabgabemenge in Tonnen</b>
            </div>
            <div class="col-6 col-sm-3">
                {{gln_form.min_amount_in_t|as_crispy_field}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col">
                <b>Welche Materialien übernehmen Sie?</b>
                <div class="row p-4">
                    <div class="col">                    
                        {% include "./show_materials.html" %}                                     
                    </div>
                </div>
            </div>         
                   
        </div>
            <div class="row py-2">
                <div class="pb-3"><b>Materialien hinzufügen:</b></div>
                <div class="col-6 d-flex">
                    <div class="col pr-3 pb-3"> <input type="radio" class="form-check-input" name="codex-radio"  id="checkbox_AT" value="AT-codex"> Österreichischer Abfallcodex </div>
                    <div class="col px-3 pb-3"> <input type="radio" class="form-check-input" name="codex-radio" id="checkbox_EU" value="EU-codex"> Europäischer Abfallcodex </div>
                {{ gln_form.media.js }}
                
            </div>
        <div class="row" id="picker_material_at">
                    {{ gln_form.material_at }}                 
                </div>
                <div class="row" id="picker_material_eu">
                    {{ gln_form.material_eu }}                 
                </div>
        <div class="row py-2">
            <div class="col-6 col-sm-3">
                <b>Öffnungszeiten</b>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6 ">
                {% include "./business_hours.html" %}
            </div>
        </div>
        <input type="hidden" name="gln_id" value="{{gln_id}}" />
        <input type="hidden" name="materials-for-gln" id="materials-for-gln" value="" />
        <input type="hidden" name="material-country" id="material-country" value="" />
        

        <div class="row pt-4 pb-2">
            <div class="col-8 col-sm-6">
           <button type="submit" id="submit-gln-form" class="btn btn-primary ">GLN-Standort hinzufügen</button> {{ field.errors }}
            </div>
        </div>
        

    </form>
    <form class="">
        <input type="button" value="zurück" class="btn btn-primary" onclick="history.back()">
    </form>
</div>

<script>
    $(document).ready(function() { 
        
        $(picker_material_at).hide()
        $(picker_material_eu).hide()
        
        $('input[type=radio][name=codex-radio]').change(function() {
            if (this.value == 'AT-codex') {
                $(picker_material_eu).hide()
                $(picker_material_at).show()
 
            } else if (this.value == 'EU-codex') {
                $(picker_material_at).hide()
                $(picker_material_eu).show()
            }
        })

        $('#submit-gln-form').click(function(event){
            event.preventDefault();
            if ($('input[name=codex-radio]:checked').val() === "AT-codex"){
                $('#materials-for-gln').val($('#id_material_at').val());
            $('#gln-form').submit()
            }else if($('input[name=codex-radio]:checked').val() === "EU-codex"){
                $('#materials-for-gln').val($('#id_material_eu').val());
                $('#gln-form').submit()
            }
        })

 /*$('input[type=radio][name=codex-radio]').change(function() {
        $('#tags').empty();
        if (this.value == 'AT-codex') {
             let idCounter=0;
             var availableTags_AT = []
                {% for material in material_at %}
                    availableTags_AT.push({
                        id: {{material.id}},
                        text:
                        {% if material.Gefaehrlich %}       
                            "Bezeichnung (AT): " +"{{material.Bezeichnung}} "+ "Schlüsselnummer (AT): " +"{{material.Abfallschluesselnummer}}" + " Gefährlich"
                        {% else %}
                             "Bezeichnung (AT): " +"{{material.Bezeichnung}} "+ "Schlüsselnummer (AT): " +"{{material.Abfallschluesselnummer}}"
                        {% endif %}
                    },)
                    {% endfor %}
                


        $('#tags').select2({
            minimumInputLength: 3,
            data: availableTags_AT,
            closeOnSelect: false,
            placeholder: "Material eingeben",
            allowClear: true
        });
        } else if (this.value == 'EU-codex') {
            $('#tags').empty();
        
           var availableTags_EU = []
            {% for material in material_eu %}
                availableTags_EU.push({
                    id: {{material.id}},
                    text: "Bezeichnung (EU): " +"{{material.Bezeichnung}} "+ "Schlüsselnummer (EU): " +"{{material.Abfallschluesselnummer}}"
            
                },)
                {% endfor %}
     
        $('#tags').select2({
            minimumInputLength: 2,
            data: availableTags_EU,
            closeOnSelect: false,
            placeholder: "Material eingeben",
            allowClear: true
        });
        }
    });*/

    });
</script>
{% endblock %}