{% extends 'dash/dashboard/dashboard.html' %} 
{% load crispy_forms_tags %}
{% block dashboard_body_block%} 

<div class="container p-5">

    <div class="row py-2">
        <div class="col">
            <h4>Bitte Profildaten hier ändern:</h4>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
    <div class="row py-2">
        <div class="col">
            <div class="col">
                <b>Telefonnumer</b>
            </div>
            <div class="row">
                {{adress_form.phone | as_crispy_field}}
            </div>
        </div>
        <div class="col ">
            <div class="col">
                <b>Land</b>
            </div>
            <div class="row">
                {{adress_form.country | as_crispy_field}}
            </div>
        </div>
    </div>
    
    <div class="row py-2">
        <div class="col">
            <div class="col">
                <b>Stadt</b>
            </div>
            <div class="row">
                {{adress_form.city | as_crispy_field}}
            </div>
        </div>
        <div class="col">
            <div class="col">
                <b>Postleitzahl</b>
            </div>
            <div class="row">
                {{adress_form.zipCode | as_crispy_field}}
            </div>
        </div>
    </div>
    
    <div class="row py-2">
        <div class="col">
            <b>Straße</b>
        </div>
        <div class="row">
            {{adress_form.street | as_crispy_field}}
        </div>
    </div>
    <div class="row py-2 d-flex justify-content-center">
        <div class="col">
            <b>Unternehmensname</b>
        </div>
        <div class="row">
            <input type="text" class="form-control" name="company_name">
        </div>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Änderungen übernehmen">
</form>
<form class="py-2">
    <input type="button" class="btn btn-primary" value="zurück" onclick="history.back()">
   </form>
</div>

{% endblock %}