{% if database_material_at %}
<div class="row">
    <p style="font-weight: bold; display:inline-block;
    border-bottom:1px solid black; width: 550px;
    padding-bottom:2px;"><span style="position:relative; left:200px;">Nach österreichischem Abfallcodex</span></p>
    <div class="container px-0" >    
        <div class="row py-2 d-flex align-items-center" style="font-weight: bold">
            <div type="checkbox" style="height:16px; width: 25px;" class="col-1" ></div>
            <div class="col-5" >Bezeichnung</div>
            <div class="col-3 d-flex justify-content-center" >Abfallschlüsselnummer</div>
            <div class="col-2 d-flex justify-content-center" >Spezifizierung</div>
            <div class="col-1 d-flex justify-content-center" >Gefährlich</div>
        </div>
        <div style="border: 1px solid #CCC; border-radius:4px;">
        {% for material in database_material_at %}
            <div class="row py-2 d-flex align-items-center">
            <input type="checkbox" name="material_to_delete_checkbox" style="height:16px; width: 25px;" class="col-1" id="{{material.id}}_AT" value="{{material.id}}_AT">
            <label class="col-5" for="{{material.id}}_AT">{{ material.Bezeichnung }}</label>
            <label class="col-3 d-flex justify-content-center" for="{{material.id}}_AT">{{ material.Abfallschluesselnummer }}</label>
            {% if material.Gefaehrlich %}
            <label class="col-2 d-flex justify-content-center" for="{{material.id}}_AT">{{ material.Abfallspezifizierung }}</label>
            {% else %}
                <div class="col" ></div>
                {% endif %}
            {% if material.Gefaehrlich %}
                <label class="col-1 d-flex justify-content-center" for="{{material.id}}_AT"><svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M12 12.5ZM1 21 12 2l11 19Zm10-6h2v-5h-2Zm1 3q.425 0 .713-.288Q13 17.425 13 17t-.287-.712Q12.425 16 12 16t-.712.288Q11 16.575 11 17t.288.712Q11.575 18 12 18Zm-7.55 1h15.1L12 6Z"/></svg></label>
                {% else %}
                <div class="col" ></div>
                {% endif %}

            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if database_material_eu %}
{% if database_material_at %}
<div class="row pt-4">
    <p style="font-weight: bold; display:inline-block;
    border-bottom:1px solid black; width: 550px;
    padding-bottom:2px;"><span style="position:relative; left:200px;">Nach europäischem Abfallcodex</span></p>
{% endif %}
    <div class="container px-0" >    
        <div class="row py-2 d-flex align-items-center" style="font-weight: bold">
            <div type="checkbox" style="height:16px; width: 25px;" class="col-1" ></div>
            <div class="col-7" >Bezeichnung</div>
            <div class="col-3 d-flex justify-content-center" >Abfallschlüsselnummer</div>
            <div class="col-1 d-flex justify-content-center" >Gefährlich</div>
        </div>
        <div style="border: 1px solid #CCC; border-radius:4px;">
        {% for material in database_material_eu %}
            <div class="row py-2 d-flex align-items-center">
            <input type="checkbox" name="material_to_delete_checkbox" style="height:16px; width: 25px;" class="col-1" id="{{material.id}}_EU" value="{{material.id}}_EU">
            <label class="col-7" for="{{material.id}}_EU">{{ material.Bezeichnung }}</label>
            <label class="col-3 d-flex justify-content-center" for="{{material.id}}">{{ material.Abfallschluesselnummer }}</label>
            {% if material.Gefaehrlich %}
                <label class="col-1 d-flex justify-content-center" for="{{material.id}}_EU"><svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M12 12.5ZM1 21 12 2l11 19Zm10-6h2v-5h-2Zm1 3q.425 0 .713-.288Q13 17.425 13 17t-.287-.712Q12.425 16 12 16t-.712.288Q11 16.575 11 17t.288.712Q11.575 18 12 18Zm-7.55 1h15.1L12 6Z"/></svg></label>
            {% else %}
                <div class="col" ></div>
            {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>  
    {% if database_material_at %}
        </div>
    {% endif %}
{% endif %}
<div class="w-100 d-flex justify-content-end">
<button class="btn btn-primary m-4"  type="button" id="delete-materials-btn">Ausgewählte Löschen</button>
</div>
<script>
    $('#delete-materials-btn').click(function(e){
        e.preventDefault();
        let checkboxContainer=[]
        $("input:checkbox[name=material_to_delete_checkbox]:checked").each(function(){
            checkboxContainer.push($(this).val());
        });
        const gln_id = '{{gln_id}}';
       
        let payload = {
            materials_to_remove : checkboxContainer,
            gln_id: gln_id
        }
        console.log(payload)
        $.ajax({
            type: "POST",
            url: '/dash/remove_materials/',
            data: payload, // serializes the form's elements.
            success: function(data)
            {
              $.each(checkboxContainer, function(index, item)
              {
             
                $('#'+item).parent().remove();
              }); 
            }
        });
    })

</script>