{% extends 'dash/dashboard/dashboard.html' %}{% load static%} {% block dashboard_body_block%}

<div class="p-4 profil-username">
    <h1>{{usermodel_data.username}}</h1>
</div>

<div class="container p-5">

    <div class="row py-2">
        <div class="col-6 col-sm-3">
            <h4>Profildaten</h4>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-8 info-text col-sm-6">
         Die hier angegebenen Profildaten werden in der Suche angezeigt und ermöglichen potentiellen Kunden
         Sie zu finden und mit Ihnen Kontakt aufzunehmen.
        </div>
        <div class="col-6 col-sm-3 w-50">

        </div>
    </div> 

    <div class="row py-2">
        <div class="col-3">
            <div class="col">
                <b>VAT</b>
            </div>
            <div class="row">
                <div class="col">
                     {{usermodel_type_data.uid}}
                </div>               
            </div>
        </div>
        <div class="col">
            <div class="col">
                <b>E-mail</b>
            </div>
            <div class="row">
                <div class="col">
                    {{usermodel_data.email}}
                </div>               
            </div>
        </div>
    </div>
   
    <div class="row py-2">
        <div class="col-3">
            <div class="col">
                <b>Adresse</b>
            </div>
            <div class="row">
                <div class="col">
                    {%if usermodel_adress_data.city %} 
                    {{usermodel_adress_data.street}},
                    {{usermodel_adress_data.city}},
                    {{usermodel_adress_data.zip_code}},
                    {{usermodel_adress_data.country}} {%else%}
                    <p>Jetzt angeben</p>
                    {%endif%}
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="col">
                <b>Unternehmensname</b>
            </div>
            <div class="row">
                <div class="col">
                {%if usermodel_data.first_name %} 
            {{usermodel_data.first_name}}
                {%else%}
                        <p>Jetzt angeben</p>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>

    <div class="row py-2">
        <div class="col-3">
            <div class="col">
                <b>Telefon</b>
            </div>
            <div class="row">
                <div class="col">
                    {%if usermodel_adress_data.phone %} 
                    {{usermodel_adress_data.phone}} {%else%}
                    <p>Jetzt angeben</p>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>

    <div class="py-2 row user_profile_btn_align d-flex justify-content-start manage-profile-password-change-grid">
        <div class="col  py-5 pr-0 d-flex justify-content-start">
            <a href="{% url 'Dash:modify_user_profile'%}">
                <button type="submit" class="btn profile-btn" >
                    <div class="grid-btn">
                    <div class="grid-btn-item-left1"><h5 >Profil bearbeiten</h5></div>
                    <div class="grid-btn-item-left2">Hier können Sie Ihre Profilangaben ändern oder nachtragen.</div>
                        <div class="grid-btn-arrow"><img class="btn-arrow-color" src="{%static '/images/icons/keyboard_double_arrow_right_black_24dp.svg' %}"></div>
            </div>
            </button></a>
        </div>

        <div class="col py-5 d-flex justify-content-start">
            <a href="{% url 'Dash:change_password'%}">
                <button type="submit" class="btn profile-btn" >
                    <div class="grid-btn">
                    <div class="grid-btn-item-left1"><h5 >Passwort ändern</h5></div>
                    <div class="grid-btn-item-left2">Revitalyze-Passwort anpassen (in regelmässigen Abständen empfholen)</div>
                        <div class="grid-btn-arrow"><img class="btn-arrow-color" src="{%static '/images/icons/keyboard_double_arrow_right_black_24dp.svg' %}"></div>
            </div>
            </button></a>
        </div>
    </div>

    <div class="row py-2">
        <div class="col-6 col-sm-3">
            <h4>Standorte</h4>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-8 info-text col-sm-6">
            Ein Standort kann eine Deponie, eine Recyclinganlage oder eine sonstige Annahmestelle für Materialien sein.
        </div>
        <div class="col-6 col-sm-3 w-50">

        </div>
    </div> 

    <div class="row py-2 user_profile_btn_align">

        <div class="col">
            {%if usermodel_gln_data %}
                        {% for gln_data in usermodel_gln_data%} 
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'Dash:add_gln'%}?gln-id={{gln_data.id}}">
                                        <button type="submit" class="btn profile-btn py-2 gln-location-profile-btn" >
                                            <div class="grid-btn-gln-location-profile">
                                                <div class="grid-btn-gln-location-profile-item-left1 ">
                                                <div class="col"> <img class="btn-gln-place-color" src="{%static '/images/icons/place_black_24dp.svg' %}"></div>
                                                    <div class="col"> <h5 >{{gln_data.adress}}</h5> </div>
                                                </div>
                                                {% if gln_data.gln %}
                                                    <div class="grid-btn-gln-location-profile-left2"> 
                                                        Gln: {{gln_data.gln}}
                                                    </div>
                                                {% endif %}
                                            <div class="grid-btn-gln-location-profile-arrow">
                                                <img class="btn-arrow-color" src="{%static '/images/icons/arrow_right_alt_black_24dp.svg' %}">
                                            </div>
                                        </div>
                                        </button>
                                    
                                    </a>
                                </div>
                                <div class="col d-flex align-items-center">
                                <form method="post" enctype="multipart/form-data">
                                    {%csrf_token%}
                                    <input type="hidden" name="delete_gln" value="{{gln_data.id}}" />
                                    <button type="submit" class="btn btn-delete py-2" >
                                        <i class="bi bi-x-square-fill" style="color:red;"></i>
                                    </button>
                                </form>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div> 
                <div class="row">
                        <div class="col jumbotron d-flex py-3 justify-content-start">
                            <div style="height: 500px; width: 800px;" id="map">map</div>
                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU9z_Yz39-G4AjERSbxZOlwdeM92d3Kcg&callback=initMap" async></script>
                        
            {%else%}
                <p class="p-5">Es sind noch keine GLN-Daten vorhanden</p>
            {%endif%}
            </div>
        </div>
    

    <div class="row py-2 d-flex justify-content-start user_profile_btn_align">
        <div class="col w-100 d-flex py-3 justify-content-start">
            <a href="{% url 'Dash:add_gln'%}"><button type="submit" class="btn profile-btn" >
                <div class="grid-btn">
                <div class="grid-btn-item-left1"><h5 >Neuen Standort hinzufügen</h5></div>
                <div class="grid-btn-item-left2"> Lege Preislisten an, setze Öffnungszeiten fest und füge Adresse und Sonderbestimmungen hinzu.</div>
                    <div class="grid-btn-arrow"><img class="btn-arrow-color" src="{%static '/images/icons/keyboard_double_arrow_right_black_24dp.svg' %}"></div>
        </div>
        </button></a>
        
        </div>
    </div>
    <script type="text/javascript">
        let location_points = [];
        let gln_data_unsplitted;
        let splitted_points;
        let nameForMarker;
        {% for gln_data in usermodel_gln_data%} 
            gln_data_unsplitted = "{{gln_data.location}}";
            splitted_points = gln_data_unsplitted.split('(')[1].split(')')[0];
            nameForMarker = '{{gln_data.id}}';
            location_points.push(splitted_points); 
        {% endfor %}

    </script>

</div>

{% endblock %}

